<#bs4Body>

<div class="container-fluid">
    <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.boutiqueEntranceRecord'/>">
    <form id="saveForm" role="form" novalidate>
        <div class="row row-cols-2">

            <div class="form-group col">
                <label _log for="plate">挂号<i class="red">*</i></label>
                <input type="text" class="form-control" id="plate" name="plate" value="${boutiqueEntranceRecord.plate!}" disabled />
            </div>

            <div class="form-group col">
                <label for="carTypeId">车型</label>
                <select id="carTypeId"  name="carTypeId" class="form-control" disabled ></select>
                <#bcomboProvider _log="车型" _id="carTypeId" _provider="boutiqueCarTypeProvider" _value="${boutiqueEntranceRecord.carTypeId!}"  />
            </div>

            <div class="form-group col">
                <label _log for="customerName">客户姓名<i class="red">*</i></label>
                <input type="text" class="form-control" id="customerName" name="customerName" value="${boutiqueEntranceRecord.customerName!}"  disabled  />
            </div>

            <div class="form-group col">
                <label _log  for="customerCellphone">联系电话<i class="red">*</i></label>
                <input type="text" class="form-control" id="customerCellphone" name="customerCellphone" value="${boutiqueEntranceRecord.customerCellphone!}"  disabled  />
            </div>

            <div class="form-group col">
                <label for="enterTime">进场时间<i class="red">*</i></label>
                <input type="text" class="form-control" value="${boutiqueEntranceRecord.enterTime!,localDateTimeFormat='yyyy-MM-dd HH:mm:ss'}" disabled />
            </div>

            <div class="form-group col">
                <label _log for="confirmTime">确认时间<i class="red">*</i></label>
                <input type="text" class="form-control" value="${boutiqueEntranceRecord.confirmTime!,localDateTimeFormat='yyyy-MM-dd HH:mm:ss'}" disabled />
            </div>

            <div class="form-group col">
                <label _log for="price">开始计费<i class="red">*</i></label>
                <input type="text" class="form-control" value="${boutiqueEntranceRecord.startTime!,localDateTimeFormat='yyyy-MM-dd HH:mm:ss'}" disabled />
            </div>

            <div class="form-group col">
                <label _log for="price">下次计费<i class="red">*</i></label>
                <input type="text" class="form-control" value="${boutiqueEntranceRecord.countTime!,localDateTimeFormat='yyyy-MM-dd HH:mm:ss'}" disabled />
            </div>

            <div class="form-group col">
                <label for="departmentId">接车部门</label>
                <select id="departmentId"  name="departmentId" class="form-control" disabled ></select>
                <#bcomboProvider _log="接车部门" _id="departmentId" _provider="carDepartmentProvider" _value="${boutiqueEntranceRecord.departmentId!}" />
            </div>

            <div class="form-group col">
                <label _log for="totalAmount">已交费<i class="red">*</i></label>
                <input type="text" class="form-control" id="totalAmount" name="totalAmount" value="<#centToYuan value='${boutiqueEntranceRecord.totalAmount}'/>"  disabled  />
            </div>
        </div>

        <div class="col-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                <button id="btn_cancel" type="button" class="btn btn-primary" onclick="openCancelHandler()"><i class="fa fa-eye"></i>取消</button>
                <button id="btn_refund" type="button" class="btn btn-primary" onclick="openRefundHandler()"><i class="fa fa-ban"></i> 退款</button>

            </div>
        </div>
        <div id="details">
            <table id="boutiqueListTable" data-toggle="table"  class="table" data-toolbar="#toolbar"
                   data-content-type="application/x-www-form-urlencoded" data-single-select="true"
                   data-click-to-select="true" data-unique-id="id" data-sort-name="id"
                   data-sort-order="desc" data-icons="bui.variable.icons" data-buttons-class="primary"
                   data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true">
                <thead>
                <tr>
                    <th data-id="id" class="d-none"></th>
                    <th data-radio="true"></th>
                    <th style="font-weight:normal; ">缴费单号</th>
                    <th style="font-weight:normal; ">创建时间</th>
                    <th style="font-weight:normal; ">费用时间范围</th>
                    <th style="font-weight:normal; ">缴费金额/元</th>
                    <th style="font-weight:normal; ">备注</th>
                    <th style="font-weight:normal; " data-field="state">状态</th>
                </tr>
                </thead>
                <tbody>
                <%
                if(boutiqueEntranceRecord.orderDtoList.~size>0){
                for(item in boutiqueEntranceRecord.orderDtoList){%>
                <tr>
                    <td data-id="id" class="d-none">${item.id!''}</td>
                    <td></td>
                    <td>
                        ${item.code!'--'}
                    </td>
                    <td>
                        ${item.createTime!'--', localDateTimeFormat='yyyy-MM-dd HH:mm:ss'}
                    </td>
                    <td>
                        ${item.startTime!'--', localDateTimeFormat='yyyy-MM-dd HH:mm:ss'} - ${item.endTime!'--', localDateTimeFormat='yyyy-MM-dd HH:mm:ss'}
                    </td>
                    <td>
                        <#centToYuan value='${item.amount!0}'/>
                    </td>
                    <td>
                        ${item.notes!'--'}
                    </td>
                    <td  data-field="state">
                        ${@com.dili.ia.glossary.BoutiqueOrderStateEnum.getBoutiqueOrderStateEnumName(item.state!)}
                    </td>
                </tr>
                <% } } %>
                </tbody>
            </table>
        </div>

    </form>
</div>

</#bs4Body>

<#js_customerAutocompleteJs/>
<#boutiqueEntranceRecord_indexDetailJs />



