<#bs4Body>

<div class="container-fluid">
    <#bs4nav>
    <form id="queryForm" role="form" >
        <div class="row  row-cols-6">
            <div class="form-group col-auto">
                <label for="operateTimeStart">时间:</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="operateTimeStart" id="operateTimeStart" class="form-control date laydatetime laystart" value="${operateTimeStart!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="operateTimeStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group" id="datetimepicker3">
                        <input type="text" name="operateTimeEnd" id="operateTimeEnd" class="form-control date laydatetime layend" value="${operateTimeEnd!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="operateTimeEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col">
                <label for="action">类型:</label>
                <select id="action" name="action" class="form-control"></select>
                <#bcomboProvider _id="action" _provider="actionProvider" _value="" _queryParams='{emptyText:"-- 全部 --"}'/>
            </div>
            <div class="form-group col">
                <label for="scene">场景:</label>
                <select id="scene" name="scene" class="form-control"></select>
                <#bcomboProvider _id="scene" _provider="sceneProvider" _queryParams='{emptyText:"-- 全部 --"}'/>

            </div>
            <div class="form-group col">
                <label for="customerNameMatch">客户名称:</label>
                <input type="text" class="form-control" name="customerNameMatch" id="customerNameMatch" maxlength="50"/>
            </div>
            <div class="form-group col">
                <label for="customerPhone">联系电话:</label>
                <input type="text" class="form-control" name="customerPhone" id="customerPhone" maxlength="50"/>
            </div>
            <div class="form-group col">
                <label for="customerCertificate">证件号码:</label>
                <input type="text" class="form-control" name="customerCertificate" id="customerCertificate" maxlength="50"/>
            </div>
            <div class="col align-self-center mt-3">
                <button type="button" class="btn btn-outline-primary mr-2"onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button type="button" class="btn btn-outline-primary" onclick="queryDataHandler()"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>

    </form>
</#bs4nav>
    <hr>
    <div class="row">
        <div class="col-12">

            <table id="grid" data-toggle="table" data-title="客户余额明细" class="table" data-toolbar="#toolbar"
                   data-pagination="true" data-page-number="1" data-page-size="10"
                   data-query-params="queryParams" data-side-pagination="server" data-method="POST"
                   data-content-type="application/x-www-form-urlencoded" data-single-select="true"
                   data-click-to-select="true" data-unique-id="id" data-sort-name="id"
                   data-sort-order="desc" data-icons="bui.variable.icons" data-buttons-class="primary"
                   data-single-select="true"
                   data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true">
                <thead>
                <tr>
                    <th data-field="operateTime" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                        时间
                    </th>
                    <th data-field="action" data-sortable="true" data-sort-name="action" data-align="center" data-provider="actionProvider">
                        类型
                    </th>
                    <th data-field="scene" data-sortable="true" data-sort-name="scene" data-align="center" data-provider="sceneProvider">
                        场景
                    </th>
                    <th data-field="amount" data-sortable="true" data-align="center" data-provider="actionMoneyProvider">
                        发生金额
                    </th>
                    <th data-field="customerName" data-sortable="true" data-align="center">
                        客户名称
                    </th>
                    <th data-field="customerCertificate" data-sortable="true" data-align="center">
                        证件号码
                    </th>
                    <th data-field="customerPhone" data-sortable="true" data-align="center">
                        联系电话
                    </th>
                    <th data-field="notes" data-sortable="true" data-align="center" data-formatter="dataFormatterTip">
                        详情
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</div>

</#bs4Body>

<#customerAccountSerial_indexJs />

<script>

    function dataFormatterTip(value,row,index) {
        if (value) {
            return '<span data-toggle="tooltip" data-placement="left" title="' + value + '">' + value + '</span>';
        } else {
            return "";
        }
    }

</script>