<style>

.el-cascader .el-input .el-input__inner {
	height: 33.5px;
}

</style>
<#bs4Body>
<#vueElm />
	<div class="container-fluid" value="${type!}">
		<input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.stock_in'/>">
		<form id="saveForm" role="form" novalidate>
			<div class="breadcrumb">
				客户信息 <a href="javascript:;" class="ml-2" id="getCustomer">刷卡获取</a> <a href="javascript:;" class="ml-auto"
				 data-toggle="collapse" data-target="#customerInfo" aria-expanded="true" aria-controls="customerInfo">收起 <i class="fa fa-angle-double-up"
					 aria-hidden="true"></i></a>
			</div>
			<div class="row row-cols-4 collapse show" id="customerInfo">
				<div class="form-group col">
					<label for="customerName">客户名称:<i class="red">*</i></label>
					<#bautoCompleteProvider _hiddenDomainId="customerId" _hiddenDomainName="customerId" _displayDomainId="customerName"
					 _displayDomainName="customerName" _placeholder="" _validatorMethod="isSelected" _optionVariable="customerNameAutoCompleteOption"
					 _required="true" />
				</div>
				<div class="form-group col">
					<label for="_certificateNumber">证件号码:<i class="red">*</i></label> <input
						type="text" class="form-control" id="certificateNumber"
						name="certificateNumber" maxlength="30"  required />
				</div>
				<div class="form-group col">
					<label for="">联系电话:<i class="red">*</i></label> <input type="text" class="form-control isMobile" id="customerCellphone"
					 name="customerCellphone" required />
				</div>
			</div>

			<div class="breadcrumb">
				入库基本信息 <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#baseInfo" aria-expanded="true"
				 aria-controls="baseInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
			</div>
			<div class="row row-cols-4 collapse show" id="baseInfo">
				<div class="form-group col">
					<label for="departmentId">业务所属部门:<i class="red">*</i></label> <select id="departmentId" name="departmentId" class="form-control"
					 required></select>
					<#bcomboProvider _id="departmentId" _provider="authDepartmentProvider" />
				</div>
				
				<div class="form-group col">
                	<label for="categoryId">品类:<i class="red">*</i></label>
                	<input type="hidden" id="cycle" name="cycle" >
                	<#bautoCompleteProvider _hiddenDomainId="categoryId" _hiddenDomainName="categoryId" _displayDomainId="categoryName"
					 _displayDomainName="categoryName" _placeholder="" _validatorMethod="isSelected" _optionVariable="categoryAutoCompleteOption"
					 _required="true" />
            	</div>
				<div class="form-group col el-city">
					<label for="">产地:<i class="red">*</i></label>
					
					<div>
					<el-cascader
					 	v-model="value"
						ref="cascaderAddr"
					    :options="options"
					    :props="optionProps"
					     @change="handleChange"
					    clearable></el-cascader>
					
					</div>
					 
				</div>
				<div class="form-group col">
					<label for="">单价:<i class="red">*</i></label> <input type="number" class="form-control money" id="unitPrice" name="unitPrice"
					 required readonly />
				</div>
				<%if(type==2) {%>
					<div class="form-group col-3">
						<label for="uom" >计价单位:<i class="red">*</i></label> 
						<select id="uom" name="uom" class="form-control" required>
						<option value=1>重量</option>
						<option value=2>件数</option>
						</select>
					</div>
				<%}%>
				
				<div class="form-group col">
					<label for="quantity" class="">总件数:<i class="red">*</i></label> <input id="quantity" type="number" class="form-control"
					 name="quantity" range="0 9999999"  required readonly />
				</div>
				<div class="form-group col">
					<label for="weight" class="">总净重(公斤):<i class="red">*</i></label> <input id="weight" type="number" class="form-control"
					 name="weight" range="0 9999999"  required readonly />
				</div>
				<div class="form-group col">
					<label for="amount" class="">入库总额(元):<i class="red">*</i></label> <input id="amount" type="number" class="form-control money"
					 name="amount" range="0 9999999.99" required readonly />
				</div>
				<%if(isNotEmpty(chargeItems) && chargeItems.~size>0){
		        for(item in chargeItems){
		        %>		        
		        <div class="form-group col">
					<label for="amount" class="">${item.chargeItem!}:<i class="red">*</i></label> <input id="chargeItem_${item.id!}" type="number" class="form-control chargeItem amount-item money"
					 name="chargeItem_${item.id!}" businessType="${item.businessType!}" chargeItem="${item.chargeItem!}" range="0 9999999.99" required readonly />				
		        </div>
		        <% } }%>
				<div class="form-group col">
					<label for="stockInDate">入库日期:</label> <input type="text" id="stockInDate" name="stockInDate" class="form-control">
				</div>
				<div class="form-group col">
					<label for="expireDate">到期日期:</label> <input type="text" id="expireDate" name="expireDate" class="form-control"
					 readonly>
				</div>
			</div>

			
			
		</form>
		<div class="breadcrumb">
			子单信息 <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#details" aria-expanded="true"
			 aria-controls="details">收起
				<i class="fa fa-angle-double-up" aria-hidden="true"></i>
			</a>
		</div>
		<div class="collapse show" id="details"></div>
		<div class="text-left btn-r-b">
				<button type="button" class="btn btn-secondary px-5" id="adddetailItem">添加子单信息</button>
			</div>
		
	</div>

</#bs4Body>
<#js_customerAutocompleteJs />
<#stock_validate />
<#stock_city />
<#stock_addJs />
<#stock_item />
<#stock_weight />
<#stock_getCost />
