<style>

.el-cascader .el-input .el-input__inner {
	height: 33.5px;
}

</style>
<#bs4Body>
<#vueElm />
	<!--<a href="javascript:;" id="goCustomerRegister">无此客户，点击注册</a>-->
	<div class="container-fluid" value="${type!}">
		<input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.stock_in'/>">
		<form id="saveForm" role="form" novalidate>
			<div class="breadcrumb">
				客户信息 
			</div>
			<div class="row row-cols-4 collapse show" id="customerInfo">
				<div class="form-group col">
					<label for="customerName">客户名称:<i class="red">*</i></label>
					<#bautoCompleteProvider _hiddenDomainId="customerId" _hiddenDomainName="customerId" _displayDomainId="customerName"
					 _displayDomainName="customerName" _placeholder="" _validatorMethod="isSelected" _optionVariable="customerNameAutoCompleteOption"
					 _value="${stockIn.customerId!}" _text="${stockIn.customerName!}" _required="true" />
				</div>
				<div class="form-group col">
					<label for="_certificateNumber">证件号码:<i class="red">*</i></label>
					<#bautoCompleteProvider _log="证件号码" _value="${stockIn.certificateNumber!}" _text="${stockIn.certificateNumber!}" _hiddenDomainId="certificateNumber" 
					_hiddenDomainName="certificateNumber" _displayDomainId="_certificateNumber" 
					_displayDomainName="_certificateNumber" _placeholder="" _validatorMethod="isSelected" _required="true" _optionVariable="certificateNumberAutoCompleteOption"/>
				</div>
				<div class="form-group col-3">
					<label for="">联系电话:<i class="red">*</i></label> <input type="text" class="form-control digits" minlength="11" maxlength="11" id="customerCellphone"
					 name="customerCellphone" value="${stockIn.customerCellphone!}"  required />
				</div>
			</div>

			<div class="breadcrumb">
				入库基本信息 <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#baseInfo" aria-expanded="true"
				 aria-controls="baseInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
			</div>
			<div class="row row-cols-4 collapse show" id="baseInfo">
				<div class="form-group col-3">
					<label for="">入库单号:<i class="red">*</i></label> <input type="text" class="form-control" id="code"
					 name="code" value="${stockIn.code!}"  readonly required />
				</div>
				
				<div class="form-group col-3">
					<input type="hidden" class="form-control" id=""
					 name="type" value="${stockIn.type!}"  readonly required />
					<label for="">入库类型:<i class="red">*</i></label> <input type="text" class="form-control" id="type"
					  value="${@com.dili.ia.glossary.StockInTypeEnum.getStockInTypeEnum(stockIn.type).getName()}"  readonly required />
				</div>
				<div class="form-group col-3">
					<label for="">操作员:<i class="red">*</i></label>
					<input type="hidden" id="operatorId" name="operatorId" value="${userTicket.id!}" />
					 <input type="text" class="form-control" id="operatorName"
					 name="operatorName" value="${userTicket.realName!}"  readonly required />
				</div>
				<div class="form-group col-3">
					<label for="departmentId" value="${stockIn.departmentId!}" >业务所属部门:<i class="red">*</i></label> 
					<select id="departmentId" name="departmentId" class="form-control" required></select>
					<#bcomboProvider _id="departmentId" _provider="authDepartmentProvider"  _value="${stockIn.departmentId!}"/>
				</div>
				<div class="form-group col-3">
					<label for="categoryId">品类:<i class="red">*</i></label>
					<input type="hidden" id="cycle" name="cycle" >
					
					<#bautoCompleteProvider _hiddenDomainId="categoryId" _hiddenDomainName="categoryId" _displayDomainId="categoryName"
					 _displayDomainName="categoryName" _placeholder="" _optionVariable="categoryAutoCompleteOption"
					 _required="true" _value="${stockIn.categoryId!}" _text="${stockIn.categoryName!}" />
				</div>
				
				<div class="form-group col-3 el-city">
					<label for="">产地:</label>
					
					<div>
					<el-cascader
					 	v-model="value"
						ref="cascaderAddr"
					    :options="options"
					    :props="optionProps"
					     @change="handleChange"
					    clearable></el-cascader>
					
					</div>
					 
				</div>
				<div class="form-group col-3">
					<label for="">单价:<i class="red">*</i></label> <input type="number" class="form-control money" id="unitPrice" name="unitPrice"
					value="<#centToYuan value='${stockIn.unitPrice!}'/>" required readonly />
				</div>
				<%if(stockIn.type==2) {%>
					<div class="form-group col-3">
						<label for="uom" >计价单位:<i class="red">*</i></label> 
						<select id="uom" name="uom" class="form-control" required>
						<option value=1>公斤</option>
						<option value=2>件</option>
						</select>
					</div>
				<%}%>
				<div class="form-group col-3">
					<label for="quantity" class="">总件数:<i class="red">*</i></label> <input id="quantity" type="number" class="form-control"
					 name="quantity"  value="${stockIn.quantity!}" required readonly />
				</div>
				<div class="form-group col-3">
					<label for="weight" class="">总净重(公斤):<i class="red">*</i></label> <input id="weight" type="number" class="form-control"
					 name="weight"  value="${stockIn.weight!}" required readonly />
				</div>
				<div class="form-group col-3">
					<label for="amount" class="">入库总额(元):<i class="red">*</i></label> <input id="amount" type="number" class="form-control money"
					 name="amount"  value="<#centToYuan value='${stockIn.amount!}'/>" required readonly />
				</div>
				<%if(isNotEmpty(stockIn.businessChargeItems) && stockIn.businessChargeItems.~size>0){
		        for(item in stockIn.businessChargeItems){
		        %>		        
		        <div class="form-group col-3">
					<label for="amount" class="">${item.chargeItemName!}:<i class="red">*</i></label> <input id="chargeItem_${item.chargeItemId!}" type="number" class="form-control chargeItem amount-item money"
					 name="chargeItem_${item.chargeItemId!}" item-id="${item.id!}" businessType="${item.bizType!}" chargeItem-version="${item.version!}" chargeItem="${item.chargeItemName!}" value = "<#centToYuan value='${item.amount!}'/>" range="0 9999999.99" required readonly />				
		        </div>
		        <% } }%>
		        <div class="form-group col">
					<label for="stockInDate">入库日期:</label> <input type="text" id="stockInDate" name="stockInDate" class="form-control"
					value="${stockIn.stockInDate!,localDateTimeFormat='yyyy-MM-dd'}" >
				</div>
				<div class="form-group col-3">
					<label for="expireDate">到期日期:</label> <input type="text" id="expireDate" name="expireDate" class="form-control"
					value="${stockIn.expireDate!,localDateTimeFormat='yyyy-MM-dd'}"  readonly>
				</div>
				
			</div>

			
			
		</form>
		<div class="breadcrumb">
			子单信息 <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#details" aria-expanded="true"
			 aria-controls="details">收起
				<i class="fa fa-angle-double-up" aria-hidden="true"></i>
			</a>
		</div>
		<div class="collapse show" id="details">
			
		</div>
		<div class="text-left btn-r-b">
				<button type="button" class="btn btn-secondary px-5" id="adddetailItem">添加子单信息</button>
			</div>
		
	</div>

</#bs4Body>
<#js_customerAutocompleteJs />
<#stock_validate />
<#stock_updateJs />
<#stock_item />
<#stock_weight />
<#stock_getCost />
<#stock_city />

<script id="businessChargeItem" type="text/html">
<div class="form-group col-3">
	<label for="amount" class="">{{chargeItem.chargeItemName}}<i class="red">*</i></label> <input id="chargeItem_{{chargeItem.id}}_{{index}}" type="number" class="form-control amount-item number_change chargeItem money"
		name="chargeItem_{{chargeItem.chargeItemId}}" item-id="{{chargeItem.id}}" chargeItem="{{chargeItem.chargeItemName}}" value="{{chargeItem.amount}}" range="0 9999999.99" required  />
</div>
</script>
