<#bs4Body>
	<div class="container-fluid" value="${type!}">
		<form id="saveForm" role="form" novalidate>
			<div class="breadcrumb">
				客户信息 
			</div>
			<div class="row row-cols-4 collapse show" id="customerInfo">
				<div class="form-group col">
					<label for="customerName">客户名称<i class="red">*</i></label>
					<input id="customerName" type="text" class="form-control floatReserve"
					 name="customerName" value="${stockIn.customerName!}" readonly />
				</div>
				<div class="form-group col">
					<label for="_certificateNumber">证件号码<i class="red">*</i></label>
					<input id="customerName" type="text" class="form-control floatReserve"
					 name="customerName" value="${stockIn.customerName!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">联系电话<i class="red">*</i></label> <input id="customerCellphone" type="text" class="form-control floatReserve"
					 name="customerCellphone" value="${stockIn.customerCellphone!}" readonly />
				</div>
			</div>
			<div class="breadcrumb">
				入库基本信息 <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#baseInfo" aria-expanded="true"
				 aria-controls="baseInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
			</div>
			<div class="row row-cols-4 collapse show" id="baseInfo">
				<div class="form-group col">
					<label for="">入库单号<i class="red">*</i></label> <input id="code" type="text" class="form-control floatReserve"
					 name="code" value="${stockIn.code!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">入库类型<i class="red">*</i></label> <input id="code" type="text" class="form-control floatReserve"
					 name="code" value="${stockIn.code!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">入库类型<i class="red">*</i></label> <input id="operatorName" type="text" class="form-control floatReserve"
					 name="operatorName" value="${stockIn.operatorName!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">所属部门<i class="red">*</i></label> <input id="departmentName" type="text" class="form-control floatReserve"
					 name="departmentName" value="${stockIn.departmentName!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">货物品类<i class="red">*</i></label> <input id="categoryName" type="text" class="form-control floatReserve"
					 name="categoryName" value="${stockIn.categoryName!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">产地<i class="red">*</i></label> <input id="origin" type="text" class="form-control floatReserve"
					 name="origin" value="${stockIn.origin!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">总件数<i class="red">*</i></label> <input id="quantity" type="text" class="form-control floatReserve"
					 name="quantity" value="${stockIn.quantity!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">总净重(公斤)<i class="red">*</i></label> <input id="weight" type="text" class="form-control floatReserve"
					 name="weight" value="${stockIn.weight!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">入库总额(元)<i class="red">*</i></label> <input id="amount" type="text" class="form-control floatReserve"
					 name="amount" value="${stockIn.amount!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">到期日期<i class="red">*</i></label> <input id="expireDate" type="text" class="form-control floatReserve"
					 name="expireDate" value="${stockIn.expireDate!,localDateTimeFormat='yyyy-MM-dd'}" readonly />
				</div>
			</div>
			<div class="breadcrumb">
				缴费信息 <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#payInfo" aria-expanded="true"
				 aria-controls="payInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
			</div>
			<div class="row row-cols-4 collapse show" id="payInfo">
				<div class="form-group col">
					<label for="">结算单号<i class="red">*</i></label> <input id="expireDate" type="text" class="form-control floatReserve"
					 name="expireDate" value="${stockIn.expireDate!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">缴费日期<i class="red">*</i></label> <input id="expireDate" type="text" class="form-control floatReserve"
					 name="expireDate" value="${stockIn.expireDate!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">缴费金额<i class="red">*</i></label> <input id="expireDate" type="text" class="form-control floatReserve"
					 name="expireDate" value="${stockIn.expireDate!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">卡号<i class="red">*</i></label> <input id="expireDate" type="text" class="form-control floatReserve"
					 name="expireDate" value="${stockIn.expireDate!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">收费员<i class="red">*</i></label> <input id="expireDate" type="text" class="form-control floatReserve"
					 name="expireDate" value="${stockIn.expireDate!}" readonly />
				</div>
				
			</div>
			<div class="breadcrumb">
			子单信息 <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#details" aria-expanded="true"
			 aria-controls="details">收起
				<i class="fa fa-angle-double-up" aria-hidden="true"></i>
			</a>
			</div>
			<div class="collapse show" id="details">
			<table class="table table-bordered table-hover table-striped" id="boothTable" >
                <thead>
                <tr>
                	<th style="font-weight:normal; ">子单号</th>
                    
                    <th style="font-weight:normal; ">接车单号</th>
                    <th style="font-weight:normal; ">车型</th>
                    <th style="font-weight:normal; ">车牌号</th>
                    <th style="font-weight:normal; ">冷库区域</th>
                    <th style="font-weight:normal; ">冷库编号</th>
                    <th style="font-weight:normal; ">入库件数</th>
                    <th style="font-weight:normal; ">货物净重</th>
                    <th style="font-weight:normal; ">入库金额</th>
                    <th style="font-weight:normal; ">备注</th>
                </tr>
                </thead>
                <tbody>
                <%
                if(stockIn.stockInDetails.~size>0){
                for(item in stockIn.stockInDetails){%>
                <tr>
                    <td>
                        ${item.code!}
                    </td>
                    
                    <td>
                        ${item.pickupNumber!}
                    </td>
                    <td>
                        ${item.carTypePublicCode!}
                    </td>
                    <td>
                        ${item.carPlate!}
                    </td>
                    <td>
                        ${item.districtId!}
                    </td>
                    <td>
                        ${item.assetsId!}
                    </td>
                    <td>
                        ${item.quantity!}
                    </td>
                    <td>
                        ${item.weight!}
                    </td>
                    <td>
                        ${item.amount!}
                    </td>
                    <td>
                        ${item.notes!}
                    </td>
                </tr>
                <% } } %>
                </tbody>
            </table>
			</div>
		</form>
		<button  type="button" class="btn btn-default" onclick="javascript:history.go(-1);"><i class="fa fa-chevron-left"></i> 返回</button>
	</div>
</#bs4Body>

