<#bs4Body>
	<div class="container-fluid" value="${type!}">
		<form id="saveForm" role="form" novalidate>
			<div class="breadcrumb">
				客户信息 
			</div>
			<div class="row row-cols-4 collapse show" id="customerInfo">
				<div class="form-group col">
					<label for="customerName">客户名称 </label>
					<input  type="text" class="form-control  "
					 name="customerName" value="${stockIn.customerName!}" readonly />
				</div>
				<div class="form-group col">
					<label for="_certificateNumber">证件号码 </label>
					<input  type="text" class="form-control  "
					 name="customerName" value="${stockIn.certificateNumber!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">联系电话 </label> <input  type="text" class="form-control  "
					 name="customerCellphone" value="${stockIn.customerCellphone!}" readonly />
				</div>
			</div>
			<div class="breadcrumb">
				入库基本信息 <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#baseInfo" aria-expanded="true"
				 aria-controls="baseInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
			</div>
			<div class="row row-cols-4 collapse show" id="baseInfo">
				<div class="form-group col">
					<label for="">入库单号 </label> <input  type="text" class="form-control  "
					 name="code" value="${stockIn.code!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">入库类型 </label> <input  type="text" class="form-control  "
					 name="type" value="${@com.dili.ia.glossary.StockInTypeEnum.getStockInTypeEnum(stockIn.type).getName()}"  readonly />
				</div>
				<div class="form-group col">
					<label for="">操作员 </label> <input  type="text" class="form-control  "
					 name="operatorName" value="${stockIn.operatorName!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">所属部门 </label> <input  type="text" class="form-control  "
					 name="departmentName" value="${stockIn.departmentName!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">货物品类 </label> <input  type="text" class="form-control  "
					 name="categoryName" value="${stockIn.categoryName!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">产地 </label> <input  type="text" class="form-control  "
					 name="origin" value="${stockIn.originPath!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">总件数 </label> <input  type="text" class="form-control  "
					 name="quantity" value="${stockIn.quantity!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">总净重(公斤) </label> <input  type="text" class="form-control  "
					 name="weight" value="${stockIn.weight!}" readonly />
				</div>
				<div class="form-group col">
					<label for="">入库总额(元) </label> <input  type="text" class="form-control  "
					 name="amount" value="<#centToYuan value='${stockIn.amount!}'/>" readonly />
				</div>
				<%
                if(stockIn.businessChargeItems.~size>0){
                for(item in stockIn.businessChargeItems){%>
              	 <div class="form-group col">
					<label for="amount" class="">${item.chargeItemName!} </label> <input id="chargeItem_${item.id!}" type="number" class="form-control chargeItem"
					 name="chargeItem_${item.id!}"  value="<#centToYuan value='${item.amount!}'/>" range="0 9999999.99" required readonly />				
		        </div>
                <% } } %>
				
				<div class="form-group col">
					<label for="">入库日期 </label> <input id="expireDate" type="text" class="form-control  "
					 name="expireDate" value="${stockIn.stockInDate!,localDateTimeFormat='yyyy-MM-dd'}" readonly />
				</div>
				<div class="form-group col">
					<label for="">到期日期 </label> <input id="expireDate" type="text" class="form-control  "
					 name="expireDate" value="${stockIn.expireDate!,localDateTimeFormat='yyyy-MM-dd'}" readonly />
				</div>
			</div>
			<div class="breadcrumb">
				缴费信息 <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#payInfo" aria-expanded="true"
				 aria-controls="payInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
			</div>
			<div class="row row-cols-4 collapse show" id="payInfo">
				<div class="form-group col">
					<label for="">结算单号 </label> <input  type="text" class="form-control  "
					 name="expireDate" value="${stockIn.settleOrder.code!'--'}" readonly />
				</div>
				<div class="form-group col">
					<label for="">缴费日期 </label> <input  type="text" class="form-control  "
					 name="expireDate" value="${stockIn.settleOrder.operateTime!'--'}" readonly />
				</div>
				<div class="form-group col">
					<label for="">缴费金额 </label> <input  type="text" class="form-control  "
					 name="expireDate" value="${stockIn.settleOrder.amount!'--'}" readonly />
				</div>
				<div class="form-group col">
					<label for="">卡号 </label> <input  type="text" class="form-control  "
					 name="expireDate" value="${stockIn.settleOrder.accountNumber!'--'}" readonly />
				</div>
				<div class="form-group col">
					<label for="">收费员 </label> <input  type="text" class="form-control  "
					 name="expireDate" value="${stockIn.settleOrder.operatorName!'--'}" readonly />
				</div>
				
			</div>
			<div class="breadcrumb">
			子单信息 <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#details" aria-expanded="true"
			 aria-controls="details">收起
				<i class="fa fa-angle-double-up" aria-hidden="true"></i>
			</a>
			</div>
			<div class="collapse show" id="details">
			<table class="table table-bordered table-hover table-striped" id="boothTable" >
                <thead>
                <tr>
                	<th style="font-weight:normal; ">子单号</th>
                    
                    <th style="font-weight:normal; ">接车单号</th>
                    <th style="font-weight:normal; ">车型</th>
                    <th style="font-weight:normal; ">车牌号</th>
                    <th style="font-weight:normal; ">冷库区域</th>
                    <th style="font-weight:normal; ">冷库编号</th>
                    <th style="font-weight:normal; ">入库件数</th>
                    <th style="font-weight:normal; ">货物净重</th>
                    <th style="font-weight:normal; ">总费用</th>
                    <!--  <%
	                if(stockIn.businessChargeItems.~size>0){
	                for(chargeItem in stockIn.businessChargeItems){%>
	              	 <th style="font-weight:normal; ">${chargeItem.chargeItemName}</th>
	                <% } } %>
	                 -->
                    <th style="font-weight:normal; ">备注</th>
                </tr>
                </thead>
                <tbody>
                <%
                if(stockIn.jsonStockInDetailDtos.~size>0){
                for(item in stockIn.jsonStockInDetailDtos){%>
                <tr>
                    <td>
                        ${item.code!'--'}
                    </td>
                    
                    <td>
                        ${item.pickupNumber!'--'}
                    </td>
                    <td>
                        ${item.carTypePublicName!'--'}
                    </td>
                    <td>
                        ${item.carPlate!'--'}
                    </td>
                    <td>
                        ${item.districtName!'--'}
                    </td>
                    <td>
                        ${item.assetsCode!'--'}
                    </td>
                    <td>
                        ${item.quantity!'--'}
                    </td>
                    <td>
                        ${item.weight!'--'}
                    </td>
                    <td>
                        <#centToYuan value='${item.amount!0}'/>
                    </td>
                    <!-- 
                    <%
	                if(item.businessChargeItem.~size>0){
	                for(chargeItem in item.businessChargeItem){%>
	              	 <td>
	                        <#centToYuan value='${chargeItem.amount!0}'/>
	                  </td>
	                <% } } %>
	                 -->
                    <td>
                        ${item.notes!'--'}
                    </td>
                </tr>
                <% } } %>
                </tbody>
            </table>
			</div>
			
			<%if(isNotEmpty(logs) && logs.~size>0){ %>
            <div class="breadcrumb">
                业务记录
                <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#recordInfo" aria-expanded="true" aria-controls="recordInfo">展开 <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
            </div>
            <div class="collapse" id="recordInfo">
                <table data-toggle="table">
                    <thead>
                    <tr>
                        <th data-align="center">时间</th>
                        <th data-align="center">操作</th>
                        <th data-align="center">详情</th>
                        <th data-align="center">补充信息</th>
                        <th data-align="center">工作员</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%
                    for(log in logs){%>
                    <tr>
                        <td class="text-center align-middle" >${log.createTime!}</td>
                        <td class="text-center align-middle" >${log.operationTypeText!}</td>
                        <td class="text-center align-middle" data-toggle="tooltip" data-placement="left" title="${log.content!}" >${log.content!}</td>
                        <td class="text-center align-middle" data-toggle="tooltip" data-placement="left" title="${log.notes!}" >${log.notes!}</td>
                        <td class="text-center align-middle" >${log.operatorName!}</td>
                    </tr>
                    <% }%>
                    </tbody>
                </table>
            </div>
            <% }%>
			
		</form>
	</div>
</#bs4Body>

