<#bs4Body>
<div class="container-fluid">
    <#bs4nav>
    <form id="queryForm" role="form" >
        <div class="row row-cols-6">
            <div class="form-group col">
                <label for="departmentId">部门</label>
                <select id="departmentId" name="departmentId" class="form-control"></select>
               <#bcomboProvider _id="departmentId" _provider="authDepartmentProvider" _value="" _queryParams='{emptyText:"-- 全部 --"}'/>
            </div>
            <div class="form-group col-4">
                <label for="">区域</label>
                <div class="input-group">
                    <select class="form-control" id="district-one" name="firstDistrictId" required>
						<option value="">-- 全部 --</option>
                    </select>
                    <select class="form-control" id="district-two" name="districtId">
                        <option value="">-- 全部 --</option>
                    </select>
                </div>
            </div>
            <div class="form-group col">
                <label for="assetsId">冷库编号</label>
                <select id="assetsId" name="assetsId" class="form-control" required>
                	<option value="">--全部--</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="categoryId">品类<i class="red">*</i></label>
                <select id="categoryId" name="categoryId" class="form-control" >
                <option value="">--全部--</option>
                </select>
                <#bselect2 _id="categoryId" _mode="remote" _optionVariable="categoryAutoCompleteOption"  />
            </div>
            <div class="form-group col">
                <label for="customerName">客户姓名</label>
                <input type="text" class="form-control" name="likeCustomerName" id="customerName" maxlength="50"/>
            </div>
            <div class="form-group col">
                <label for="customerCellPhone">手机号</label>
                <input type="text" class="form-control" name="customerCellPhone" id="customerCellPhone" maxlength="50"/>
            </div>
            <div class="form-group col">
                <label for="creator">操作员</label>
                <input type="text" class="form-control" name="likeCreator" id="operator" maxlength="50"/>
            </div>
            <div class="col align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button id="query" type="button" class="btn btn-outline-primary" onclick="queryDataHandler()"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>

    </form>
</#bs4nav>
<hr>
    <div class="row">
        <div class="col-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
            	<#resource code="viewStockOutDetail">
            	<button id="" type="button" class="btn btn-primary" onclick="openViewHandler()"><i class="fa fa-eye"></i> 查看</button>
            	</#resource>
				<#resource code="doExport">
            	<button id="export" type="button" class="btn btn-primary" onclick="bui.util.doExport('grid','queryForm')"><i class="fa fa-download"></i> 导出</button>
            	<button id="print" type="button" class="btn btn-primary" onclick="printHandler()"><i class="fa fa-print"></i>打印出库单</button>
            	</#resource>

            </div>
            <#stock_stockOut_list />
        </div>
    </div>
</div>

</div>
</#bs4Body>

<#stock_stockOut_indexJs />
<#stock_searchJs />
