<#bs4Body>
<#vueElm />

<style>
    .el-transfer-panel {
        width: 40%;
    }
    .booth-data-origin {
        height: 300px;
        overflow: auto;
    }
    .booth-checked {
        height: 640px;
        overflow: auto;
    }
</style>
<div class="container-fluid pb-5" id="app">
    <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.assetsRental'/>">
    <div class="row row-cols-6">
        <div class="form-group col">
            <label for="name">预设名称<i class="red">*</i></label>
            <input type="text" class="form-control" id="name" name="name" maxlength="20" value="${assetsRental.name!}" required />
        </div>
    </div>
    <div class="breadcrumb" aria-expanded="true">
        选择预设对象
    </div>

   <div class="p-3">

       <div class="row p-3 boothwrap">
           <div class="col-5  p-3 mr-5 border">
               <form id="searchForm" role="form" novalidate>
                   <div class="row row-cols-2">
                       <div class="form-group col">
                           <label for="firstDistrictId">区域</label>
                           <#js_district _firstDistrictName="firstDistrictId" _secondDistrictName="secondDistrictId" _optionText="全部" ></#js_district>
                       </div>
                       <div class="form-group col">
                           <label for="" class="">摊位编号</label>
                           <input id="assetsName" type="" class="form-control digits" maxlength="50" name="assetsName" />
                       </div>
                       <div class="form-group col">
                           <label for="" class="">数量</label>
                           <div class="input-group">
                               <input id="startNumber" type="number" class="form-control digits" name="startNumber" />
                               <span class="align-self-center">至</span>
                               <input id="endNumber" type="number" class="form-control digits" name="endNumber" />
                           </div>
                       </div>
                       <div class="col-auto align-self-center mt-3">
                           <button type="button" class="btn btn-outline-primary mr-2"onclick="javascript:$('#searchForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                           <button type="button" class="btn btn-outline-primary" onclick="viewAssetsByNoTable()"><i class="fa fa-search"></i> 查询</button>
                       </div>
                   </div>
               </form>
                <hr>
               <h5 class="mt-3">待选摊位</h5>
               <div class="custom-control custom-checkbox">
                   <input type="checkbox" class="custom-control-input" id="checkAll">
                   <label class="custom-control-label" for="checkAll">全选</label>
               </div>
               <div class="booth-data-origin">

               </div>
           </div>
            <div class="col">
                <div class="row align-items-center h-100" >
                    <div class="col">
                        <button type="button" class="btn btn-outline-dark" id="checkedBoothBtn">选定<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-dark" id="uncheckedBoothBtn"><i class="fa fa-chevron-left" aria-hidden="true"></i>移出</button>
                    </div>
                </div>
            </div>
           <div class="col-5  p-3 border">
               <h5 class="">已选摊位</h5>
               <div class="custom-control custom-checkbox">
                   <input type="checkbox" class="custom-control-input" id="uncheckAll">
                   <label class="custom-control-label" for="uncheckAll">全选</label>
               </div>
               <div class="booth-checked">
                   <% if(isNotEmpty(assetsRental.assetsRentalItemList)){
                       for(data in assetsRental.assetsRentalItemList){
                       %>
                       <div class="custom-control custom-checkbox">
                           <input type="checkbox" class="custom-control-input" id="${data.id!}" data-mch-id="${assetsRental.mchId}" data-id="${data.id!}" data-name="${data.assetsName!}" data-first-area="${data.firstDistrictId!}" data-first-area-name="${data.firstDistrictName!}" data-second-area="${data.secondDistrictId!}" data-second-area-name="${data.secondDistrictName!}" data-type="${data.assetsType!}" data-number="${data.number!}" data-unit="${data.unit!}" data-corner="${data.corner!}">
                           <label class="custom-control-label" for="${data.id!}">${data.assetsName!}【${data.firstDistrictName!}】</label>
                       </div>
                    <%}
                   }%>
               </div>
           </div>
       </div>
   </div>
    <form id="saveForm" role="form" novalidate>
        <input type="hidden" id="id" name="id" value="${assetsRental.id!}">
        <input type="hidden" id="nameHidden" name="name">
        <div class="breadcrumb" aria-expanded="true">
            设置预设信息
        </div>
        <div class="row row-cols-6" id="detailInfo">
            <div class="form-group col">
                <label for="engageCode">经营范围</label>
                <input type="hidden" id="engageName" name="engageName" value="${assetsRental.engageName!}">
                <select id="engageCode" name="engageCode" class="form-control"></select>
                <#bcomboProvider _log="经营范围" _id="engageCode" _provider="dataDictionaryValueProvider"  _value="${assetsRental.engageCode!}" _queryParams='{dd_code:"engage"}' _text="${assetsRental.engageName!}"/>
            </div>
            <div class="form-group col">
                <label for="leaseTermCode">租赁期限</label>
                <input type="hidden" id="leaseTermName" name="leaseTermName" value="${assetsRental.leaseTermName!}">
                <select id="leaseTermCode" name="leaseTermCode" class="form-control" required></select>
                <#bcomboProvider _log="租赁期限" _id="leaseTermCode" _provider="dataDictionaryValueProvider" _value="${assetsRental.leaseTermCode!}" _queryParams='{dd_code:"lease_term"}' _text="${assetsRental.leaseTermName!}"/>
            </div>
            <div class="form-group col">
                <label for="categorys" _log>经营品类</label>
                <select id="categorys" name="categorys" multiple>
                    <%
                    if(isNotEmpty(assetsRental.categoryId)){
                    var categoryIds = strutil.split (assetsRental.categoryId,",");
                    var categoryNames = strutil.split (assetsRental.categoryName,",");
                    for(cid in categoryIds){
                    %>
                    <option value="${cid}">${categoryNames[cidLP.index-1]}</option>
                    <%  }} %>
                </select>
                <#bselect2 _id="categorys" _mode="remote" _optionVariable="categoryAutoCompleteOption" _value="[${assetsRental.categoryId!}]"/>

            </div>
            <div class="form-group col">
                <label for="leaseDays" class="">租赁天数</label>
                <input type="number" id="days" class="form-control isNaturalNum" name="leaseDays" value="${assetsRental.leaseDays!}" min="1"/>
            </div>
            <div class="form-group col">
                <label for="startTime">开始日期</label>
                <input type="text" id="startTime" name="" class="form-control" value="${assetsRental.startTime!,localDateTimeFormat='yyyy-MM-dd'}" >
            </div>
            <div class="form-group col">
                <label for="endTime">结束日期</label>
<!--                <input type="text" id="endTime" name="" class="form-control" readonly>-->
                <input type="text" id="endTime" name="" class="form-control" value="${assetsRental.endTime!,localDateTimeFormat='yyyy-MM-dd'}" >
            </div>
        </div>
        <div class="modal-footer-wrap">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-5" id="formCancel" onclick="javascript:parent.dia.hide()">取消</button>
                <button type="button" class="btn btn-primary px-5" id="save">确定</button>
            </div>
        </div>
    </form>
</div>

</#bs4Body>
<#assetsRental_boothCheckTmpl/>
<#assetsRental_addJs/>
