<#bs4Body>
<#vueElm />

<style>
    .el-transfer-panel {
        width: 40%;
    }
</style>
<div class="container-fluid pb-5" id="app">
    <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.assetsRental'/>">
    <div class="row row-cols-6">
        <div class="form-group col">
            <label for="name">预设名称<i class="red">*</i></label>
            <input type="text" class="form-control" id="name" name="name" maxlength="20" value="${assetsRental.name}" required />
        </div>
    </div>
    <div class="breadcrumb" aria-expanded="true">
        选择预设对象
    </div>

   <div class="border p-3">
       <form id="searchForm" role="form" style="width:40%" novalidate>
           <div class="row row-cols-2">
               <div class="form-group col">
                   <label for="typeCode">区域<i class="red">*</i></label>
                   <#js_district firstDistrictID="" secondDistrictID="" ></#js_district>
               </div>
               <div class="form-group col">
                   <label for="" class="">摊位编号<i class="red">*</i></label>
                   <input id="assetsName" type="" class="form-control digits" maxlength="50" name="assetsName" />
               </div>
               <div class="form-group col">
                   <label for="" class="">数量<i class="red">*</i></label>
                   <div class="input-group">
                       <input id="startNumber" type="" class="form-control digits" name="startNumber" />
                       <span class="align-self-center">至</span>
                       <input id="endNumber" type="" class="form-control digits" name="endNumber" />
                   </div>
               </div>
               <div class="col-auto align-self-center mt-3">
                   <button type="button" class="btn btn-outline-primary mr-2"onclick="javascript:$('#searchForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                   <button type="button" class="btn btn-outline-primary" onclick="viewAssetsByNoTable()"><i class="fa fa-search"></i> 查询</button>
               </div>
           </div>
           <hr>
       </form>

       <div class="row">
           <div class="col-12">
               <el-transfer v-model="boothChecked" :data="boothData"
                            :props="{key: 'key',label: 'label'}"
                            :titles="['待选摊位', '已选摊位']"
               >
                  <!-- <sapn class="text-center align-center w-100" slot="left-footer" >待选摊位</sapn>
                   <sapn class="text-center w-100" slot="right-footer" >已选摊位</sapn>-->
               </el-transfer>
           </div>
       </div>
   </div>
    <form id="saveForm" role="form" novalidate>
        <div class="breadcrumb" aria-expanded="true">
            设置预设信息
        </div>
        <div class="row row-cols-6">
            <div class="form-group col">
                <label for="engageCode">经营范围<i class="red">*</i></label>
                <select id="engageCode" name="engageCode" class="form-control" required></select>
                <#bcomboProvider _log="经营范围" _id="engageCode" _provider="dataDictionaryValueProvider" _value="${assetsRental.engageCode!}" _queryParams='{dd_code:"engage"}'/>
            </div>
            <div class="form-group col">
                <label for="leaseTermCode">租赁期限<i class="red">*</i></label>
                <select id="leaseTermCode" name="leaseTermCode" class="form-control" required></select>
                <#bcomboProvider _log="租赁期限" _id="leaseTermCode" _provider="dataDictionaryValueProvider" _value="${assetsRental.leaseTermCode!}" _queryParams='{dd_code:"lease_term"}'/>
            </div>
            <div class="form-group col">
                <label for="categoryId" _log>经营品类</label>
                <#bautoCompleteProvider _hiddenDomainId="categoryId" _hiddenDomainName="categoryId" _displayDomainId="categoryName" _displayDomainName="categoryName" _placeholder="" _validatorMethod="isSelected" _optionVariable="testAutoCompleteOption" _value="${assetsRental.categoryName!}/>
            </div>
            <div class="form-group col">
                <label for="days" class="">租赁天数<i class="red">*</i></label>
                <input type="number" id="days" class="form-control isNaturalNum" value="${assetsRental.days}" name="days"  />
            </div>
            <div class="form-group col">
                <label for="startTime">开始日期</label>
                <input type="text" id="startTime" name="startTime" value="${assetsRental.startTime}" class="form-control" >
            </div>
            <div class="form-group col">
                <label for="endTime">结束日期</label>
<!--                <input type="text" id="endTime" name="" class="form-control" readonly>-->
                <input type="text" id="endTime" name="endTime" value="${assetsRental.endTime}" class="form-control" >
            </div>
        </div>
        <div class="modal-footer-wrap">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-5" id="formCancel" onclick="javascript:parent.dia.hide()">取消</button>
                <button type="button" class="btn btn-primary px-5" id="update">确定</button>
            </div>
        </div>
    </form>
</div>

</#bs4Body>
<#assetsRental_addJs/>
