<#bs4Body>
    <div class="container-fluid pb-5">
        <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.otherFee'/>">
        <form id="saveForm" role="form" novalidate class="pb-5">
            <div class="breadcrumb" >
                客户信息 <a href="javascript:;" class="ml-2" id="getCustomer">刷卡获取</a>
                <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#customerInfo" aria-expanded="true"
                   aria-controls="customerInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
            </div>
            <div class="row row-cols-4"  id="customerInfo">
                <div class="form-group col">
                    <label for="customerName">客户名称<i class="red">*</i></label>
                    <#bautoCompleteProvider _hiddenDomainId="customerId" _hiddenDomainName="customerId" _displayDomainId="customerName" _displayDomainName="customerName" _placeholder="" _validatorMethod="isSelected" _optionVariable="customerNameAutoCompleteOption" _required="true"/>
                </div>
            
                <div class="form-group col">
                    <label for="_certificateNumber">证件号码<i class="red">*</i></label>
                    <#bautoCompleteProvider _hiddenDomainId="certificateNumber" _hiddenDomainName="certificateNumber" _displayDomainId="_certificateNumber" _displayDomainName="_certificateNumber" _placeholder="" _validatorMethod="isSelected" _optionVariable="certificateNumberAutoCompleteOption" _required="true"/>
                </div>
            
                <div class="form-group col">
                    <label for="customerCellphone">联系电话<i class="red">*</i></label>
                    <input type="text" class="form-control isMobile" id="customerCellphone" name="customerCellphone" required />
                </div>

            </div>
            <div class="breadcrumb">
                基础信息
                <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#baseInfo" aria-expanded="true" aria-controls="baseInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
            </div>
            <div class="row row-cols-4 collapse show" id="baseInfo">
                <div class="form-group col">
                    <label for="departmentId">业务所属部门<i class="red">*</i></label>
                    <select id="departmentId"  name="departmentId" class="form-control" required></select>
                    <#bcomboProvider _id="departmentId" _provider="authDepartmentProvider"/>
                </div>
                <div class="form-group col">
                    <label for="chargeItemId">收费项目<i class="red">*</i></label>
                    <select id="chargeItemId"  name="chargeItemId" class="form-control" required>
                        <option value="" selected="">-- 请选择 --</option>
                    </select>
                </div>

                <%if(@com.dili.uap.sdk.session.SessionContext.getSessionContext().getUserTicket().getFirmCode() == @com.dili.ia.glossary.MarketEnum.SY.getCode()){%>
                <div class="form-group col">
                    <label for="typeCode">所属区域</label>
                    <#js_district _firstDistrictName="firstDistrictId" _secondDistrictName="secondDistrictId" _firstDistrictTextName="firstDistrictName"  _secondDistrictTextName="secondDistrictName" ></#js_district>
                </div>
                <%}%>

                <div class="form-group col">
                    <label for="assetsType">费用类型<i class="red">*</i></label>
                    <select id="assetsType"  name="assetsType" class="form-control" required></select>
                    <#bcomboProvider _id="assetsType" _provider="assetsTypeProvider" _value="${depositOrder.assetsType!}" _queryParams='{emptyText:"-- 请选择 --"}'/>
                </div>
                <div class="form-group col">
                    <label for="assetsName" class="">费用地址</label>
                    <#bautoCompleteProvider _hiddenDomainId="assetsId" _hiddenDomainName="assetsId" _displayDomainId="assetsName" _displayDomainName="assetsName" _placeholder="" _validatorMethod="isSelected" _optionVariable="boothAutoCompleteOption"/>
                    <input id="assetsNameInput" type="text" class="form-control"/>
                </div>

                <div class="form-group col">
                    <label for="startTime">开始日期</label>
                    <input type="text" id="startTime" name="startTime" class="form-control laydate laystart" >
                </div>
                <div class="form-group col">
                    <label for="endTime">结束日期</label>
                    <input type="text" id="endTime" name="endTime" class="form-control laydate layend" >
                </div>
                <div class="form-group col">
                    <label for="categoryId" _log>经营品类</label>
                    <#bautoCompleteProvider _hiddenDomainId="categoryId" _hiddenDomainName="categoryId" _displayDomainId="categoryName" _displayDomainName="categoryName" _placeholder="" _validatorMethod="isSelected" _optionVariable="categoryAutoCompleteOption"/>
                </div>
                <div class="form-group col">
                    <label for="amount" class="">金额<i class="red">*</i></label>
                    <input id="amount" type="number" class="form-control floatReserve money"name="amount" range="0 9999999.99" required />
                </div>
                <div class="form-group col-12">
                    <label for="notes">备注</label>
                    <textarea id="notes" class="form-control" name="notes" rows="2" maxlength="100"></textarea>
                </div>
            </div>
            <div class="modal-footer-wrap">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary px-5" onclick="javascript: parent.dia.hide()">取消</button>
                    <button type="button" class="btn btn-primary px-5" id="save">确定</button>
                </div>
            </div>
        </form>
    </div>

</#bs4Body>

<#js_customerAutocompleteJs/>
<#js_districtAssetsLinkage/>
<#otherFee_addJs />
