<#bs4Body>
    <div class="container-fluid">
        <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.earnest_order'/>">
        <form id="saveForm" role="form" novalidate>
            <div class="breadcrumb" >
                客户信息 <a href="javascript:;" class="ml-2" id="getCustomer">刷卡获取</a>
                <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#customerInfo" aria-expanded="true"
                   aria-controls="customerInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
            </div>
            <div class="row row-cols-4"  id="customerInfo">
                <div class="form-group col">
                    <label for="customerName">客户名称<i class="red">*</i></label>
                    <#bautoCompleteProvider _hiddenDomainId="customerId" _hiddenDomainName="customerId" _displayDomainId="customerName" _displayDomainName="customerName" _placeholder="" _validatorMethod="isSelected" _optionVariable="customerNameAutoCompleteOption" _required="true"/>
                </div>
            
                <div class="form-group col">
                    <label for="_certificateNumber">证件号码<i class="red">*</i></label>
                    <#bautoCompleteProvider _hiddenDomainId="certificateNumber" _hiddenDomainName="certificateNumber" _displayDomainId="_certificateNumber" _displayDomainName="_certificateNumber" _placeholder="" _validatorMethod="isSelected" _optionVariable="certificateNumberAutoCompleteOption" _required="true"/>
                </div>
            
                <div class="form-group col">
                    <label for="">联系电话<i class="red">*</i></label>
                    <input type="text" class="form-control isMobile" id="customerCellphone" name="customerCellphone" required />
                </div>
            </div>
            <div class="breadcrumb">
                基础信息
                <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#baseInfo" aria-expanded="true" aria-controls="baseInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
            </div>
            <div class="row row-cols-4 collapse show" id="baseInfo">
                <div class="form-group col">
                    <label for="departmentId">业务所属部门<i class="red">*</i></label>
                    <select id="departmentId"  name="departmentId" class="form-control" required></select>
                    <#bcomboProvider _id="departmentId" _provider="authDepartmentProvider"/>
                </div>
                <div class="form-group col">
                    <label for="typeCode">收费项目<i class="red">*</i></label>
                    <select id="" name="" class="form-control" required></select>
                    <#bcomboProvider _log="收费项目" _id="typeCode" _provider="dataDictionaryValueProvider" _value="${depositOrder.typeCode!}" _queryParams='{dd_code:"deposit_type"}'/>
                </div>
                <div class="form-group col">
                    <label for="typeCode">费用类型<i class="red">*</i></label>
                    <select id="" name="" class="form-control" required></select>
                    <#bcomboProvider _log="费用类型" _id="typeCode" _provider="dataDictionaryValueProvider" _value="${depositOrder.typeCode!}" _queryParams='{dd_code:"deposit_type"}'/>
                </div>
                <div class="form-group col">
                    <label for="amount" class="">费用地址</label>
                    <input id="" type="text" class="form-control" name="" required />
                </div>
                <div class="form-group col">
                    <label for="startDate">开始日期</label>
                    <input type="text" name="" class="form-control laydate laystart" >
                </div>
                <div class="form-group col">
                    <label for="endDate">结束日期</label>
                    <input type="text" name="" class="form-control laydate layend" >
                </div>
                <div class="form-group col">
                    <label for="amount" class="">经营品类</label>
                    <input id="" type="text" class="form-control" name=""  />
                </div>
                <div class="form-group col">
                    <label for="amount" class="">金额<i class="red">*</i></label>
                    <input id="amount" type="number" class="form-control floatReserve money"name="amount" range="0 9999999.99" required />
                </div>
                <div class="form-group col-12">
                    <label for="notes">备注</label>
                    <textarea id="notes" class="form-control" name="notes" rows="2" maxlength="100"></textarea>
                </div>
            </div>
            <div class="modal-footer-wrap">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary px-5" onclick="javascript: parent.dia.hide()">取消</button>
                    <button type="button" class="btn btn-primary px-5" onclick="bui.util.debounce(doAddXXXHandler,1000,true)()" id="formSubmit">确定</button>
                </div>
            </div>
        </form>
    </div>

</#bs4Body>

<#js_customerAutocompleteJs/>
<#depositOrder_addJs />
