<#bs4Body>
    <div class="container-fluid pb-5">
        <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.departmentChargeItem'/>">
        <form id="saveForm" role="form" novalidate class="pb-5">
            <div class="row row-cols-4">
                <div class="form-group col">
                    <label for="chargeItemName">费用类型<i class="red">*</i></label>
                    <input id="chargeItemName" name="chargeItemName" class="form-control" value="${departmentChargeItem.chargeItemName}"  disabled />
                </div>

                <input hidden id="chargeItemId" name="chargeItemId" value="${departmentChargeItem.chargeItemId}">

                <div class="form-group col-12">
                    <label for="chargeItemId">部门设置<i class="red">*</i></label>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkAll">
                        <label class="custom-control-label" for="checkAll">全选</label>
                    </div>
                    <div id="department-group">
                        <#bcheckboxGroupProvider _containerId="department-group" _name="department" _provider="authDepartmentProvider" _required="true"/>
                    </div>
                </div>

                <%if(@com.dili.uap.sdk.session.SessionContext.getSessionContext().getUserTicket().getFirmCode() == @com.dili.ia.glossary.MarketEnum.SY.getCode()){%>
                <div class="form-group col-12">
                    <label for="mchId">所属组织<i class="red">*</i></label>
                    <div id="mch-group">
                        <#bradioGroupProvider _containerId="mch-group" _name="mchId" _provider="mchProvider" _required="true"/>
                    </div>
                </div>
                <%}%>

            </div>
            <div class="modal-footer-wrap">
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-5" onclick="javascript: parent.dia.hide()">取消</button>
                <button type="button" class="btn btn-primary px-5" id="save">保存</button>
            </div>
            </div>
        </form>
    </div>

</#bs4Body>

<#otherFee_departmentIndexJs />

</script>