<#bs4Body>
    <div class="container-fluid pb-5">
        <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.earnest_order'/>">
        <form id="saveForm" role="form" novalidate class="pb-5">
            <div class="row">
                <div class="form-group col-1">
                    费用类型:
                </div>
                <div class="form-group col-3">
                    <label for="endDate"></label>
                    <input type="text" name="" class="form-control" value="罚款" >
                </div>
            </div>
            <div class="row">
                <div class="form-group col-1">
                    部门设置:
                </div>
                <div class="form-group col-11">
                    <div class="row">
                        <div class="col-auto">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">全选</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                                <#bcheckboxGroupProvider _containerId="checkbox-group" _name="entranceStatus" _provider="entranceStatusProvider"  _valueField="value" _textField="text" _values="[3,4]" _required="true"/>
                                <#bcheckboxGroupProvider _containerId="checkbox-group" _name="entranceStatus" _provider="entranceStatusProvider"  _valueField="value" _textField="text" _values="[3,4]" _required="true"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer-wrap">
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-5" onclick="javascript: parent.dia.hide()">取消</button>
                <button type="button" class="btn btn-primary px-5" onclick="bui.util.debounce(doAddDepartmentHandler,1000,true)()" id="formSubmit">保存</button>
            </div>
            </div>
        </form>
    </div>

</#bs4Body>

<#js_customerAutocompleteJs/>
<#otherFee_departmentIndexJs />

</script>