<#bs4Body>

<div class="container-fluid pb-5">
    <form id="refundApplyForm" role="form" class="pb-5">
        <input type="hidden" name="businessId" value="${otherFee.id}"/>
        <input type="hidden" name="businessCode" value="${otherFee.code!}"/>
        <input type="hidden" name="departmentId" value="${otherFee.departmentId!}"/>
        <input type="hidden" name="departmentName" value="${otherFee.departmentName!}"/>
        <input type="hidden" name="customerId" value="${otherFee.customerId!}"/>


        <div class="breadcrumb" >
            客户信息
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#customerInfo" aria-expanded="true"
               aria-controls="customerInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div class="row row-cols-4" id="customerInfo">
            <div class="form-group col">
                <label for="customerName">客户名称<i class="red">*</i></label>
                <input type="text" class="form-control" id="customerName" name="customerName" value="${otherFee.customerName!}" readonly/>
            </div>
            <div class="form-group col">
                <label for="certificateNumber">证件号码<i class="red">*</i></label>
                <input type="text" class="form-control" id="certificateNumber" name="certificateNumber" value="${otherFee.certificateNumber!}" readonly/>
            </div>
            <div class="form-group col">
                <label for="customerCellphone">联系电话<i class="red">*</i></label>
                <input type="text" class="form-control" id="customerCellphone" name="customerCellphone" value="${otherFee.customerCellphone!}" readonly/>
            </div>
        </div>
        <div class="row row-cols-4">
            <div class="form-group col">
                <label for="totalRefundAmount" class="" _log>退款金额<i class="red">*</i></label>
                <input type="number" class="form-control floatReserve money" id="totalRefundAmount" name="totalRefundAmount" range="0.01 9999999.99"  placeholder="可退余额：<#centToYuan value='${otherFee.amount!}'/>" value="" required />
            </div>
        </div>

        <div class="breadcrumb">
            基础信息
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#baseInfo" aria-expanded="true" aria-controls="baseInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div class="collapse show" id="baseInfo">
            <#refundInfo customerName="${refundOrder.customerName!}" customerId="${refundOrder.customerId!}" certificateNumber="${refundOrder.certificateNumber!}"></#refundInfo>
        </div>


        <div class="row mt-1">
            <div class="form-group col-8">
                <label for="refundReason">退款原因</label>
                <textarea class="form-control" id="refundReason" name="refundReason" rows="1" maxlength="100" required></textarea>
            </div>
        </div>
        <div class="modal-footer-wrap">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-5" onclick="javascript: parent.dia.hide()">取消</button>
                <button type="button" class="btn btn-primary px-5" id="save">保存</button>
            </div>
        </div>
    </form>
</div>

</#bs4Body>
<#otherFee_refundApplyJs/>
