<#bs4Body>
    <style>

    </style>
    <div class="container-fluid">
        <#bs4nav>
            <form id="queryForm" role="form">
                <div class="row row-cols-6">
                    <div class="form-group col">
                        <label for="state">状态:</label>
                        <select id="state" name="state" class="form-control"></select>
                        <#bcomboProvider _id="state" _provider="depositOrderStateProvider" _value="" _queryParams='{emptyText:"-- 全部 --"}' />
                    </div>
                    <div class="form-group col">
                        <label for="departmentId">业务所属部门:</label>
                        <select id="departmentId" name="departmentId" class="form-control"></select>
                        <#bcomboProvider _id="departmentId" _provider="authDepartmentProvider" _queryParams='{emptyText:"-- 全部 --"}' />
                    </div>
                    <div class="form-group col">
                        <label for="likeCustomerName">客户名称:</label>
                        <input type="text" class="form-control" name="likeCustomerName" id="likeCustomerName" maxlength="50" />
                    </div>
                    <div class="form-group col">
                        <label for="customerCellphone">联系电话:</label>
                        <input type="text" class="form-control" name="customerCellphone" id="customerCellphone" maxlength="50" />
                    </div>
                    <div class="form-group col">
                        <label for="code">业务单号:</label>
                        <input type="text" class="form-control" name="code" id="code" maxlength="50" />
                    </div>
                    <div class="form-group col-auto">
                        <label for="createdStart">创建时间:</label>
                        <div class="form-inline">
                            <div class="input-group">
                                <input type="text" name="createdStart" id="createdStart"
                                    class="form-control date laydatetime laystart"
                                    value="${createdStart!,dateFormat='yyyy-MM-dd HH:mm:ss'}" />
                                <div class="input-group-append">
                                    <label for="createdStart" class="input-group-text fa fa-calendar"></label>
                                </div>
                            </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                            <div class="input-group" id="datetimepicker3">
                                <input type="text" name="createdEnd" id="createdEnd"
                                    class="form-control date laydatetime layend"
                                    value="${createdEnd!,dateFormat='yyyy-MM-dd HH:mm:ss'}" />
                                <div class="input-group-append">
                                    <label for="createdEnd" class="input-group-text fa fa-calendar"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center mt-3">
                        <button type="button" class="btn btn-outline-primary mr-2"
                            onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i>
                            清空</button>
                        <button type="button" class="btn btn-outline-primary" onclick="queryDataHandler()"><i
                                class="fa fa-search"></i> 查询</button>
                    </div>
                </div>

            </form>

        </#bs4nav>
        <hr>

        <div class="row">
            <div class="col-12">
                <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                    <button id="btn_view" type="button" class="btn btn-primary" onclick="openViewHandler()"><i class="fa fa-eye"></i> 查看</button>
                    <#resource code="addDepositOrder">
                        <button id="btn_add" type="button" class="btn btn-primary" onclick="openInsertHandler()"><i class="fa fa-plus"></i> 新增</button>
                    </#resource>
                    <#resource code="updateDepositOrder">
                        <button id="btn_update" type="button" class="btn btn-primary" onclick="openUpdateHandler()"><i class="fa fa-pencil-square-o"></i> 修改</button>
                    </#resource>
                    <#resource code="submitDepositOrder">
                        <button id="btn_submit" type="button" class="btn btn-primary" onclick="openSubmitPaymentHandler()"><i class="fa fa-paper-plane"></i> 提交</button>
                    </#resource>
                    <#resource code="withdrawDepositOrder">
                        <button id="btn_withdraw" type="button" class="btn btn-primary" onclick="openWithdrawHandler()"><i class="fa fa-undo"></i> 撤回</button>
                    </#resource>
                    <#resource code="cancelDepositOrder">
                        <button id="btn_cancel" type="button" class="btn btn-primary" onclick="openCancelHandler()"><i class="fa fa-ban"></i> 取消</button>
                    </#resource>
                    <#resource code="refundApplyDepositOrder">
                        <button id="btn_refund_apply" type="button" class="btn btn-primary" onclick="openRefundApplyHandler()"><i class="fa fa-reply"></i> 退款申请</button>
                    </#resource>
                </div>
                <table id="grid" data-toggle="table" data-title="定金列表" class="table" data-toolbar="#toolbar"
                    data-pagination="true" data-page-number="1" data-page-size="10" data-query-params="queryParams"
                    data-side-pagination="server" data-method="POST"
                    data-content-type="application/x-www-form-urlencoded" data-single-select="true"
                    data-click-to-select="true" data-unique-id="id" data-sort-name="id" data-sort-order="desc"
                    data-icons="bui.variable.icons" data-buttons-class="primary" data-show-refresh="true"
                    data-show-fullscreen="true" data-show-columns="true">
                    <thead>
                        <tr>
                            <th data-radio="true"></th>
                            <th data-field="code" data-sortable="true" data-align="center" data-formatter="codeFormatter">
                                业务单号
                            </th>
                            <th data-field="typeName" data-sortable="true" data-align="center" >
                                保证金类型
                            </th>
                            <th data-field="assetsName" data-sortable="true" data-align="center">
                                对应编号
                            </th>
                            <th data-field="departmentName" data-sortable="true" data-align="center">
                                业务所属部门
                            </th>
                            <th data-field="customerName" data-sortable="true" data-align="center">
                                客户名称
                            </th>
                            <th data-field="customerCellphone" data-sortable="true" data-align="center">
                                联系电话
                            </th>
                            <th data-field="state" data-sortable="true" data-provider="depositOrderStateProvider" data-align="center">
                                业务状态
                            </th>
                            <th data-field="payState" data-sortable="true" data-provider="depositPayStateProvider" data-align="center">
                                交费状态
                            </th>
                            <th data-field="refundState" data-sortable="true" data-provider="depositRefundStateProvider" data-align="center">
                                退款状态
                            </th>
                            <th data-field="amount" data-sortable="true" data-align="center" data-provider="moneyProvider">
                                保证金金额
                            </th>
                            <th data-field="paidAmount" data-sortable="true" data-align="center" data-provider="moneyProvider">
                                已交金额
                            </th>
                            <th data-field="waitAmount" data-sortable="true" data-align="center" data-provider="moneyProvider">
                                待交金额
                            </th>
                            <th data-field="creator" data-sortable="true" data-align="center">
                                创建人
                            </th>
                            <th data-field="createTime" data-sortable="true" data-provider="datetimeProvider" data-align="center">
                                创建时间
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    </div>


</#bs4Body>

<#depositOrder_indexJs />

<!-- 提交付款模板 -->
<script id="submitPaymentTpl" type="text/html">
    <form id="submitPaymentForm">
        <div class="row mb-3">
            <div class="col-12"><i class="red">提交后业务单信息不可改，并可进行缴费，确认提交？</i></div>
        </div>
        <div class="row">
            <div class="col-2 col-form-label">
                <label for="amount" class="justify-content-end w-100px">本期付款金额：</label>
            </div>
            <div class="col-8 ml-2">
                <input type="number" id="amount" name="amount" class="form-control floatReserve" value="{{waitAmount}}" min="{{minAmount}}" max="{{waitAmount}}" required/>
            </div>
        </div>
    </form>
</script>