<#bs4Body>
<!--<a href="javascript:;" id="goCustomerRegister">无此客户，点击注册</a>-->
<div class="container-fluid">
    <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.deposit_order'/>">
    <form id="updateForm" role="form" novalidate>
        <input type="hidden" name="id" value="${depositOrder.id!}">
        <input type="hidden" name="version" value="${depositOrder.version!}">
        <div class="breadcrumb" >
            客户信息 <a href="javascript:;" class="ml-2" id="getCustomer">刷卡获取</a>
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#customerInfo" aria-expanded="true"
               aria-controls="customerInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div class="row row-cols-2 collapse show" id="customerInfo">
            <div class="form-group col">
                <label for="customerName">客户名称<i class="red">*</i></label>
                <#bautoCompleteProvider _log="客户名称" _hiddenDomainId="customerId" _hiddenDomainName="customerId" _displayDomainId="customerName" _displayDomainName="customerName" _placeholder="" _validatorMethod="isSelected" _value="${depositOrder.customerId!}" _text="${depositOrder.customerName!}" _required="true"  _optionVariable="customerNameAutoCompleteOption"/>
            </div>
            <div class="form-group col">
                <label for="_certificateNumber">证件号码<i class="red">*</i></label>
                <#bautoCompleteProvider _log="证件号码" _hiddenDomainId="certificateNumber" _hiddenDomainName="certificateNumber" _displayDomainId="_certificateNumber" _displayDomainName="_certificateNumber" _placeholder="" _validatorMethod="isSelected" _value="${depositOrder.certificateNumber!}" _text="${depositOrder.certificateNumber!}" _required="true" _optionVariable="certificateNumberAutoCompleteOption"/>
            </div>
            <div class="form-group col">
                <label _log for="customerCellphone">联系电话<i class="red">*</i></label>
                <input type="text" class="form-control isMobile" id="customerCellphone" name="customerCellphone" value="${depositOrder.customerCellphone!}" required />
            </div>
        </div>
        <div class="breadcrumb">
            基础信息
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#baseInfo" aria-expanded="true" aria-controls="baseInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div class="row row-cols-2 collapse show" id="baseInfo">
            <div class="form-group col">
                <label for="departmentId">业务所属部门<i class="red">*</i></label>
                <select id="departmentId"  name="departmentId" class="form-control"></select>
                <#bcomboProvider _log="业务所属部门" _id="departmentId" _provider="authDepartmentProvider" _value="${depositOrder.departmentId!}"/>

            </div>
            <div class="form-group col">
                <label for="typeCode">保证金类型<i class="red">*</i></label>
                <select id="typeCode"  name="typeCode" class="form-control" required></select>
                <#bcomboProvider _log="保证金类型" _id="typeCode" _provider="dataDictionaryValueProvider" _value="${depositOrder.typeCode!}" _queryParams='{dd_code:"deposit_type"}'/>
            </div>
            <div class="form-group col">
                <label for="assetsName" class="" _log >对应编号</label>
                <#bautoCompleteProvider _log="对应编号" _value="${depositOrder.assetsId!}" _text="${depositOrder.assetsName!}" _hiddenDomainId="assetsId" _hiddenDomainName="assetsId" _displayDomainId="assetsName" _displayDomainName="assetsName" _placeholder="" _validatorMethod="isSelected" _optionVariable="boothAutoCompleteOption"/>

            </div>
            <div class="form-group col">
                <label for="amount" _log class="">保证金金额<i class="red">*</i></label>
                <input id="amount" type="number" class="form-control floatReserve money" name="amount" range="0 9999999.99" value="<#centToYuan value='${depositOrder.amount!0}'/>" required />
            </div>
            <div class="form-group col-12">
                <label for="notes" _log>备注</label>
                <textarea id="notes" class="form-control" name="notes" rows="1" maxlength="100">${depositOrder.notes!}</textarea>
            </div>
        </div>


        <div class="text-right btn-r-b">
            <button type="button" class="btn btn-secondary px-5" onclick="javascript: parent.dia.hide()">取消</button>
            <button type="button" class="btn btn-primary px-5" onclick="bui.util.debounce(doUpdateDepostHandler,1000,true)()" id="formSubmit">保存</button>
        </div>
    </form>
</div>

</#bs4Body>


<#js_customerAutocompleteJs/>

<#depositOrder_updateJs />

<script  id="boothItem"  type="text/html">
    <tr data-index="{{index}}">
        <td class="text-center align-middle"><a href="javascript:;" class="item-del" style="padding: 8px 18px;"><i class="fa fa-minus-square fa-lg"></i></a></td>
        <td style="padding: .25rem!important;">
            <#bautoCompleteProvider _log="摊位编号" _escape="true" _hiddenDomainId="assetsId_{{index}}" _hiddenDomainName="assetsId_{{index}}" _displayDomainId="assetsName_{{index}}" _displayDomainName="assetsName_{{index}}"  _valueField="id" _textField="name" _value="{{boothId}}" _text="{{boothName}}" _placeholder="" _validatorMethod="isSelected"  _optionVariable="boothAutoCompleteOption"/>
        </td>

    </tr>
</script>

