<#bs4Body>

<div class="container-fluid">
    <form id="saveForm" role="form" novalidate>
        <div class="breadcrumb">
            基础信息
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#orderInfo" aria-expanded="true" aria-controls="orderInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div class="row  row-cols-2 collapse show" id="orderInfo">
            <div class="form-group col">
                <label for="" class="">业务单号</label>
                <input type="text" class="form-control" value="${depositOrder.code!}" disabled />
            </div>
            <div class="form-group col">
                <label for="" class="">状态</label>
                <input type="text" class="form-control" value="${@com.dili.ia.glossary.DepositOrderStateEnum.getDepositOrderStateEnum(depositOrder.state).getName()}" disabled />
            </div>
            <div class="form-group col">
                <label for="" class="">保证金类型</label>
                <input type="text" class="form-control" value="" disabled />
            </div>
            <div class="form-group col">
                <label for="" class="">业务所属部门</label>
                <input type="text" class="form-control" value="${depositOrder.departmentName!}" disabled />
            </div>
            <div class="form-group col">
                <label for="" class="">对应编号</label>
                <input type="text" class="form-control" value="${depositOrder.code!}" disabled />
            </div>
            <div class="form-group col">
                <label for="">客户名称</label>
                <input type="text" class="form-control" value="${depositOrder.customerName!}" disabled />

            </div>
            <div class="form-group col">
                <label for="">证件号码</label>
                <input type="text" class="form-control" value="${depositOrder.certificateNumber!}" disabled />

            </div>
            <div class="form-group col">
                <label for="">联系电话</label>
                <input type="text" class="form-control" value="${depositOrder.customerCellphone!}" disabled />
            </div>
            <div class="form-group col-6">
                <label for="">备注</label>
                <textarea class="form-control" name="notes" rows="1" disabled>${depositOrder.notes!}</textarea>
            </div>
        </div>

        <%if(isNotEmpty(logs) && logs.~size>0){ %>
        <div class="breadcrumb">
            业务记录
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#recordInfo" aria-expanded="true" aria-controls="recordInfo">展开 <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
        </div>
        <div class="collapse" id="recordInfo">
            <table data-toggle="table">
                <thead>
                <tr>
                    <th data-align="center">时间</th>
                    <th data-align="center">操作</th>
                    <th data-align="center">详情</th>
                    <th data-align="center">补充信息</th>
                    <th data-align="center">工作员</th>
                </tr>
                </thead>
                <tbody>
                <%
                for(log in logs){%>
                <tr>
                    <td class="text-center align-middle" >${log.createTime!}</td>
                    <td class="text-center align-middle" >${log.operationTypeText!}</td>
                    <td class="text-center align-middle" data-toggle="tooltip" data-placement="left" title="${log.content!}" >${log.content!}</td>
                    <td class="text-center align-middle" data-toggle="tooltip" data-placement="left" title="${log.notes!}" >${log.notes!}</td>
                    <td class="text-center align-middle" >${log.operatorName!}</td>
                </tr>
                <% }%>
                </tbody>
            </table>
        </div>
        <% }%>
    </form>
</div>

</#bs4Body>