<#bs4Body>
<div class="container-fluid">
    <#bs4nav>
    <form id="queryForm" role="form" >
        <div class="row row-cols-6">
            <div class="form-group col">
                <label for="departmentId">部门</label>
                <select id="departmentId" name="departmentId" class="form-control"></select>
               <#bcomboProvider _id="departmentId" _provider="authDepartmentProvider" />
            </div>
            <div class="form-group col">
                <label for="assetsId">冷库编号</label>
                <select id="assetsId" name="assetsId" class="form-control" required>
                </select>
            </div>
            <div class="form-group col">
                <label for="categoryId">品类<i class="red">*</i></label>
                <select id="categoryId" name="categoryId" class="form-control" multiple >
                </select>
                <#bselect2 _id="categoryId" _mode="remote" _optionVariable="categoryAutoCompleteOption"  />
            </div>
            <div class="form-group col">
                <label for="customerName">客户姓名</label>
                <input type="text" class="form-control" name="customerName" id="customerName" maxlength="50"/>
            </div>
            <div class="form-group col">
                <label for="customerCellPhone">手机号</label>
                <input type="text" class="form-control" name="customerCellPhone" id="customerCellPhone" maxlength="50"/>
            </div>
            <div class="col align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button id="query" type="button" class="btn btn-outline-primary" onclick="queryDataHandler()"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>

    </form>
</#bs4nav>
<hr>
    <div class="row">
        <div class="col-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
            	<button id="btn_view" type="button" class="btn btn-primary" onclick="openStockOutHandler()"><i class="fa fa-eye"></i> 出库</button>
				<button id="btn_view" type="button" class="btn btn-primary" onclick="openStockInListHandler()"><i class="fa fa-eye"></i> 入库详情</button>
				<button id="btn_view" type="button" class="btn btn-primary" onclick="openStockOutListHandler()"><i class="fa fa-eye"></i> 出库详情</button>
                <button id="btn_view" type="button" class="btn btn-primary" onclick="openAddHandler(2)"><i class="fa fa-eye"></i> 下载</button>
            </div>
            <table id="grid" data-toggle="table" data-title="库存列表" class="table" data-toolbar="#toolbar" data-pagination="true" data-page-number="1" data-page-size="5"
                   data-query-params="queryParams" data-side-pagination="server" data-method="POST" data-content-type="application/x-www-form-urlencoded" data-single-select="true"
                   data-click-to-select="true"  data-checkbox-header="true" data-unique-id="id" data-sort-name="id" data-sort-order="desc"  data-icons="bui.variable.icons" data-buttons-class="primary"
                   data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true">
                <thead>
                 <tr>
                    <th data-radio="true"></th>
                    <th data-field="assetsId" data-sortable="true" data-align="center" data-width-unit="%" >
                        冷库编号
                    </th>
                    <th data-field="districtId" data-sortable="true" data-align="center" data-sort-name="type" >
                        冷库区域
                    </th>
                    <th data-field="departmentName" data-sortable="true" data-align="center">
                       部门
                    </th>
                    <th data-field="customerName" data-sortable="true" data-sort-name="customer_name" data-align="center">
                        客户名称
                    </th>
                    <th data-field="customerCellphone" data-sortable="true" data-align="center" >
                        联系电话
                    </th>
                     <th data-field="categoryName" data-sortable="true" data-sort-name="category_name" data-align="center">
                        货物品类
                    </th>
                    <th data-field="quantity" data-sortable="true" data-sort-name="quantity" data-align="center">
                        当前库存(件)
                    </th>
                    <th data-field="weight" data-sortable="true" data-sort-name="weight" data-align="center">
                        当前库存(斤)
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

</div>
</#bs4Body>
<#stock_stock_indexJs />


<script id="stockOut" type="text/html">
	<form id="saveForm" role="form" novalidate>
        <div class="row row-cols-3 detail" id="detailInfo">
            <input type="hidden" class="form-control" name="stockId" value="{{selectedRow.id}}" required />
            <div class="form-group col">
                <label for="" class="">当前库存：<i class="red">*</i></label> <input id="stockQuantity" type="number" class="form-control floatReserve"
                 name="stockQuantity" range="0 9999999" value="{{selectedRow.quantity}}" readonly required />
            </div>
            <div class="form-group col">
                <label for="weight" class="">出库件数：<i class="red">*</i></label> <input id="quantity" type="number" class="form-control floatReserve"
                 name="quantity" range="0 9999999"  required />
            </div>
            <div class="form-group col">
                <label for="notes">备注</label>
                <textarea id="notes" class="form-control" name="notes" rows="1" maxlength="100" ></textarea>
            </div>
        </div>
	</form>			
</script>