<#bs4Body>
<div class="container-fluid">
    <#bs4nav>
    <form id="queryForm" role="form" >
        <div class="row row-cols-6">
            <div class="form-group col">
                <label for="departmentId">部门</label>
                <select id="departmentId" name="departmentId" class="form-control"></select>
               <#bcomboProvider _id="departmentId" _provider="authDepartmentProvider" />
            </div>
             <div class="form-group col-4">
                <label for="">区域</label>
                <div class="input-group">
                    <select class="form-control" id="district-one" name="area" required>

                    </select>
                    <select class="form-control" id="district-two" name="districtId">
                        <option value="">-- 全部 --</option>
                    </select>
                </div>
            </div>
            <div class="form-group col">
                <label for="assetsId">冷库编号</label>
                <select id="assetsId" name="assetsId" class="form-control" required>
                </select>
            </div>
            <div class="form-group col">
                <label for="categoryId">品类<i class="red">*</i></label>
                <select id="categoryId" name="categoryId" class="form-control" >
                </select>
                <#bselect2 _id="categoryId" _mode="remote" _optionVariable="categoryAutoCompleteOption"  />
            </div>
             <div class="form-group col-auto">
                <label for="createdStart">入库时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="startTime" id="createdStart" class="form-control laydatetime laystart" value="${createdStart!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="createdStart"  class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input type="text" name="endTime" id="createdEnd" class="form-control laydatetime layend" value="${createdEnd!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="createdEnd"  class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col">
                <label for="customerName">客户姓名</label>
                <input type="text" class="form-control" name="customerName" id="customerName" maxlength="50"/>
            </div>
            <div class="form-group col">
                <label for="customerCellPhone">手机号</label>
                <input type="text" class="form-control" name="customerCellPhone" id="customerCellPhone" maxlength="50"/>
            </div>
            <div class="col align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button id="query" type="button" class="btn btn-outline-primary" onclick="queryDataHandler()"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>

    </form>
</#bs4nav>
<hr>
    <div class="row">
        <div class="col-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
            	<!-- <#resource code="stockOut">
            	<button id="btn_view" type="button" class="btn btn-primary" onclick="openStockOutHandler()"><i class="fa fa-truck"></i> 出库</button>
				</#resource> -->
				<#resource code="stockInList">
				<button id="btn_view" type="button" class="btn btn-primary" onclick="openStockInListHandler()"><i class="fa fa-eye"></i> 入库详情</button>
				</#resource>
				<#resource code="stockOutList">
				<button id="btn_view" type="button" class="btn btn-primary" onclick="openStockOutListHandler()"><i class="fa fa-eye"></i> 出库详情</button>
                </#resource>
                <#resource code="doExport">
            	<button id="export" type="button" class="btn btn-primary" onclick="bui.util.doExport('grid','queryForm')"><i class="fa fa-download"></i> 导出</button>
            	</#resource>
            </div>
            <table id="grid" data-toggle="table" data-title="库存列表" class="table" data-toolbar="#toolbar" data-pagination="true" data-page-number="1" data-page-size="5"
                   data-query-params="queryParams" data-side-pagination="server" data-method="POST" data-content-type="application/x-www-form-urlencoded" data-single-select="true"
                   data-click-to-select="true"  data-checkbox-header="true" data-unique-id="id" data-sort-name="create_time" data-sort-order="desc"  data-icons="bui.variable.icons" data-buttons-class="primary"
                   data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true">
                <thead>
                 <tr>
                    <th data-radio="true"></th>
                    <th data-field="assetsId" data-sortable="true" data-align="center" data-width-unit="%" >
                        冷库编号
                    </th>
                    <th data-field="districtName" data-sortable="true" data-align="center" data-sort-name="type" >
                        冷库区域
                    </th>
                    <th data-field="departmentName" data-sortable="true" data-align="center">
                       部门
                    </th>
                    <th data-field="customerName" data-sortable="true" data-sort-name="customer_name" data-align="center">
                        客户名称
                    </th>
                    <th data-field="customerCellphone" data-sortable="true" data-align="center" >
                        联系电话
                    </th>
                     <th data-field="categoryName" data-sortable="true" data-sort-name="category_name" data-align="center">
                        货物品类
                    </th>
                     <th data-field="stockInDay" data-sortable="true" data-sort-name="create_time" data-align="center">
                        日期
                    </th>
                    <th data-field="inQuantity" data-sortable="true" data-sort-name="inQuantity" data-align="center">
                        入库件数
                    </th>
                    <th data-field="outQuantity" data-sortable="true" data-sort-name="outQuantity" data-align="center">
                        出库件数
                    </th>
                    <th data-field="cancelQuantity" data-sortable="true" data-sort-name="cancelQuantity" data-align="center">
                        作废件数
                    </th>
                    <th data-field="quantity" data-sortable="true"  data-sort-name="quantity" data-align="center">
                        库存件数
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

</div>
</#bs4Body>
<#stock_stock_indexJs />
<#stock_searchJs />


<script id="stockOut" type="text/html">
	<form id="saveForm" role="form" novalidate>
        <div class="row row-cols-3 detail" id="detailInfo">
            <input type="hidden" class="form-control" name="stockId" value="{{selectedRow.id}}" required />
            <div class="form-group col">
                <label for="" class="">当前库存：<i class="red">*</i></label> <input id="stockQuantity" type="number" class="form-control"
                 name="stockQuantity" range="0 9999999" value="{{selectedRow.quantity}}" readonly required />
            </div>
            <div class="form-group col">
                <label for="weight" class="">出库件数：<i class="red">*</i></label> <input id="quantity" type="number" class="form-control"
                 name="quantity" range="0 9999999"  required />
            </div>
            <div class="form-group col">
                <label for="notes">备注</label>
                <textarea id="notes" class="form-control" name="notes" rows="1" maxlength="100" ></textarea>
            </div>
        </div>
	</form>			
</script>