

<#bs4Body>
<div class="row">
        <div class="col-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                <button id="btn_view" type="button" class="btn btn-primary" onclick="openViewHandler()"><i class="fa fa-eye"></i> 查看</button>
            </div>
            <#stock_stockInDetail_list />
        </div>
    </div>

<script>
/*********************变量定义区 begin*************/
//行索引计数器
//如 let itemIndex = 0;
let _grid = $('#grid');
let _form = $('#_form');
let _modal = $('#_modal');
var dia;
/*********************变量定义区 end***************/

/******************************驱动执行区 begin***************************/
$(function() {
	$(window).resize(function() {
		_grid.bootstrapTable('resetView')
	});
	queryDataHandler();
});
/******************************驱动执行区 end****************************/

/*****************************************函数区 begin************************************/

/**
* 查询处理
*/
/**
 * 查询处理
 */


function queryDataHandler() {
	//let queryParams = {};
	//queryParams.categoryId = ${categoryId!}
	_grid.bootstrapTable( {	
		pageNumber: 1,
		url: '/stock/stockInDetail/listPage.action',
		queryParams:function(params){
			params.page = params.offset / params.limit + 1,
			params.rows = params.limit
			params.categoryId = ${categoryId!};
			params.assetsId = ${assetsId!};
			params.customerId = ${customerId!};
			params.metadata = {"type":'{"provider":"stockInTypeProvider","index":10,"field":"type"}',
			"amount":'{"provider":"moneyProvider","index":20,"field":"amount"}',
			"createTime":'{"provider":"dateProvider","index":30,"field":"createTime"}',
			"expireDate":'{"provider":"dateProvider","index":40,"field":"expireDate"}',
			"state":'{"provider":"stockInStateProvider","index":50,"field":"state"}'} ;
			return params;
		}
	});
} 

/**
打开查看窗口
*/
function openViewHandler() {
	//获取选中行的数据
	let rows = _grid.bootstrapTable('getSelections');
	if (null == rows || rows.length == 0) {
		bs4pop.alert('请选中一条数据');
		return false;
	}
	window.location.href = "${contextPath}/stock/stockInDetail/view.html?code=" + rows[0].code;
}

function codeFormatter(value,row,index) {
    return '<a href="javascript:openViewHandler(\''+row.code+'\')">'+value+'</a>';
}

</script>



</#bs4Body>

