#set($layout = "/layout/empty.vm")
<form class="form-horizontal col-sm-12 form-onecol" id="addForm" role="form">
    <table class="col-sm-12">
        <tbody>
        <tr class="row">
            <td class="form-group">
                <label class="col-sm-2 text-justify">编号</label>
                <div class="col-sm-6">
                    <input type="text" name="number" class="form-control input-sm isInt" maxlength="3">
                </div>
            </td>
        </tr>
        <tr class="row">
            <td class="form-group">
                <label class="col-sm-2 text-justify">区域名称∗</label>
                <div class="col-sm-6">
                    <input type="text" name="name" class="form-control input-sm" required="" maxlength="20">
                </div>
            </td>
        </tr>
        <tr class="row">
            <td class="form-group">
                <label class="col-sm-2 text-justify">部门∗</label>
                <div class="col-sm-6">
                    <select name="departmentId" class="form-control input-sm" required="">
						#foreach($dep in $deps)
                            <option value="$!dep.name"  #if($obj.departmentId == $!dep.name) selected="selected" #end>$!{dep.value}</option>
						#end
                    </select>
                </div>
            </td>
        </tr>
        <tr class="row fullline">
            <td class="form-group">
                <label class="col-sm-2 pull-left text-justify">备注</label>
                <div class="col-sm-6">
                    <textarea class="form-control" name="remarks" cols="30" rows="3" maxlength="25"></textarea>
                </div>
            </td>
        </tr>

        </tbody></table>
</form>
#parse("/customer/tip_js.vm")
<script>
    var flag =1;
    var popDialogObj = popDialogOk($("#addForm"));
    popDialogObj.button().click( function() {
        var validate = $("#addForm").validate().form();
        if(validate==true){
            if(flag==2){
                $(this).attr('disabled',true);
                return false;
            }
            flag =2;

            $.ajax({
                type : 'post',
                url : '/district/save',
                data : $('#addForm').serialize(),
                dataType : 'json',
                success : function(ret){
                    if(ret.code != 'success'){
                        tips("失败提示",ret.result);
                        flag =1;
                    }else{
                        tips('成功提示','已保存成功！',true,'/district/list');
                    }
                }
            });
            //popDialogObj.closeDialog();
        }
    })
</script>