<form class="col-sm-12" id="divForm" role="form">
    <table>
        <tbody>
        <tr>
            <td>
                一级名称 : ${obj.name!}
                <input type="hidden" class="" value="${obj.name!}" disabled="" id="parentName">
                <input type="hidden" name="parentId" value="${obj.id!}" id="parentId">
            </td>
        </tr>
        </tbody>
    </table>
    <div id="boothInfo1">
        <table class="table table-bordered table-hover table-striped" id="divTable">
            <thead>
            <tr>
                <th class="text-center align-middle" style="width: 5%"><a id="add_div" href="javascript:;"
                                                                          style="padding: 8px 18px;"><i
                        class="fa fa-plus-square fa-lg"></i></a></th>
                <th style="width: 25%;font-weight:normal; ">区域名称</th>
                <th style="width: 25%;font-weight:normal; ">区域编号</th>
                <th style="width: 22%;font-weight:normal; ">备注</th>
            </tr>
            </thead>
            <tbody>
            <tr data-index="">
                <td class="text-center align-middle"><a href="javascript:;" class="item-del" style="padding: 8px 18px;"><i
                        class="fa fa-minus-square fa-lg"></i></a></td>
                <td style="padding: .25rem!important;"><input type="text" name="names" value=""
                                                              class="form-control"></td>
                <td style="padding: .25rem!important;"><input type="text" name="numbers" value=""
                                                              class="form-control"></td>
                <td style="padding: .25rem!important;"><input type="text" name="notes" value=""
                                                              class="form-control"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel">取消</button>
        <button type="button" class="btn btn-primary" id="divForm-submit" onclick="saveDivForm()">提交</button>
    </div>
</form>
<script>
    $("#divForm").on('click', '.item-del', function () {
        if ($('#divTable tr').length > 2) {
            $(this).closest('tr').remove();
        }
    });

    $("#add_div").click(function () {
        $('#divTable tbody').append(template('divItem'));
    });

    function saveDivForm() {
        bui.loading.show('努力提交中，请稍候。。。');
        $("#divForm-submit").attr("disabled", "disabled");
        $.ajax({
            type : 'post',
            url : '/district/divisionSave.action',
            data : $('#divForm').serialize(),
            dataType : 'json',
            success : function(ret){
                bui.loading.hide();
                $("#divForm-submit").removeAttr("disabled");
                if(ret.code!='200'){
                    bs4pop.alert(data.message, {type: 'error'});
                }else{
                    window.location.reload();
                }
            },
            error: function () {
                bui.loading.hide();
                $("#divForm-submit").removeAttr("disabled");
                bs4pop.alert("区域信息新增失败!", {type: 'error'});
            }
        });
    }
</script>

<script id="divItem" type="text/html">
    <tr>
        <td class="text-center align-middle"><a href="javascript:;" class="item-del" style="padding: 8px 18px;"><i
                class="fa fa-minus-square fa-lg"></i></a></td>
        <td style="padding: .25rem!important;"><input type="text" name="names" value=""
                                                      class="form-control"></td>
        <td style="padding: .25rem!important;"><input type="text" name="numbers" value=""
                                                      class="form-control"></td>
        <td style="padding: .25rem!important;"><input type="text" name="notes"
                                                      value="" class="form-control"></td>
    </tr>
</script>

