#set($layout = "/layout/empty.vm")
<style>
    .pdl0 {padding-left: 0!important}
</style>
<form class="form-horizontal col-sm-12" id="splitForm" role="form">
    <table class="col-sm-12">
        <tbody>
        <tr class="row">
            <td class="form-group col-sm-6">
                <label class="col-sm-3 text-justify">一级名称</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control input-sm" value="$!{parent.name}" disabled="" id="parentName">
                    <input type="hidden" name="parentId" value="$!{parent.id}" id="parentId">
					#foreach($d in $districts)
                        <input type="hidden" name="cName" value="$!{d.name}">
					#end
                </div>
            </td>
        </tr>
        <tr class="row split-item">
        
        <td class="form-group col-sm-6">
                <label class="col-sm-3 text-justify">划分区域∗</label>
                <div class="col-sm-6 pdl0">
                    <input type="text" name="names" class="form-control input-sm pdl0" placeholder="名称 必填" required maxlength="20" id="split_0">
                </div>
                <div class="col-sm-3">
                    <input type="text" name="numbers" class="form-control input-sm onlyint" placeholder="编号" maxlength="3">
                </div>
            </td>
            
            <td class="form-group col-sm-6">
                <div class="col-sm-10">
                    <input type="text" class="form-control input-sm" name="remarks" placeholder="备注" maxlength="25">
                </div>
                <a href="javascript:;" class="btn-split-minus col-sm-1"><span class="glyphicon glyphicon-minus fz12"></span></a>
                <a href="javascript:;" class="btn-split-plus col-sm-1"><span class="glyphicon glyphicon-plus fz12"></span></a>
            </td>
        </tr>
        </tbody></table>
</form>
#parse("/customer/tip_js.vm")
<script>
    // 拆分验证
    $("#splitForm").validate();
    if( $('#splitForm').length>0 ) {
        $('#splitForm .split-item:nth-child(2) .btn-split-minus').hide();
    }
    var popDialogObj = popDialogOk($("#splitForm"));
    popDialogObj.button().click( function() {
        var validate = $("#splitForm").validate().form();
        if(validForm()==true&&validate==true){
            var flag = true;
            var array=new Array();
            $("input[name='cName']").each(function(){
                var name =  $(this).val();
                array[array.length]=name;

            });
            $("input[name='names']").each(function(){
                var name =  $(this).val();
                for(n in array){
                    if(array[n]==name){
                        tips("重复提示","已有该区域了");
                        flag = false;
                        return false;
                    }
                }
                array[array.length]=name;

            });
            if(flag){
//                $(this).attr('disabled',true);

                $.ajax({
                    type : 'post',
                    url : '/district/divisionSave',
                    data : $('#splitForm').serialize(),
                    dataType : 'json',
                    success : function(ret){
                        if(ret.code!='success'){
                            tips("提示",ret.result);
                        }else{
                            TLOG.component.operateLog(TLOG.operates.split,"区域信息管理","【区域名称】："+$("#parentName").val());
                            tips("划分提示","保存成功",true,'/district/list');
                        }
                    }
                });
                //$(this).attr('disabled',false);
            }
            //popDialogObj.closeDialog();
        }
    })
	function validForm(){
	   $("[name=names]").each(function(){
		    if($(this).valid()==false){
		    	//return false;
		    }
   	   });
   	   return true;
	}
    // 划分区域--添加一行
    var splitItemHtml = $('#splitForm .split-item:first').prop("outerHTML");
    $('#splitForm').delegate( '.btn-split-plus','click', function(index){
        var index = $('#splitForm .split-item').length;
        var newid='split_'+index;
        var id=$('#splitForm .split-item:last').find('input[name="names"]').attr('id');
        if(id&&id.indexOf('split_')!=-1){
        	newid='split_'+(parseInt(id.substring(6))+1);
        }
        $('#splitForm table').append(splitItemHtml);
        $('#splitForm .btn-split-minus').show();
        $(this).hide();
        $('#splitForm .split-item:last').find('input[name="names"]').attr('id', newid);
       
	    $("[name=names]").each(function(){
	    	 $(this).rules( "remove", "required" )
		     $(this).rules("add", {
		       required: true,
		       messages: {
		         required: "必填"
		       }
		     });   
	   });

    })
    // 划分区域--删除当前行
    $("#splitForm ").delegate( '.btn-split-minus','click', function(){
            //console.log($('#splitForm .split-item').length)
        if ( $('#splitForm .split-item').length > 1 ) {
            $(this).parents('.split-item').remove();
            $('#splitForm .split-item:last .btn-split-plus').show();
        }
        if ( $('#splitForm .split-item').length == 1 )  {
            $('#splitForm .btn-split-minus').hide();
        }
    })
//    编号整数
    $('.onlyint').keyup(function() {
        this.value = this.value.replace(/[^\d]/g, '');
    });
</script>

