<#bs4Body>
<style>
    .w-200px {
        width: 200px !important;
    }

    .w-100px {
        width: 100px !important;
    }

    .detail {
        width: 12px !important;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <nav class="col-12">
            <ol class="breadcrumb"  data-toggle="collapse" data-target="#queryForm" aria-controls="queryForm">
                <li class="breadcrumb-item active">
                    基本信息 &nbsp;&nbsp;<a class="position-absolute" href="javascript:;"><i class="fa fa-angle-double-down fa-lg" aria-hidden="true"></i></a>
                </li>
            </ol>
        </nav>
    </div>
    <form class="form collapse show" id="queryForm" role="form" >
        <div class="row  row-cols-6">
            <div class="form-group col">
                <label for="departmentId" class="justify-content-end mr-2 w-100px">部门:</label>
                <select id="departmentId"  name="departmentId" class="form-control w-200px"></select>
                <#bcomboProvider _id="departmentId" _provider="authDepartmentProvider"/>
            </div>
            <div class="form-group col">
                <label for="">区域名称</label>
                <input type="" class="form-control isNaturalNum" name="name" id="" placeholder="">
            </div>
            <div class="col align-self-center mt-3">
                <button type="button" class="btn btn-outline-primary mr-2"onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button type="button" class="btn btn-outline-primary" onclick="queryDataHandler()"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>

    </form>
    <hr>

    <div class="">
    </div>
    <div class="">
        <div class="row">
            <div class="col-12">
                <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                    <button id="btn_add" type="button" class="btn btn-primary" onclick="openInsertHandler()"><i
                            class="fa fa-plus"></i> 新增
                    </button>
                </div>
                <table id="grid" data-toggle="table" data-id-field="id" data-tree-show-field="name" data-parent-id-field="parentId" data-query-params="queryParams">
                    <thead>
                    <tr>
                        <th data-field="name" data-align="center">
                            区域名称
                        </th>
                        <th data-field="number" data-align="center">
                            编号
                        </th>
                        <th data-field="area" data-formatter="oneFormatter"
                            data-align="center">
                            区域级别
                        </th>
                        <th data-field="departmentId" data-align="center"  data-provider="departmentProvider">
                            部门
                        </th>
                        <th data-field="notes" data-align="center">
                            备注
                        </th>
                        <th data-align="center" data-formatter="operateFormatter">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>


</div>

</#bs4Body>
<#btreegrid/>
<div class="modal fade" id="_modal" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!--modal-lg modal-sm(默认) 通过设置mw大小调整宽度（如mw-100） modal-dialog-centered垂直居中-->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- 标题 -->
                <h5 class="modal-title" id="exampleModalLabel">客户新增</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script>
    let _grid = $('#grid');

    $(function () {
        $(window).resize(function () {
            _grid.bootstrapTable('resetView')
        });
        let size = ($(window).height() - $('#queryForm').height() - 210) / 40;
        size = size > 10 ? size : 10;
        _grid.bootstrapTable('refreshOptions', {url: '/district/listPage.action', pageSize: parseInt(size)});
    });

    function oneFormatter(value, row) {
        if(row.parentId == 0){
            return "一级区域";
        }
        return '二级区域';
    }

    function operateFormatter(value, row, index) {
        var split = ['<a class="like" href="javascript:void(0)" onclick="openDivisionHandler(' + row.id + ')" title="Like">',
            '划分区域',
            '</a>  '];

        var oprate = [
            '</a>  ',
            '<a class="like" href="javascript:void(0)" onclick="openUpdateHandler(' + row.id + ')" title="Like">',
            '修改',
            '</a>  ',
            '<a class="remove" href="javascript:void(0)" onclick="openDeleteHandler(' + row.id + ')" title="Remove">',
            '删除'
        ];
        if (row.parentId === 0) {
            return split.join("") + oprate.join("");
        } else {
            return oprate.join("");
        }
    }

    /**
     * 查询处理
     */
    function queryDataHandler() {
        _grid.bootstrapTable('refresh');
    }

    function openInsertHandler() {
        $("#_modal").modal();
        $('#_modal .modal-body').load("/district/add.html");
        $("#_modal").find('.modal-title').text('区域新增');
    }

    function openUpdateHandler(id) {

        $("#_modal").modal();
        $('#_modal .modal-body').load("/district/edit.html?id=" + id);
        $("#_modal").find('.modal-title').text('区域修改');
    }

    function openSubUpdateHandler(index) {
        //获取选中行的数据
        let rows = $("#grid" + index).bootstrapTable('getSelections');
        if (null == rows || rows.length == 0) {
            bs4pop.alert('请选中一条数据');
            return;
        }
        $("#_modal").modal();
        $('#_modal .modal-body').load("/district/edit.html?id=" + rows[0].id);
        $("#_modal").find('.modal-title').text('区域修改');
    }


    function delHandler() {
        //获取选中行的数据
        let rows = _grid.bootstrapTable('getSelections');
        if (null == rows || rows.length == 0) {
            bs4pop.alert('请选中一条数据');
            return;
        }
        bs4pop.confirm("确定要删除吗", {title: "确认提示"}, function (sure) {
            if (sure) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '/district/delete.action',
                    data: {id: rows[0].id},
                    success: function (data) {
                        bui.loading.hide();
                        if (data.code != '200') {
                            bs4pop.alert(data.message, {type: 'error'});
                            return;
                        }
                        // bs4pop.alert('成功', {type: 'success '}, function () {
                        //     window.location.reload();
                        // });
                        window.location.reload();
                    },
                    error: function () {
                        bui.loading.hide();
                        bs4pop.alert("区域信息删除失败!", {type: 'error'});
                    }
                });
            }
        });
    }

    /**
     * table参数组装
     * 可修改queryParams向服务器发送其余的参数
     * @param params
     */
    function queryParams(params) {
        let temp = {
            rows: params.limit,   //页面大小
            page: ((params.offset / params.limit) + 1) || 1, //页码
            sort: params.sort,
            order: params.order
        }
        return $.extend(temp, bui.util.bindGridMeta2Form('grid', 'queryForm'));
    }

    function delSubHandler(index) {
        //获取选中行的数据
        let rows = $("#grid" + index).bootstrapTable('getSelections');
        if (null == rows || rows.length == 0) {
            bs4pop.alert('请选中一条数据');
            return;
        }

        bs4pop.confirm("确定要删除吗", {title: "确认提示"}, function (sure) {
            if (sure) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '/district/delete.action',
                    data: {id: rows[0].id},
                    success: function (data) {
                        bui.loading.hide();
                        if (data.code != '200') {
                            bs4pop.alert(data.message, {type: 'error'});
                            return;
                        }
                        // bs4pop.alert('成功', {type: 'success '}, function () {
                        //     window.location.reload();
                        // });
                        window.location.reload();
                    },
                    error: function () {
                        bui.loading.hide();
                        bs4pop.alert("区域信息删除失败!", {type: 'error'});
                    }
                });
            }
        });
    }

    function openDivisionHandler(id) {

        $("#_modal").modal();
        $('#_modal .modal-body').load("/district/division.html?id=" + id);
        $("#_modal").find('.modal-title').text('区域划分');
    }

    _grid.on('post-body.bs.table', function (e,data){
        var columns = _grid.bootstrapTable('getOptions').columns;
        if (columns && columns[0][0].visible) {
            _grid.treegrid({
                treeColumn: 0,
                onChange: function() {
                    console.log($(this).treegrid('getDepth'))
                }
            })
        }
    });
</script>
