<#bs4Body>
<style>
    .w-200px {
        width: 200px !important;
    }

    .w-100px {
        width: 100px !important;
    }

    .detail {
        width: 12px !important;
    }
</style>
<div class="container-fluid">
    <form class="form" id="queryForm">
        <div class="row">
            <nav class="col-12" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">基本信息</li>
                </ol>
            </nav>
        </div>
        <div class="row  row-cols-6">
            <div class="form-group col">
                <label for="departmentId" class="justify-content-end mr-2 w-100px">部门:</label>
                <select id="departmentId"  name="departmentId" class="form-control w-200px"></select>
                <#bcomboProvider _id="departmentId" _provider="authDepartmentProvider"/>
            </div>
            <div class="form-group col">
                <label for="">区域名称</label>
                <input type="" class="form-control isNaturalNum" name="name" id="" placeholder="">
            </div>
        </div>
        <div class="">
            <button type="button" class="btn btn-primary" onclick="queryDataHandler()">查询</button>
            <button type="button" class="btn btn-secondary">清空</button>
        </div>
    </form>
    <hr>

    <div class="">
    </div>
    <div class="">
        <div class="row">
            <div class="col-12">
                <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                    <button id="btn_add" type="button" class="btn btn-primary" onclick="openInsertHandler()"><i
                            class="fa fa-plus"></i> 新增
                    </button>
                    <button id="btn_edit" type="button" class="btn btn-primary" onclick="openUpdateHandler()"><i
                            class="fa fa-pencil-square-o"></i> 更新
                    </button>
                    <button id="" type="button" class="btn btn-primary" onclick="delHandler()"><i
                            class="fa "></i> 删除
                    </button>
                    <button id="btn_split" type="button" class="btn btn-primary" onclick="openDivisionHandler()"><i
                            class="fa "></i> 划分区域
                    </button>
                </div>
                <table id="grid" data-toggle="table" data-title="区域列表" class="table" data-toolbar="#toolbar"
                       data-pagination="true" data-page-number="1" data-page-size="10"
                       data-query-params="queryParams" data-side-pagination="server" data-method="POST"
                       data-content-type="application/x-www-form-urlencoded" data-single-select="true"
                       data-click-to-select="true" data-checkbox-header="true" data-unique-id="id" data-sort-name="id"
                       data-sort-order="desc" data-icons="bui.variable.icons" data-buttons-class="primary"
                       data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true"
                       data-detail-view="true"
                >
                    <thead>
                    <tr>
                        <th data-radio="true"></th>
                        <th data-field="name" data-align="center">
                            区域名称
                        </th>
                        <th data-field="number" data-align="center">
                            编号
                        </th>
                        <th data-field="area" data-formatter="oneFormatter"
                            data-align="center">
                            区域级别
                        </th>
                        <th data-field="departmentId" data-align="center"  data-provider="departmentProvider">
                            部门
                        </th>
                        <th data-field="notes" data-align="center">
                            备注
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>


</div>

</#bs4Body>

<div class="modal fade" id="_modal" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!--modal-lg modal-sm(默认) 通过设置mw大小调整宽度（如mw-100） modal-dialog-centered垂直居中-->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- 标题 -->
                <h5 class="modal-title" id="exampleModalLabel">客户新增</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script id="subTable" type="text/html">
    <div id="toolbar{{index}}" class="btn-group" role="group" aria-label="Toolbar with button groups">
        <button id="" type="button" class="btn btn-primary" onclick="openSubUpdateHandler('{{index}}')"><i
                class="fa fa-pencil-square-o"></i> 更新
        </button>
        <button id="" type="button" class="btn btn-primary" onclick="delSubHandler('{{index}}')"><i
                class="fa "></i> 删除
        </button>
    </div>
    <table data-toggle="table" data-title="区域列表" class="table" data-toolbar="#toolbar{{index}}" id="grid{{index}}"
           data-pagination="true" data-page-number="1" data-page-size="10"
           data-query-params="queryParams" data-side-pagination="server" data-method="POST"
           data-content-type="application/x-www-form-urlencoded" data-single-select="true"
           data-click-to-select="true" data-checkbox-header="true" data-unique-id="id" data-sort-name="id"
           data-sort-order="desc" data-icons="bui.variable.icons" data-buttons-class="primary"
           data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true"
    >
        <thead>
        <tr>
            <th data-radio="true"></th>
            <th data-field="name" data-align="center">
                区域名称
            </th>
            <th data-field="number" data-align="center">
                编号
            </th>
            <th data-field="area" data-formatter="twoFormatter"
                data-align="center">
                区域级别
            </th>
            <th data-field="departmentId" data-align="center" data-provider="departmentProvider">
                部门
            </th>
            <th data-field="notes" data-align="center">
                备注
            </th>
        </tr>
        </thead>
    </table>
</script>
<script>
    let _grid = $('#grid');

    $(function () {
        $(window).resize(function () {
            _grid.bootstrapTable('resetView')
        });
        _grid.on('expand-row.bs.table', function (e, index, row, $detail) {
            var cur_table = $detail.html(template('subTable', {index})).find('table');
            $(cur_table).bootstrapTable();
            $(cur_table).bootstrapTable('refreshOptions', {url: '/district/listPage.action?parentId=' + row.id});

        });
        queryDataHandler();
    });

    function oneFormatter(value, row) {
        return '一级区域';
    }


    function twoFormatter(value, row) {
        return '二级区域';
    }

    /**
     * 查询处理
     */
    function queryDataHandler() {
        _grid.bootstrapTable('refreshOptions', {url: '/district/listPage.action?parentId=0'});
    }

    function openInsertHandler() {
        $("#_modal").modal();
        $('#_modal .modal-body').load("/district/add.html");
        $("#_modal").find('.modal-title').text('区域新增');
    }

    function openUpdateHandler() {
        //获取选中行的数据
        let rows = _grid.bootstrapTable('getSelections');
        if (null == rows || rows.length == 0) {
            bs4pop.alert('请选中一条数据');
            return;
        }
        $("#_modal").modal();
        $('#_modal .modal-body').load("/district/edit.html?id=" + rows[0].id);
        $("#_modal").find('.modal-title').text('区域修改');
    }

    function openSubUpdateHandler(index) {
        //获取选中行的数据
        let rows = $("#grid" + index).bootstrapTable('getSelections');
        if (null == rows || rows.length == 0) {
            bs4pop.alert('请选中一条数据');
            return;
        }
        $("#_modal").modal();
        $('#_modal .modal-body').load("/district/edit.html?id=" + rows[0].id);
        $("#_modal").find('.modal-title').text('区域修改');
    }


    function delHandler() {
        //获取选中行的数据
        let rows = _grid.bootstrapTable('getSelections');
        if (null == rows || rows.length == 0) {
            bs4pop.alert('请选中一条数据');
            return;
        }
        bs4pop.confirm("确定要删除吗", {title: "确认提示"}, function (sure) {
            if (sure) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '/district/delete.action',
                    data: {id: rows[0].id},
                    success: function (data) {
                        bui.loading.hide();
                        if (data.code != '200') {
                            bs4pop.alert(data.message, {type: 'error'});
                            return;
                        }
                        // bs4pop.alert('成功', {type: 'success '}, function () {
                        //     window.location.reload();
                        // });
                        window.location.reload();
                    },
                    error: function () {
                        bui.loading.hide();
                        bs4pop.alert("区域信息删除失败!", {type: 'error'});
                    }
                });
            }
        });
    }

    /**
     * table参数组装
     * 可修改queryParams向服务器发送其余的参数
     * @param params
     */
    function queryParams(params) {
        let temp = {
            rows: params.limit,   //页面大小
            page: ((params.offset / params.limit) + 1) || 1, //页码
            sort: params.sort,
            order: params.order
        }
        return $.extend(temp, bui.util.bindGridMeta2Form('grid', 'queryForm'));
    }

    function delSubHandler(index) {
        //获取选中行的数据
        let rows = $("#grid" + index).bootstrapTable('getSelections');
        if (null == rows || rows.length == 0) {
            bs4pop.alert('请选中一条数据');
            return;
        }

        bs4pop.confirm("确定要删除吗", {title: "确认提示"}, function (sure) {
            if (sure) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '/district/delete.action',
                    data: {id: rows[0].id},
                    success: function (data) {
                        bui.loading.hide();
                        if (data.code != '200') {
                            bs4pop.alert(data.message, {type: 'error'});
                            return;
                        }
                        // bs4pop.alert('成功', {type: 'success '}, function () {
                        //     window.location.reload();
                        // });
                        window.location.reload();
                    },
                    error: function () {
                        bui.loading.hide();
                        bs4pop.alert("区域信息删除失败!", {type: 'error'});
                    }
                });
            }
        });
    }

    function openDivisionHandler() {
        //获取选中行的数据
        let rows = _grid.bootstrapTable('getSelections');
        if (null == rows || rows.length == 0) {
            bs4pop.alert('请选中一条数据');
            return;
        }
        $("#_modal").modal();
        $('#_modal .modal-body').load("/district/division.html?id=" + rows[0].id);
        $("#_modal").find('.modal-title').text('区域划分');
    }
</script>
