<#bs4Body>
<table id="grid" data-show-export="true" data-pagination="true">
    <thead>
    <tr>
        <th data-field="customerName">客户名称</th>
        <th data-field="cardNo">证件号</th>
        <th data-field="boothName">摊位编号</th>
        <th data-field="depositAmount">保证金</th>
        <th data-field="errorInfo">错误信息</th>
    </tr>
    </thead>
    <tbody>
        <%
        if(errorList.~size>0){
        for(item in errorList){%>
        <tr>
            <td>${item.customerName!}</td>
            <td>${item.cardNo!}</td>
            <td>${item.boothName!}</td>
            <td>${item.depositAmount!}</td>
            <td>${item.errorInfo!}</td>
        </tr>
        <% } } %>
    </tbody>
</table>
</#bs4Body>
<script src="${contextPath}/resources/bui/lib/bootstrap-table/dist/extensions/export/tableExport.min.js"></script>
<script  src="${contextPath}/resources/bui/lib/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script>
    $(function () {
        $('#grid').bootstrapTable({
            exportDataType:'all',
            exportTypes:['excel'],
            exportOptions: {
                fileName: '租赁数据导入处理结果',
                mso: {
                    onMsoNumberFormat:function(cell,row,col) {
                        return "\\@";
                    }
                }
            }
        });
    });
</script>
