<#bs4Body>

    <div class="container-fluid">
        <form id="saveForm" role="form" novalidate>
            <div class="breadcrumb" data-toggle="collapse" data-target="#customerInfo" aria-expanded="true"
                aria-controls="customerInfo">
                客户信息 <a href="javascript:;" class="ml-2" id="getCustomer">刷卡获取</a>
            </div>
            <div class="row row-cols-4" id="customerInfo">
                <div class="form-group col">
                    <label for="customerName">客户名称</label>
                    <#bautoCompleteProvider _hiddenDomainId="customerId" _hiddenDomainName="customerId" _displayDomainId="customerName" _placeholder="" _validatorMethod="isSelected" _optionVariable="customerNameAutoCompleteOption"/>
                </div>
                <div class="form-group col">
                    <label for="_certificateNumber" class="">证件号码</label>
                    <#bautoCompleteProvider _hiddenDomainId="certificateNumber" _hiddenDomainName="certificateNumber" _displayDomainId="_certificateNumber" _placeholder="" _validatorMethod="isSelected" _optionVariable="certificateNumberAutoCompleteOption"/>

                </div>
                <div class="form-group col">
                    <label for="" class="">联系电话</label>
                    <input type="text" class="form-control" id="customerCellphone" name="customerCellphone" />
                </div>
            </div>
            <div class="breadcrumb" data-toggle="collapse" data-target="#boothInfo" aria-expanded="true"
                aria-controls="boothInfo">
                摊位信息
            </div>
            <div id="boothInfo1">
                <table class="table table-bordered table-hover table-striped" id="stallTable">
                    <thead>
                    <tr>
                        <th class="text-center align-middle" style="width: 5%"><a id="addStall" href="javascript:;" style="padding: 8px 18px;"><i class="fa fa-plus-square fa-lg"></i></a></th>
                        <th style="width: 25%;font-weight:normal; ">摊位编号</th>
                        <th style="width: 25%;font-weight:normal; ">租金</th>
                        <th style="width: 22%;font-weight:normal; ">物业管理费</th>
                        <th style="width: 23%;font-weight:normal; ">保证金</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
            <div class="breadcrumb" data-toggle="collapse" data-target="#leaseInfo" aria-expanded="true"
                aria-controls="leaseInfo">
                出租信息
            </div>
            <div class="row row-cols-4" id="leaseInfo">
                <div class="form-group col">
                    <label for="engageCode">经营范围</label>
                    <select id="engageCode" name="engageCode" class="form-control"></select>
                    <#bcomboProvider _id="engageCode" _provider="dataDictionaryValueProvider" _queryParams='{dd_code:"lease_term", required:true}'/>
                </div>
                <div class="form-group col">
                    <label for="categoryName" class="">经营品类</label>
                    <#bautoCompleteProvider _hiddenDomainId="categoryId" _hiddenDomainName="categoryId" _displayDomainId="categoryName" _placeholder="" _validatorMethod="isSelected" _provider="categoryProvider" _option="width:250"/>
                </div>
                <div class="form-group col">
                    <label for="leaseTermCode" class="">租赁期限</label>
                    <select id="leaseTermCode" name="leaseTermCode" class="form-control"></select>
                    <#bcomboProvider _id="leaseTermCode" _provider="dataDictionaryValueProvider" _queryParams='{dd_code:"engage", required:true}'/>
                </div>
                <div class="form-group col">
                    <label for="days" class="">租赁天数</label>
                    <input type="number" class="form-control" id="days" name="days" required/>
                </div>
                <div class="form-group col col">
                    <label for="startTime">开始日期</label>
                    <input type="text" id="startTime" name="startTime" class="form-control" value="2020-02-07"  required>
                </div>
                <div class="form-group col col">
                    <label for="endTime">结束日期</label>
                    <input type="text" id="endTime" name="endTime" class="form-control"  required>
                </div>
                <div class="form-group col">
                    <label for="" class="">合同编号</label>
                    <input type="text" class="form-control" name="" />
                </div>
                <div class="form-group col">
                    <label for="" class="">业务所属部门</label>
                    <select  name="" class="form-control"></select>
                </div>
            </div>
            <div class="breadcrumb" data-toggle="collapse" data-target="#moneyInfo" aria-controls="moneyInfo">
                金额信息
            </div>
            <div class="row  row-cols-4 collapse show" id="moneyInfo">
                <div class="form-group col">
                    <label for="" class="">租金</label>
                    <input type="text" class="form-control" name="" />
                </div>
                <div class="form-group col">
                    <label for="" class="">物业管理费</label>
                    <input type="text" class="form-control" name="" />
                </div>
                <div class="form-group col">
                    <label for="" class="">保证金</label>
                    <input type="text" class="form-control" name="" />
                </div>
                <div class="form-group col">
                    <label for="" class="">合计金额</label>
                    <input type="text" class="form-control" name="" />
                </div>
            </div>
            <div class="breadcrumb" data-toggle="collapse" data-target="#deductInfo" aria-controls="deductInfo">
                抵扣项
            </div>
            <div class="row row-cols-4 collapse show" id="deductInfo">
                <div class="form-group col">
                    <label for="" class="">保证金</label>
                    <input type="text" class="form-control" name="" />
                </div>
                <div class="form-group col">
                    <label for="" class="">定金</label>
                    <input type="text" class="form-control" name="" />
                </div>
                <div class="form-group col">
                    <label for="" class="">转抵扣</label>
                    <input type="text" class="form-control" name="" />
                </div>
            </div>
            <div class="row row-cols-4 collapse show" id="otherInfo">
                <div class="form-group col">
                    <label for="" class="">实付金额</label>
                    <input type="text" class="form-control" name="" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-8">
                    <label for="">备注</label>
                    <textarea class="form-control"  rows="1" maxlength="50"></textarea>
                </div>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-secondary p-l-2 p-r-2" id="cancel">取消</button>
                <button type="button" class="btn btn-primary p-l-2 p-r-2" id="formSubmit">保存</button>
            </div>
        </form>
    </div>

</#bs4Body>
<#leaseOrder_preSaveJs />
<script  id="stallItem"  type="text/html">
    <tr data-index="{{index}}">
        <td class="text-center align-middle"><a href="javascript:;" class="item-del" style="padding: 8px 18px;"><i class="fa fa-minus-square fa-lg"></i></a></td>
        <td style="padding: .25rem!important;">
            <#bautoCompleteProvider _escape="true" _hiddenDomainId="stallId_{{index}}" _hiddenDomainName="stallId_{{index}}" _displayDomainId="stallName_{{index}}"  _valueField="id" _textField="name" _placeholder="" _validatorMethod="isSelected" _option="width:'350',paramName:'name',serviceUrl:'/stall/list.action'"/>
        </td>
        <td style="padding: .25rem!important;"><input type="text" id="rentAmount_{{index}}" name="rentAmount_{{index}}" value="{{rentAmount}}" class="form-control"></td>
        <td style="padding: .25rem!important;"><input type="text" id="manageAmount_{{index}}" name="manageAmount_{{index}}" value="{{manageAmount}}" class="form-control"></td>
        <td style="padding: .25rem!important;"><input type="text" id="depositAmount_{{index}}" name="depositAmount_{{index}}" value="{{depositAmount}}" class="form-control"></td>
    </tr>
</script>