<#bs4Body>

    <div class="container-fluid">
        <form id="saveForm" role="form" novalidate>
            <input type="hidden" id="id" name="id" value="${isNotEmpty(isRenew) && isRenew == 1?'':leaseOrder.id!}">
            <input type="hidden" id="code" name="code" value="${isNotEmpty(isRenew) && isRenew == 1?'':leaseOrder.code!}">
            <input type="hidden" name="isRenew" value="${isRenew!}">
            <div class="breadcrumb" data-toggle="collapse" data-target="#customerInfo" aria-expanded="true"
                aria-controls="customerInfo">
                客户信息 ${isNotEmpty(isRenew) && isRenew == 1?'':'<a href="javascript:;" class="ml-2" id="getCustomer">刷卡获取</a>'}
            </div>
            <div class="row row-cols-4" id="customerInfo">
                <div class="form-group col">
                    <label for="customerName">客户名称<i class="red">*</i></label>
                    <#bautoCompleteProvider _log="客户名称" _hiddenDomainId="customerId" _hiddenDomainName="customerId" _displayDomainId="customerName" _displayDomainName="customerName" _placeholder="" _validatorMethod="isSelected" _value="${leaseOrder.customerId!}" _text="${leaseOrder.customerName!}" _required="true" _readonly="${isNotEmpty(isRenew) && isRenew == 1?'true':'false'}" _optionVariable="customerNameAutoCompleteOption"/>
                </div>
                <div class="form-group col">
                    <label for="_certificateNumber">证件号码<i class="red">*</i></label>
                    <#bautoCompleteProvider _log="证件号码" _hiddenDomainId="certificateNumber" _hiddenDomainName="certificateNumber" _displayDomainId="_certificateNumber" _displayDomainName="_certificateNumber" _placeholder="" _validatorMethod="isSelected" _value="${leaseOrder.certificateNumber!}" _text="${leaseOrder.certificateNumber!}" _required="true" _readonly="${isNotEmpty(isRenew) && isRenew == 1?'true':'false'}" _optionVariable="certificateNumberAutoCompleteOption"/>

                </div>
                <div class="form-group col">
                    <label for="customerCellphone" _log>联系电话<i class="red">*</i></label>
                    <input type="text" class="form-control" id="customerCellphone" name="customerCellphone" value="${leaseOrder.customerCellphone!}" required ${isNotEmpty(isRenew) && isRenew == 1?'readonly':''}/>
                </div>
            </div>
            <div class="breadcrumb" data-toggle="collapse" data-target="#boothInfo" aria-expanded="true"
                aria-controls="boothInfo">
                摊位信息
            </div>
            <div id="boothInfo1">
                <table class="table table-bordered table-hover table-striped" id="boothTable" _logTable="摊位项">
                    <thead>
                    <tr>
                        <th class="text-center align-middle" style="width: 5%"><a id="addBooth" href="javascript:;" style="padding: 8px 18px;"><i class="fa fa-plus-square fa-lg"></i></a></th>
                        <th style="font-weight:normal;" >摊位编号<i class="red">*</i></th>
                        <th style="font-weight:normal;width: 7rem;">数量<i class="red">*</i></th>
                        <th style="font-weight:normal;width: 5rem;">单位<i class="red">*</i></th>
                        <th style="font-weight:normal;width: 5rem;">转角<i class="red">*</i></th>
                        <th style="font-weight:normal;width: 7rem;">单价<i class="red">*</i></th>
                        <th style="font-weight:normal;width: 7rem;">应交月数<i class="red">*</i></th>
                        <th style="font-weight:normal; ">优惠金额<i class="red">*</i></th>
                        <th style="font-weight:normal; ">租金<i class="red">*</i></th>
                        <th style="font-weight:normal; ">物管费<i class="red">*</i></th>
                        <th style="font-weight:normal; ">保证金<i class="red">*</i></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
            <div class="breadcrumb" data-toggle="collapse" data-target="#leaseInfo" aria-expanded="true"
                aria-controls="leaseInfo">
                出租信息
            </div>
            <div class="row row-cols-4" id="leaseInfo">
                <div class="form-group col">
                    <label for="engageCode">经营范围<i class="red">*</i></label>
                    <select id="engageCode" name="engageCode" class="form-control" required></select>
                    <#bcomboProvider _log="经营范围" _id="engageCode" _provider="dataDictionaryValueProvider" _value="${leaseOrder.engageCode!}" _queryParams='{dd_code:"lease_term"}'/>
                </div>
                <div class="form-group col">
                    <label for="categoryName">经营品类<i class="red">*</i></label>
                    <#bautoCompleteProvider _log="经营品类" _hiddenDomainId="categoryId" _hiddenDomainName="categoryId" _displayDomainId="categoryName" _displayDomainName="categoryName"  _value="${leaseOrder.categoryId!}" _text="${leaseOrder.categoryName!}" _validatorMethod="isSelected" _provider="categoryProvider" _required="true"/>
                </div>
                <div class="form-group col">
                    <label for="leaseTermCode">租赁期限<i class="red">*</i></label>
                    <select id="leaseTermCode" name="leaseTermCode" class="form-control" required></select>
                    <#bcomboProvider _log="租赁期限" _id="leaseTermCode" _provider="dataDictionaryValueProvider" _value="${leaseOrder.leaseTermCode!}" _queryParams='{dd_code:"engage"}'/>
                </div>
                <div class="form-group col">
                    <label for="days" _log>租赁天数<i class="red">*</i></label>
                    <input type="number" class="form-control" id="days" name="days" oninput="daysChangeHandler()" value="${leaseOrder.days!}" min="1" max="99999" required/>
                </div>
                <div class="form-group col col">
                    <label for="startTime" _log>开始日期<i class="red">*</i></label>
                    <input type="text" id="startTime" name="startTime" class="form-control" oninput="startTimeChangeHandler()" value="${leaseOrder.startTime!,dateFormat='yyyy-MM-dd'}" required>
                </div>
                <div class="form-group col col">
                    <label for="endTime" _log>结束日期<i class="red">*</i></label>
                    <input type="text" id="endTime" name="endTime" class="form-control" oninput="endTimeChangeHandler()" value="${leaseOrder.endTime!,dateFormat='yyyy-MM-dd'}" required>
                </div>
                <div class="form-group col">
                    <label for="contractNo" _log>合同编号</label>
                    <input type="text" class="form-control" id="contractNo" name="contractNo" value="${isNotEmpty(isRenew) && isRenew == 1?'':leaseOrder.contractNo!}" maxlength="100"/>
                </div>
                <div class="form-group col">
                    <label for="departmentId">业务所属部门<i class="red">*</i></label>
                    <select id="departmentId"  name="departmentId" class="form-control" required></select>
                    <#bcomboProvider _log="业务所属部门" _id="departmentId" _provider="authDepartmentProvider" _value="${leaseOrder.departmentId!}"/>

                </div>
            </div>
            <div class="breadcrumb" data-toggle="collapse" data-target="#moneyInfo" aria-controls="moneyInfo">
                金额信息
            </div>
            <div class="row  row-cols-4 collapse show" id="moneyInfo">
                <div class="form-group col">
                    <label for="rentAmount" _log>租金<i class="red">*</i></label>
                    <input type="number" class="form-control money" id="rentAmount" name="rentAmount" value="<#centToYuan value='${leaseOrder.rentAmount!0}'/>" readonly uncheck/>
                </div>
                <div class="form-group col">
                    <label for="manageAmount" _log>物业管理费<i class="red">*</i></label>
                    <input type="number" class="form-control money" id="manageAmount" name="manageAmount" value="<#centToYuan value='${leaseOrder.manageAmount!0}'/>" readonly uncheck/>
                </div>
                <div class="form-group col">
                    <label for="depositAmount" _log>保证金<i class="red">*</i></label>
                    <input type="number" class="form-control money" id="depositAmount" name="depositAmount" value="<#centToYuan value='${leaseOrder.depositAmount!0}'/>" readonly uncheck/>
                </div>
                <div class="form-group col">
                    <label for="totalAmount" _log>合计金额<i class="red">*</i></label>
                    <input type="number" class="form-control money" id="totalAmount" name="totalAmount" value="<#centToYuan value='${leaseOrder.totalAmount!0}'/>"  readonly uncheck/>
                </div>
            </div>
            <div class="breadcrumb" data-toggle="collapse" data-target="#deductInfo" aria-controls="deductInfo">
                抵扣项
            </div>
            <div class="row row-cols-4 collapse show" id="deductInfo">
                <div class="form-group col">
                    <label for="depositDeduction" _log>保证金<i class="red">*</i></label>
                    <input type="number" class="form-control money" id="depositDeduction" name="depositDeduction" value="<#centToYuan value='${leaseOrder.depositDeduction!0}'/>" readonly uncheck/>
                </div>
                <div class="form-group col">
                    <label for="earnestDeduction" _log>定金</label>
                    <div class="input-group">
                        <input type="number" class="form-control money" id="earnestDeduction" name="earnestDeduction" min="0.00" value="<#centToYuan value='${leaseOrder.earnestDeduction!}'/>" oninput="calcPayAmount()"/>
                        <div class="input-group-append">
                            <span class="input-group-text" id="earnestAmount">0.00</span>
                        </div>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="transferDeduction" _log>转抵扣</label>
                    <div class="input-group">
                        <input type="number" class="form-control money" id="transferDeduction" name="transferDeduction" min="0.00" value="<#centToYuan value='${leaseOrder.transferDeduction!}'/>" oninput="calcPayAmount()"/>
                        <div class="input-group-append">
                            <span class="input-group-text" id="transferAmount">0.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-4 collapse show" id="otherInfo">
                <div class="form-group col">
                    <label for="payAmount" _log>实付金额<i class="red">*</i></label>
                    <input type="number" class="form-control money" id="payAmount" name="payAmount" value="<#centToYuan value='${leaseOrder.payAmount!0}'/>" min="0" readonly/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-8">
                    <label for="notes" _log>备注</label>
                    <textarea class="form-control" id="notes" name="notes"  rows="1" maxlength="50" uncheck>${leaseOrder.notes!}</textarea>
                </div>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-secondary px-5" id="cancel" onclick="javascript:parent.closeDialog(parent.dia)">取消</button>
                <button type="button" class="btn btn-primary px-5" id="formSubmit">保存</button>
            </div>
        </form>
    </div>

</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/bui/customerAutocomplete.js?v=1.6"></script>
<#leaseOrder_preSaveJs />
<script  id="boothItem"  type="text/html">
    <tr data-index="{{index}}">
        <td class="text-center align-middle"><a href="javascript:;" class="item-del" style="padding: 8px 18px;"><i class="fa fa-minus-square fa-lg"></i></a></td>
        <td style="padding: .25rem!important;">
            <input type="hidden" id="unitCode_{{index}}" name="unitCode_{{index}}" value="{{unitCode}}">
            <input type="hidden" id="districtId_{{index}}" name="districtId_{{index}}" value="{{districtId}}">
            <input type="hidden" id="districtName_{{index}}" name="districtName_{{index}}" value="{{districtName}}">
            <input type="hidden" id="depositAmountSourceId_{{index}}" name="depositAmountSourceId_{{index}}" value="{{depositAmountSourceId}}">
            <#bautoCompleteProvider _log="摊位编号" _escape="true" _hiddenDomainId="boothId_{{index}}" _hiddenDomainName="boothId_{{index}}" _displayDomainId="boothName_{{index}}" _displayDomainName="boothName_{{index}}" _value="{{boothId}}" _text="{{boothName}}" _validatorMethod="isSelected" _required="true" _optionVariable="boothAutoCompleteOption"/>
        </td>
        <td style="padding: .25rem!important;" class="text-center align-middle"><input type="text" class="form-control" id="number_{{index}}" name="number_{{index}}" value="{{number}}" readonly uncheck/></td>
        <td style="padding: .25rem!important;" class="text-center align-middle"><input type="text" class="form-control" id="unitName_{{index}}" name="unitName_{{index}}" value="{{unitName}}" readonly uncheck/></td>
        <td style="padding: .25rem!important;" class="text-center align-middle"><input type="text" class="form-control" id="isCorner_{{index}}" name="isCorner_{{index}}" value="{{isCorner}}" readonly uncheck/></td>
        <td style="padding: .25rem!important;"><input _log="单价" type="number" id="unitPrice_{{index}}" name="unitPrice_{{index}}" value="{{unitPrice}}" class="form-control money floatReserve" min="0.00" max="9999999.99" step="0.01" required></td>
        <td style="padding: .25rem!important;"><input _log="应交月数" type="number" id="paymentMonth_{{index}}" name="paymentMonth_{{index}}" value="{{paymentMonth}}" class="form-control floatReserve" min="0.00" max="9999999.99" step="0.01" required></td>
        <td style="padding: .25rem!important;"><input _log="优惠金额" type="number" id="discountAmount_{{index}}" name="discountAmount_{{index}}" value="{{discountAmount}}" class="form-control money floatReserve" min="0.00" max="9999999.99" step="0.01" required></td>
        <td style="padding: .25rem!important;"><input _log="租金" type="number" id="rentAmount_{{index}}" name="rentAmount_{{index}}" value="{{rentAmount}}" oninput="calcRentAmount(true)" class="form-control money floatReserve" min="0.00" max="9999999.99" step="0.01" required></td>
        <td style="padding: .25rem!important;"><input _log="物管费" type="number" id="manageAmount_{{index}}" name="manageAmount_{{index}}" value="{{manageAmount}}" oninput="calcManageAmount(true)" class="form-control money floatReserve" min="0.00" max="9999999.99" step="0.01" required></td>
        <td style="padding: .25rem!important;"><input _log="保证金" type="number" id="depositAmount_{{index}}" name="depositAmount_{{index}}" value="{{depositAmount}}" oninput="calcDepositAmount(true)" class="form-control money floatReserve" min="0.00" max="9999999.99" step="0.01" required></td>
    </tr>
</script>