<#bs4Body>

<div class="container-fluid">
    <form id="refundApplyForm" role="form">
        <input type="hidden" name="businessId" value="${leaseOrder.id}"/>
        <input type="hidden" name="businessCode" value="${leaseOrder.code!}"/>
        <input type="hidden" name="businessItemId" value="${leaseOrderItem.id!}"/>
        <input type="hidden" name="departmentId" value="${leaseOrder.departmentId!}"/>
        <input type="hidden" name="departmentName" value="${leaseOrder.departmentName!}"/>
        <input type="hidden" name="customerId" value="${leaseOrder.customerId!}"/>
        <div class="row row-cols-4">
            <div class="form-group col">
                <label for="customerName">客户名称<i class="red">*</i></label>
                <input type="text" class="form-control" id="customerName" name="customerName" value="${leaseOrder.customerName!}" readonly/>
            </div>
            <div class="form-group col">
                <label for="certificateNumber">证件号码<i class="red">*</i></label>
                <input type="text" class="form-control" id="certificateNumber" name="certificateNumber" value="${leaseOrder.certificateNumber!}" readonly/>
            </div>
            <div class="form-group col">
                <label for="customerCellphone">联系电话<i class="red">*</i></label>
                <input type="text" class="form-control" id="customerCellphone" name="customerCellphone" value="${leaseOrder.customerCellphone!}" readonly/>
            </div>
        </div>
        <% if(isNotEmpty(leaseOrderItem)){ %>
        <div class="row row-cols-4">
            <div class="form-group col">
                <label for="boothName" class="">摊位编号<i class="red">*</i></label>
                <input type="text" class="form-control" id="boothName" name="boothName" value="${leaseOrderItem.boothName}" required readonly/>
            </div>
            <div class="form-group col">
                <label for="rentRefundAmount" class="">租金<i class="red">*</i></label>
                <input type="number" class="form-control floatReserve money" id="rentRefundAmount" name="rentRefundAmount" oninput="calcTotalRefundAmount()" step="0.01" placeholder="可退<#centToYuan value='${leaseOrderItem.rentAmount!}'/>" min="0" max="<#centToYuan value='${leaseOrderItem.rentAmount!}'/>" required/>
            </div>
            <div class="form-group col">
                <label for="manageRefundAmount" class="">物管费<i class="red">*</i></label>
                <input type="number" class="form-control floatReserve money" id="manageRefundAmount"  name="manageRefundAmount" oninput="calcTotalRefundAmount()" placeholder="可退<#centToYuan value='${leaseOrderItem.manageAmount!}'/>" min="0" max="<#centToYuan value='${leaseOrderItem.manageAmount!}'/>" required/>
            </div>
            <div class="form-group col align-items-end">
                <label for="depositRefundAmount" class="">保证金<i class="red">*</i></label>
                <input type="number" class="form-control floatReserve money" id="depositRefundAmount"  name="depositRefundAmount" oninput="calcTotalRefundAmount()" placeholder="可退<#centToYuan value='${leaseOrderItem.depositAmount!}'/>" min="0" max="<#centToYuan value='${leaseOrderItem.depositAmount!}'/>" required/>
            </div>
        </div>
        <% } %>
        <div class="row row-cols-4">
            <div class="form-group col align-items-end">
                <label for="totalRefundAmount" class="">退款金额<i class="red">*</i></label>
                <input type="number" class="form-control floatReserve money" id="totalRefundAmount" name="totalRefundAmount" min="0" ${isNotEmpty(leaseOrderItem)?'readonly':''}/>
            </div>
        </div>
        <hr>
        <div class="row row-cols-4">
            <div class="form-group col">
                <label for="payee">收款人<i class="red">*</i></label>
                <#bautoCompleteProvider _hiddenDomainId="payeeId" _hiddenDomainName="payeeId" _displayDomainId="payee" _displayDomainName="payee" _validatorMethod="isSelected" _required="true" _optionVariable="customerNameAutoCompleteOption"/>
            </div>
            <div class="form-group col">
                <label for="payeeCertificateNumber" class="">证件号<i class="red">*</i></label>
                <input type="number" class="form-control" id="payeeCertificateNumber" readonly/>
            </div>
            <div class="form-group col">
                <label for="payeeAmount" class="">金额<i class="red">*</i></label>
                <input type="number" class="form-control floatReserve money" id="payeeAmount" name="payeeAmount" min="0" required/>
            </div>
            <div class="form-group col">
                <label for="refundType" class="">退款方式<i class="red">*</i></label>
                <select id="refundType" name="refundType" class="form-control" onchange="javascript:$('#bankInfo').toggle()"></select>
                <#bcomboProvider _id="refundType" _provider="refundTypeProvider" _queryParams='{required:true}' _value=""/>
            </div>
        </div>
        <div id="bankInfo" class="row row-cols-4" style="display: none;">
            <div class="form-group col">
                <label for="bank" class="">银行<i class="red">*</i></label>
                <input type="text" class="form-control" id="bank"  name="bank" maxlength="50" required/>
            </div>
            <div class="form-group col">
                <label for="bankCardNo" class="">银行卡号<i class="red">*</i></label>
                <input type="text" class="form-control" id="bankCardNo" name="bankCardNo" maxlength="30" required/>
            </div>

        </div>

        <div class="breadcrumb">
            转抵信息
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#transferInfo" aria-expanded="true" aria-controls="transferInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div id="transferInfo" class="collapse show">
            <table class="table table-bordered table-hover table-striped" id="transferTable">
                <thead>
                <tr>
                    <th class="text-center align-middle" style="width: 5%"><a id="addTransfer" href="javascript:;" style="padding: 8px 18px;"><i class="fa fa-plus-square fa-lg"></i></a></th>
                    <th style="font-weight:normal;" >收款人<i class="red">*</i></th>
                    <th style="font-weight:normal;" >证件号<i class="red">*</i></th>
                    <th style="font-weight:normal; ">收款金额<i class="red">*</i></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div>
            <label>营业执照状态<i class="red">*</i></label>
            <div id="licenseStateContainer">
            <#bradioGroupProvider _containerId="licenseStateContainer" _name="licenseState" _provider="licenseStateProvider"  _queryParams='{required:true}' _required="true"/>
            </div>
        </div>
        <div class="row mt-1">
            <div class="form-group col-8">
                <label for="refundReason">退款原因<i class="red">*</i></label>
                <textarea class="form-control" id="refundReason" name="refundReason" rows="1" maxlength="50"></textarea>
            </div>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-secondary px-5" id="cancel" onclick="javascript:parent.closeDialog(parent.dia)">取消</button>
            <button type="button" class="btn btn-primary px-5" id="formSubmit">保存</button>
        </div>
    </form>
</div>

</#bs4Body>
<#leaseOrder_refundApplyJs />
<script id="transferItemTpl" type="text/html">
    <tr data-index="{{index}}">
        <td class="text-center align-middle"><a href="javascript:;" class="item-del" style="padding: 8px 18px;"><i class="fa fa-minus-square fa-lg"></i></a></td>
        <td style="padding: .25rem!important;">
            <#bautoCompleteProvider _escape="true" _hiddenDomainId="payeeId_{{index}}" _hiddenDomainName="payeeId_{{index}}" _displayDomainId="payee_{{index}}" _displayDomainName="payee_{{index}}" _validatorMethod="isSelected" _required="true" _optionVariable="customerNameTableAutoCompleteOption"/>
        </td>
        <td style="padding: .25rem!important;" class="text-center align-middle"><input type="text" class="form-control" id="certificateNumber_{{index}}" name="certificateNumber_{{index}}" readonly uncheck/></td>
        <td style="padding: .25rem!important;"><input type="number" id="payeeAmount_{{index}}" name="payeeAmount_{{index}}" class="form-control money floatReserve" min="0.00" max="9999999.99" step="0.01" required></td>
    </tr>
</script>