<#bs4Body>

<div class="container-fluid">
    <#bs4nav>
    <form id="queryForm" role="form" >
        <div class="row row-cols-6">
            <div class="form-group col">
                <label for="type">表类型:</label>
                <select id="type" name="type" class="form-control"></select>
                <#bcomboProvider _id="type" _provider="meterTypeProvider" _value="" _queryParams='{emptyText:"-- 全部 --"}'/>
            </div>
            <div class="form-group col">
                <label for="keyword">表编号、表地址、客户姓名:</label>
                <input type="keyword" class="form-control" name="keyword" id="keyword" maxlength="50"/>
            </div>
            <div class="col align-self-center mt-3">
                <button type="button" class="btn btn-outline-primary mr-2"onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button type="button" class="btn btn-outline-primary" onclick="queryDataHandler()"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>
    </form>
    </#bs4nav>

    <div class="row">
        <div class="col-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                <#resource code="addCustomerMeter">
                <button id="btn_add" type="button" class="btn btn-primary" onclick="openInsertHandler()"><i class="fa fa-plus"></i> 新增</button>
                </#resource>
                <#resource code="unbindCustomerMeter">
                <button id="btn_unbind" type="button" class="btn btn-primary" onclick="openUnbindHandler()"><i class="fa fa-pencil-square-o"></i> 解绑</button>
                </#resource>
                <button id="export" type="button" class="btn btn-primary" onclick="bui.util.doExport('grid','queryForm')"><i class="fa fa-download"></i> 导出</button>
            </div>
            <table id="grid" data-toggle="table" data-title="表用户管理" class="table" data-toolbar="#toolbar"
                   data-pagination="true" data-page-number="1" data-page-size="10"
                   data-query-params="queryParams" data-side-pagination="server" data-method="POST"
                   data-content-type="application/x-www-form-urlencoded" data-single-select="true"
                   data-click-to-select="true" data-unique-id="id" data-sort-name="id"
                   data-sort-order="desc" data-icons="bui.variable.icons" data-buttons-class="primary"
                   data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true">
                <thead>
                <tr>
                    <th data-radio="true"></th>
                    <th data-field="customerName" data-sortable="true" data-align="center" data-formatter="codeFormatter">
                        客户姓名
                    </th>
                    <th data-field="customerCellphone" data-sortable="true" data-align="center">
                        联系电话
                    </th>
                    <th data-field="number" data-sortable="true" data-align="center" data-formatter="codeFormatter">
                        表编号
                    </th>
                    <th data-field="type" data-sortable="true" data-align="center" data-provider="meterTypeProvider">
                        表类型
                    </th>
                    <th data-field="assetsName" data-sortable="true" data-align="center">
                        表地址
                    </th>
<!--                    <th data-field="departmentName" data-sortable="true" data-align="center">-->
<!--                        部门-->
<!--                    </th>-->
                    <th data-field="notes" data-sortable="true" data-align="center" >
                        备注
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</div>

</#bs4Body>

<#customerMeter_indexJs />