<#bs4Body>

<div class="container-fluid">
    <#bs4nav>
    <form id="queryForm" role="form" >
        <div class="row row-cols-6">
            <div class="form-group col">
                <label for="laborType">马甲类型</label>
                <select id="laborType" name="laborType" class="form-control"></select>
                <#bcomboProvider _id="laborType" _provider="dataDictionaryValueProvider" _queryParams='{dd_code:"labor_vest_type"}' />
            </div>
            <div class="form-group col">
                <label for="state">劳务状态</label>
                <select id="state" name="state" class="form-control" >
                </select>
                <#bcomboProvider _id="state" _provider="laborVestStateProvider" />
            </div>
            <div class="form-group col">
                <label for="interval">办理周期</label>
                <select id="interval" name="interval" class="form-control"></select>
                <#bcomboProvider _id="interval" _provider="dataDictionaryValueProvider" _queryParams='{dd_code:"labor_interval"}' />
            </div>
            <div class="form-group col">
                <label for="models">运营车型</label>
                <select id="models" name="models" class="form-control"></select>
                <#bcomboProvider _id="models" _provider="dataDictionaryValueProvider" _queryParams='{dd_code:"labor_car_type"}' />
            </div>
            <div class="form-group col">
                <label for="likeCustomerName">客户名称</label>
                <input type="text" class="form-control" name="likeCustomerName" id="likeCustomerName" maxlength="50"/>
            </div>
            <div class="form-group col">
                <label for="workCard">马甲号</label>
                <input type="text" class="form-control" name="workCard" id="workCard" maxlength="50"/>
            </div>
            <div class="form-group col">
                <label for="customerCellphone">客户手机号</label>
                <input type="text" class="form-control" name="customerCellphone" id="customerCellphone" maxlength="50"/>
            </div>
         
            <div class="form-group col-auto">
                <label for="createdStart">创建时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="createdStart" id="createdStart" class="form-control laydatetime laystart" value="${createdStart!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="createdStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group" id="datetimepicker3">
                        <input type="text" name="createdEnd" id="createdEnd" class="form-control date laydatetime layend" value="${createdEnd!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="createdEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col align-self-center mt-3">
                <button type="button" class="btn btn-outline-primary mr-2"onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button type="button" class="btn btn-outline-primary" onclick="queryDataHandler()"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>
    </form>
</#bs4nav>

    <div class="row">
        <div class="col-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                <button id="btn_view" type="button" class="btn btn-primary" onclick="openViewHandler()"><i class="fa fa-eye"></i> 查看</button>
                <#resource code="addLaborVest">
                <button id="btn_add" type="button" class="btn btn-primary" onclick="openInsertHandler('add')"><i class="fa fa-plus"></i> 新增</button>
                </#resource>
                <#resource code="updateLaborVest">
                <button id="btn_update" type="button" class="btn btn-primary" onclick="openUpdateHandler('update')"><i class="fa fa-pencil-square-o"></i> 修改</button>
                </#resource>
                <#resource code="submitLaborVest">
                <button id="btn_submit" type="button" class="btn btn-primary" onclick="openSubmitHandler()"><i class="fa fa-paper-plane"></i> 提交付款</button>
                </#resource>
                <#resource code="withdrawLaborVest">
                <button id="btn_withdraw" type="button" class="btn btn-primary" onclick="openWithdrawHandler()"><i class="fa fa-undo"></i> 撤回</button>
                </#resource>
                <#resource code="cancelLaborVest">
                <button id="btn_cancel" type="button" class="btn btn-primary" onclick="openCancelHandler()"><i class="fa fa-ban"></i> 取消</button>
                </#resource>
                 <#resource code="renewLaborVest">
                <button id="btn_renew" type="button" class="btn btn-primary" onclick="openUpdateHandler('renew')"><i class="fa fa-undo"></i> 续费</button>
                </#resource>
                <#resource code="renameLaborVest">
                <button id="btn_rename" type="button" class="btn btn-primary" onclick="openUpdateHandler('rename')"><i class="fa fa-undo"></i> 更名</button>
                </#resource>
                <#resource code="remodelLaborVest">
                <button id="btn_remodel" type="button" class="btn btn-primary" onclick="openUpdateHandler('remodel')"><i class="fa fa-undo"></i> 更型</button>
                </#resource>
                <#resource code="refundLaborVest">
                <button id="btn_refund" type="button" class="btn btn-primary" onclick="openRefundHandler()"><i class="fa fa-undo"></i> 退款申请</button>
                </#resource>
                <#resource code="printLaborVest">
                <button id="btn_print" type="button" class="btn btn-primary" onclick="openPrintHandler()"><i class="fa fa-undo"></i> 打印证件</button>
            	</#resource>
            </div>
            <table id="grid" data-toggle="table" data-title="定金列表" class="table" data-toolbar="#toolbar"
                   data-pagination="true" data-page-number="1" data-page-size="10"
                   data-query-params="queryParams" data-side-pagination="server" data-method="POST"
                   data-content-type="application/x-www-form-urlencoded" data-single-select="true"
                   data-click-to-select="true" data-unique-id="id" data-sort-name="id"
                   data-sort-order="desc" data-icons="bui.variable.icons" data-buttons-class="primary"
                   data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true">
                <thead>
                <tr>
                    <th data-radio="true"></th>
                    <th data-field="code" data-sortable="true" data-align="center" data-formatter="codeFormatter">
                        业务单号
                    </th>
                    <th data-field="departmentName" data-sortable="true" data-align="center">
                        业务所属部门
                    </th>
                    <th data-field="customerName" data-sortable="true" data-align="center">
                        客户名称
                    </th>
                    <th data-field="customerCellphone" data-sortable="true" data-align="center">
                        联系电话
                    </th>
                    <th data-field="customerGender" data-sortable="true" data-provider="customerSexProvider" data-align="center">
                        性别
                    </th>
                    <th data-field="laborType" data-sortable="true" data-provider="dataDictionaryValueProvider" data-query-params='{dd_code:"labor_vest_type", required:true}' data-align="center">
                        马甲类型
                    </th>	
                    <th data-field="workCard" data-sortable="true"  data-align="center">
                        马甲号
                    </th>
                    <th data-field="models" data-sortable="true" data-provider="dataDictionaryValueProvider" data-query-params='{dd_code:"labor_car_type", required:true}'  data-align="center">
                        运营车型
                    </th>
                    <th data-field="interval" data-sortable="true" data-provider="dataDictionaryValueProvider" data-query-params='{dd_code:"labor_interval", required:true}' data-align="center">
                        租赁期限
                    </th>
                    <th data-field="startDate" data-sortable="true" data-provider="dateProvider" data-align="center">
                        开始日期
                    </th>
                    <th data-field="endDate" data-sortable="true" data-provider="dateProvider" data-align="center">
                        结束日期
                    </th>
                    <th data-field="state" data-sortable="true" data-provider="laborVestStateProvider" data-align="center" >
                        业务状态
                    </th>
                    <th data-field="amount" data-sortable="true" data-align="center" data-provider="moneyProvider">
                        合计金额
                    </th>
                    <th data-field="creator" data-sortable="true" data-align="center" >
                        创建人
                    </th>
                    <th data-field="createTime" data-sortable="true" data-provider="datetimeProvider" data-align="center">
                        创建时间
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</div>


</#bs4Body>

<#labor_indexJs />
<script id="printView" type="text/html">
 		<div class="row row-cols-1">
		<div>
		<img src="http://ia.diligrp.com:8381/resources/bui/images/platform/sys-park.png"/>		
		</div>
		</div>
        <div class="row row-cols-1">
            <div class="form-group col">
                <label >马甲号：</label>
                <span class ="print">{{selectedRow.code}}</span>
            </div>
            <div class="form-group col">
                <label >姓名：</label>
               	<span class ="print">{{selectedRow.customerName}}</span>
            </div>
			<div class="form-group col">
                <label >姓别：</label>
               	<span class ="print">{{selectedRow.customerSex}}</span>
            </div>
			<div class="form-group col">
                <label >车型：</label>
               	<span class ="print">{{selectedRow._models}}</span>
            </div>
            <div class="form-group col">
                <label >车牌号：</label>
                <span class ="print">{{selectedRow.licensePlate}}</span>
            </div>
			<div class="form-group col">
                <label >有效期：</label>
                <span class ="print">{{selectedRow.startDate}}-{{selectedRow.endDate}}</span>
            </div>
        </div>
</script>


