<div class="container-fluid pb-5">
    <form id="editForm" class="pb-5" role="form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="${obj.id!}">
        <div class="row row-cols-1">

            <div class="form-group col">
                <label for="name" class="">模板名称<i class="red">*</i></label>
                <input type="text" class="form-control" id="name" name="name" value="${obj.name!}" maxlength="32"
                       required/>
            </div>
            <div class="form-group col">
                <label for="" class="">模板路径<i class="red">*</i></label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="tempFileupload" value="" id="edittempFileupload">
                    <label class="custom-file-label" for="edittempFileupload" data-browse="打开" id="editshowFileName">${obj.path!}</label>
                </div>
            </div>
            <div class="form-group col">
                <label for="editmarketId">市场</label>
                <select class="form-control" id="editmarketId" name="marketCode" required></select>
                <#bcomboProvider _id="editmarketId" _value="${obj.marketCode}" _provider="firmProvider"/>
            </div>

        </div>

        <div class="modal-footer-wrap">
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary px-5" data-dismiss="modal">取消
            </button>
            <button type="button" class="btn btn-primary px-5" id="edit-form-submit">提交</button>
        </div>
        </div>
    </form>
</div>


<script type="text/javascript" src="${contextPath}/resources/bui/lib/jquery-fileupload/jquery.ui.widget.js"></script>
<script type="text/javascript"
        src="${contextPath}/resources/bui/lib/jquery-fileupload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="${contextPath}/resources/bui/lib/jquery-fileupload/jquery.fileupload.js"></script>
<script>
    var editfileData;
    $(function () {
        $("#editForm").validate();
        $('#edittempFileupload').fileupload({
            type: 'post',
            url: '/printTemplate/update.action',
            dataType: 'json',
            autoUpload: false,
            singleFileUploads: false,
            multipart: true,
            change: function (e, data) {
                $('#editshowFileName').html(data.files[0].name)
            },
            add: function (e, data) {
                console.log('ready')
                editfileData = data;
            },
            done: function (e, data) {
                if (data.result.code != '200') {
                    bs4pop.alert(data.result.message, {type: 'error'});
                    $("#edit-form-submit").removeAttr("disabled");
                    return;
                }
                bs4pop.alert('模板修改成功', {type: 'success'}, function () {
                    window.location.reload();
                });
            },
        });
    });
    $("#edit-form-submit").click(function () {
        $("#edit-form-submit").attr("disabled", "disabled");
        saveOrUpdateHandler(editfileData);
        $("#edit-form-submit").removeAttr("disabled");
    });

    function saveOrUpdateHandler(editfileData) {
        if ($("#editForm").valid()) {
            if (!editfileData) {
                update();
            }else{
                editfileData.submit();
            }
        }
    }

    function update() {
        var okButton = $("#edit-form-submit");
        okButton.attr("disabled", "disabled");
        bui.loading.show('努力提交中，请稍候。。。');
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/printTemplate/update.action',
            data: $("#editForm").serialize(),
            success: function (data) {
                bui.loading.hide();
                if (data.code != '200') {
                    bs4pop.alert(data.message, {type: 'error'});
                    okButton.removeAttr("disabled");
                    return;
                }
                window.location.reload();
                okButton.removeAttr("disabled");
            },
            error: function () {
                bui.loading.hide();
                okButton.removeAttr("disabled");
                bs4pop.alert("区域信息新增失败!", {type: 'error'});
            }
        });
    }
</script>
