
<div class="container-fluid">
    <form id="editForm" role="form" method="post" action="/printTemplate/update.action" enctype="multipart/form-data">
        <div class="row row-cols-1">
            <input type="hidden" name="id" value="${obj.id!}">
            <div class="form-group col">
                <label for="name" class="">模板名称<i class="red">*</i></label>
                <input type="text" class="form-control" id="name" name="name" maxlength="20" value="${obj.name!}" required/>
            </div>
            <div class="form-group col">
                <label for="edittempFileupload" class="">模板路径<i class="red">*</i></label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="tempFileupload" id="edittempFileupload">
                    <label class="custom-file-label" for="edittempFileupload" data-browse="打开">选择文件</label>
                </div>
            </div>

            <div class="form-group col">
                <label for="editmarketId">市场</label>
                <select class="form-control" id="editmarketId" name="marketCode" required></select>
                <#bcomboProvider _id="editmarketId" _value="${obj.marketId}" _provider="firmProvider"/>
            </div>

        </div>

        <div class="text-right mt-2">
            <button type="button" class="btn btn-light px-5" data-dismiss="modal">取消
            </button>
            <button type="button" class="btn btn-primary" id="edit-form-submit">提交</button>
        </div>
    </form>
</div>


<script type="text/javascript" src="${contextPath}/resources/bui/lib/jquery-fileupload/jquery.ui.widget.js"></script>
<script type="text/javascript"
        src="${contextPath}/resources/bui/lib/jquery-fileupload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="${contextPath}/resources/bui/lib/jquery-fileupload/jquery.fileupload.js"></script>
<script>
    $(function () {
        $("#editForm").validate();
        $('#edittempFileupload').fileupload({
            url: '/printTemplate/update.action',
            dataType: 'json',
            add: function (e, data) {
                console.log('ready')

                $("#edit-form-submit").click(function () {
                    data.submit();
                    console.log('start')
                })
            },
            done: function (e, data) {
                window.location.reload();
            },
        });
    });

</script>

