<#bs4Body>
<div class="container-fluid pb-5">
    <form id="saveForm" role="form" action="" class="pb-5">
        <input type="hidden" id="id" name="id" value="${refundOrder.id!}"/>
        <input type="hidden" name="code" value="${refundOrder.code!}"/>
        <input type="hidden" name="customerId" value="${customerAccount.customerId!}">
        <input type="hidden" name="businessId" value="${customerAccount.id!}">

        <div class="breadcrumb" >
            客户信息
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#customerInfo" aria-expanded="true"
               aria-controls="customerInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div class="row row-cols-4 collapse show"  id="customerInfo">
            <div class="form-group col">
                <label for="" class="" _log>客户姓名</label>
                <input type="text" class="form-control" name="customerName" value="${customerAccount.customerName!}" readonly />
            </div>
            <div class="form-group col">
                <label for="" class="" _log>证件号码</label>
                <input type="text" class="form-control" name="certificateNumber" value="${customerAccount.customerCertificate!}" readonly />
            </div>
            <div class="form-group col">
                <label for="" class="" _log>手机号</label>
                <input type="text" class="form-control" name="customerCellphone" value="${customerAccount.customerPhone!}" readonly />
            </div>
        </div>
        <div class="row row-cols-4">
            <div class="form-group col">
                <label for="totalRefundAmount" class="" _log>退款金额<i class="red">*</i></label>
                <input type="number" class="form-control floatReserve money" id="totalRefundAmount" name="totalRefundAmount" range="0 9999999.99"  placeholder="可退余额：<#centToYuan value='${customerAccount.amount!0}'/>" value="<#centToYuan value='${refundOrder.totalRefundAmount!}'/>" required />
            </div>
        </div>
        <div class="breadcrumb">
            基础信息
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#baseInfo" aria-expanded="true" aria-controls="baseInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div class="collapse show" id="baseInfo">
            <#refundInfo customerName="${customerAccount.customerName!}" customerId="${customerAccount.customerId!}" certificateNumber="${customerAccount.customerCertificate!}"></#refundInfo>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label for="refundReason" _log>退款原因及详情<i class="red">*</i></label>
                <textarea class="form-control" id="refundReason" name="refundReason" rows="2" maxlength="100" required>${refundOrder.refundReason!}</textarea>
            </div>
        </div>
        <div class="modal-footer-wrap">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-5" onclick="javascript: parent.dia.hide()">取消</button>
                <button type="button" class="btn btn-primary px-5" id="save">保存</button>
            </div>
        </div>
    </form>
</div>

</#bs4Body>
<#customerAccount_earnestRefundJs />
