<#bs4Body>

<div class="container-fluid">
    <div class="row">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">客户余额</li>
            </ol>
        </nav>
    </div>
    <form id="queryForm" role="form" novalidate>
        <div class="row  row-cols-6">
            <div class="form-group col">
                <label for="likeCustomerName" class="">客户名称</label>
                <input type="text" class="form-control" name="likeCustomerName" id="likeCustomerName" maxlength="50"/>
            </div>
            <div class="form-group col">
                <label for="customerCellphone" class="">联系电话</label>
                <input type="text" class="form-control" name="customerCellphone" id="customerCellphone" maxlength="50"/>
            </div>
            <div class="form-group col">
                <label for="certificateNumber" class="">证件号码</label>
                <input type="text" class="form-control" name="certificateNumber" id="certificateNumber" maxlength="50"/>
            </div>
        </div>
        <div class="">
            <button type="button" class="btn btn-outline-primary mr-2"onclick="javascript:$('#queryForm')[0].reset();"><i class="fa fa-refresh"></i> 清空</button>
            <button type="button" class="btn btn-outline-primary" onclick="queryDataHandler()"><i class="fa fa-search"></i> 查询</button>
        </div>
    </form>
    <hr>
    <div class="row">
        <div class="col-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                <#resource code="earnestTransfer">
                <button id="btn_earnestTransfer" type="button" class="btn btn-primary" onclick="openEarnestRefundHandler()"><i class="fa fa-plus"></i> 定金退款申请</button>
                </#resource>
                <#resource code="earnestRefund">
                <button id="btn_earnestRefund" type="button" class="btn btn-primary" onclick="openEarnestTransferHandler()"><i class="fa fa-pencil-square-o"></i> 定金转移</button>
                </#resource>
            </div>
            <table id="grid" data-toggle="table" data-title="客户余额列表" class="table" data-toolbar="#toolbar"
                   data-pagination="true" data-page-number="1" data-page-size="10"
                   data-query-params="queryParams" data-side-pagination="server" data-method="POST"
                   data-content-type="application/x-www-form-urlencoded" data-single-select="true"
                   data-click-to-select="true" data-unique-id="id" data-sort-name="id"
                   data-sort-order="desc" data-icons="bui.variable.icons" data-buttons-class="primary"
                   data-single-select="true"
                   data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true">
                <thead>
                <tr>
                    <th data-radio="true"></th>
                    <th data-field="customerName" data-align="center">
                        客户名称
                    </th>
                    <th data-field="customerCellphone" data-align="center">
                        联系电话
                    </th>
                    <th data-field="certificateNumber" data-align="center">
                        证件号码
                    </th>
                    <th data-field="earnestAvailableBalance" data-align="center" data-provider="moneyProvider">
                        定金金额
                    </th>
                    <th data-field="transferAvailableBalance" data-align="center" data-provider="moneyProvider">
                        转抵金额
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</div>

</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/bui/common.js"></script>
<#customerAccount_indexJs />

