<#bs4Body>

<div class="container-fluid">
    <h4>保证金流水</h4>
    <form id="queryForm" role="form" >
        <div class="row  row-cols-6">
            <div class="form-group col-auto">
                <label for="createdStart">时间:</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="createdStart" id="createdStart" class="form-control date laydatetime laystart" value="${createdStart!,localDateTimeFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="createdStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group" id="datetimepicker3">
                        <input type="text" name="createdEnd" id="createdEnd" class="form-control date laydatetime layend" value="${createdEnd!,localDateTimeFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="createdEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col">
                <label for="sceneType">场景:</label>
                <select id="sceneType" name="sceneType" class="form-control"></select>
                <#bcomboProvider _id="sceneType" _provider="transactionSceneTypeProvider" _queryParams='{emptyText:"-- 全部 --"}'/>

            </div>
            <div class="form-group col">
                <label for="likeCustomerName">客户名称:</label>
                <input type="text" class="form-control" name="likeCustomerName" id="likeCustomerName" maxlength="50"/>
            </div>
            <div class="form-group col">
                <label for="likeCustomerName">业务编号:</label>
                <input type="text" class="form-control" name="orderCode" maxlength="50"/>
            </div>
            <div class="form-group col">
                <label for="customerCellphone">联系电话:</label>
                <input type="text" class="form-control" name="customerCellphone" id="customerCellphone" maxlength="50"/>
            </div>
            <div class="form-group col">
                <label for="certificateNumber">证件号码:</label>
                <input type="text" class="form-control" name="certificateNumber" id="certificateNumber" maxlength="50"/>
            </div>
            <div class="col align-self-center mt-3">
                <button type="button" class="btn btn-outline-primary mr-2"onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button type="button" class="btn btn-outline-primary" onclick="queryDataHandler()"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>

    </form>
    <hr>
    <div class="row">
        <div class="col-12">

            <table id="grid" data-toggle="table" data-title="客户余额明细" class="table" data-toolbar="#toolbar"
                   data-pagination="true" data-page-number="1" data-page-size="10"
                   data-query-params="queryParams" data-side-pagination="server" data-method="POST"
                   data-content-type="application/x-www-form-urlencoded" data-single-select="true"
                   data-click-to-select="true" data-unique-id="id" data-sort-name="id"
                   data-sort-order="desc" data-icons="bui.variable.icons" data-buttons-class="primary"
                   data-single-select="true"
                   data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true">
                <thead>
                <tr>
                    <th data-field="createTime" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                        时间
                    </th>
                    <th data-field="orderId" data-sortable="true" data-align="center">
                        业务ID
                    </th>
                    <th data-field="orderCode" data-sortable="true" data-align="center">
                        业务编号
                    </th>
                    <th data-field="itemType" data-sortable="true" data-align="center" data-formatter="itemTypeFormatter">
                        类型
                    </th>
                    <th data-field="sceneType" data-sortable="true" data-align="center" data-provider="transactionSceneTypeProvider">
                        场景
                    </th>
                    <th data-field="amount" data-sortable="true" data-align="center" data-provider="sceneMoneyProvider">
                        发生金额
                    </th>
                    <th data-field="customerName" data-sortable="true" data-align="center">
                        客户名称
                    </th>
                    <th data-field="certificateNumber" data-sortable="true" data-align="center">
                        证件号码
                    </th>
                    <th data-field="customerCellphone" data-sortable="true" data-align="center">
                        联系电话
                    </th>
                    <th data-field="notes" data-sortable="true" data-align="center" data-formatter="dataFormatterTip">
                        详情
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</div>

</#bs4Body>

<#transactionDetails_depositAmountDetails />

<script>
    function dataFormatterTip(value,row,index) {
        if (value) {
            return '<span data-toggle="tooltip" data-placement="left" title="' + value + '">' + value + '</span>';
        } else {
            return "";
        }
    }

    function itemTypeFormatter() {
        return '保证金'
    }
</script>