<#bs4Body>
<div class="container-fluid">
    <!-- 退款单详情 -->
    <div>
        <iframe height="520" frameborder="0" width="100%" src="${contextPath}/refundOrder/view.action?orderCode=${businessKey}" ></iframe>
    </div>
    <div align="left" id="approvalInfo" >
        <%
        if(has(approvalProcesses)){
        %>
        <div class="col-8">
            <table>
                <%
                for(approvalProcess in approvalProcesses){
                %>
                <tr>
                    <td style="padding-right: 20px;">${approvalProcess.assigneeName} </td>
                    <td style="padding-right: 20px;">${approvalProcess.result == 1 ? "审批通过": approvalProcess.result == 0 ? "审批拒绝" : "提交审批"}</td>
                    <%if(approvalProcess.opinion != null){%>
                    <td style="padding-right: 20px;">${approvalProcess.opinion}</td>
                    <%}else{%>
                    <td style="padding-right: 20px;"></td>
                    <%}%>
                    <td>${approvalProcess.createTime, 'yyyy-MM-dd HH:mm:ss'}</td>
                </tr>
                <%
                }
                %>
            </table>
        </div>
        <%
        } //end of if(has(approvalProcesses)){
        %>
    </div>
</div>

</#bs4Body>

<script>
    $(function () {
        $("#refundOrderView").load("${contextPath}/refundOrder/viewFragment.action?orderCode=${businessKey}");
    });
</script>