<#bs4Body>

<div class="container-fluid">
    <form id="addForm" role="form">
        <div class="breadcrumb">
            基本信息
        </div>
        <div class="row row-cols-4">
            <div class="form-group col">
                <label for="" class="">退款单编号</label>
                <input type="text" class="form-control" value="${refundOrder.code!}" disabled />
            </div>
            <div class="form-group col">
                <label for="" class="">状态</label>
                <input type="text" class="form-control" value="${@com.dili.ia.glossary.RefundOrderStateEnum.getRefundOrderStateEnum(refundOrder.state).getName()}" disabled />
            </div>
            <div class="form-group col">
                <label for="" class="">退款金额</label>
                <input type="text" class="form-control" value="<#centToYuan value='${refundOrder.totalRefundAmount!}'/>" disabled />
            </div>
            <div class="form-group col">
                <label for="" class="">客户名称</label>
                <input type="text" class="form-control" value="${refundOrder.customerName!}" disabled />
            </div>
            <div class="form-group col">
                <label for="" class="">证件号码</label>
                <input type="text" class="form-control" value="${refundOrder.certificateNumber!}" disabled />
            </div>
            <div class="form-group col">
                <label for="" class="">联系电话</label>
                <input type="text" class="form-control" value="${refundOrder.customerCellphone!}" disabled />
            </div>
        </div>
        <div class="breadcrumb">
            退款详情
        </div>
        <div class="row row-cols-4">
            <div class="form-group col">
                <label for="" class="">收款人</label>
                <input type="text" class="form-control" value="${refundOrder.payee!}" disabled />
            </div>
            <div class="form-group col">
                <label for="" class="">退款金额</label>
                <input type="text" class="form-control" value="<#centToYuan value='${refundOrder.payeeAmount!}'/>" disabled />
            </div>
            <div class="form-group col">
                <label for="" class="">退款方式</label>
                <input type="text" class="form-control" value="${@com.dili.ia.glossary.RefundTypeEnum.getRefundTypeEnum(refundOrder.refundType).getName()}" disabled />
            </div>
            <div class="form-group col">
                <label for="" class="">开户行</label>
                <input type="text" class="form-control" value="${refundOrder.bank!}" disabled />
            </div>
            <div class="form-group col">
                <label for="" class="">银行账号</label>
                <input type="text" class="form-control" value="${refundOrder.bankCardNo!}" disabled />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-8">
                <label for="">退款原因</label>
                <textarea class="form-control" id="" rows="1" maxlength="100">${refundOrder.refundReason!}</textarea>
            </div>
        </div>
        <%if(isNotEmpty(logs) && logs.~size>0){ %>
        <div class="breadcrumb" data-toggle="collapse" data-target="#recordInfo" aria-controls="recordInfo">
            业务记录 <a href="javascript:;" class="ml-2" >点击查看</a>
        </div>
        <div class="collapse" id="recordInfo">
            <table data-toggle="table">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>操作</th>
                    <th>详情</th>
                    <th>补充信息</th>
                    <th>工作员</th>
                </tr>
                </thead>
                <tbody>
                <%
                for(log in logs){%>
                <tr>
                    <td class="text-center align-middle" >${log.createTime!}</td>
                    <td class="text-center align-middle" >${log.operatorTypeText!}</td>
                    <td class="text-center align-middle" >${log.content!}</td>
                    <td class="text-center align-middle" >${log.notes!}</td>
                    <td class="text-center align-middle" >${log.operatorName!}</td>
                </tr>
                <% }%>
                </tbody>
            </table>
        </div>
        <% }%>
    </form>
</div>

</#bs4Body>
