<#bs4Body>

    <div class="container-fluid">
        <form id="addForm" role="form">
            <div class="breadcrumb">
                基本信息
                <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#baseInfo" aria-expanded="true" aria-controls="baseInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
            </div>
            <div id="baseInfo" class="row row-cols-4 collapse show">
                <div class="form-group col">
                    <label for="" class="">退款单编号</label>
                    <input type="text" class="form-control" value="${refundOrder.code!}" disabled />
                </div>
                <div class="form-group col">
                    <label for="" class="">对应订单编号</label>
                    <input type="text" class="form-control" value="${refundOrder.businessCode!}" disabled />
                </div>
                <div class="form-group col">
                    <label for="" class="">状态</label>
                    <input type="text" class="form-control" value="${@com.dili.ia.glossary.RefundOrderStateEnum.getRefundOrderStateEnum(refundOrder.state).getName()}" disabled />
                </div>
                <div class="form-group col">
                    <label for="" class="">退款金额</label>
                    <input type="text" class="form-control" value="<#centToYuan value='${refundOrder.totalRefundAmount!0}'/>" disabled />
                </div>
                <div class="form-group col">
                    <label for="" class="">客户名称</label>
                    <input type="text" class="form-control" value="${refundOrder.customerName!}" disabled />
                </div>
                <div class="form-group col">
                    <label for="" class="">证件号码</label>
                    <input type="text" class="form-control" value="${refundOrder.certificateNumber!}" disabled />
                </div>
                <div class="form-group col">
                    <label for="" class="">联系电话</label>
                    <input type="text" class="form-control" value="${refundOrder.customerCellphone!}" disabled />
                </div>
            </div>

            <%if(isNotEmpty(refundOrder.orderItemId)){ %>
            <div class="breadcrumb">
                退款详情
                <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#detailInfo" aria-expanded="true" aria-controls="detailInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
            </div>
            <div id="detailInfo" class="collapse show">
                <div class="row row-cols-4">
                    <div class="form-group col">
                        <label for="" class="">租金</label>
                        <input type="text" class="form-control" value="<#centToYuan value='${leaseOrderItem.rentRefundAmount!0}'/>" disabled />
                    </div>
                    <div class="form-group col">
                        <label for="" class="">市场管理费</label>
                        <input type="text" class="form-control" value="<#centToYuan value='${leaseOrderItem.manageRefundAmount!0}'/>" disabled />
                    </div>
                    <div class="form-group col">
                        <label for="" class="">保证金</label>
                        <input type="text" class="form-control" value="<#centToYuan value='${leaseOrderItem.depositRefundAmount!0}'/>" disabled />
                    </div>
                </div>
                <% }%>
                <div class="row row-cols-4">
                    <div class="form-group col">
                        <label for="" class="">收款人</label>
                        <input type="text" class="form-control" value="${refundOrder.payee!}" disabled />
                    </div>
                    <div class="form-group col">
                        <label for="" class="">退款金额</label>
                        <input type="text" class="form-control" value="<#centToYuan value='${refundOrder.payeeAmount!0}'/>" disabled />
                    </div>
                    <div class="form-group col">
                        <label for="" class="">退款方式</label>
                        <input type="text" class="form-control" value="${@com.dili.ia.glossary.RefundTypeEnum.getRefundTypeEnum(refundOrder.refundType).getName()}" disabled />
                    </div>
                </div>
                <%if(refundOrder.refundType == @com.dili.ia.glossary.RefundTypeEnum.BANK.getCode()){ %>
                <div id="bankInfo" class="row row-cols-4">
                    <div class="form-group col">
                        <label for="" class="">开户行</label>
                        <input type="text" class="form-control" value="${refundOrder.bank!}" disabled />
                    </div>
                    <div class="form-group col">
                        <label for="" class="">银行账号</label>
                        <input type="text" class="form-control" value="${refundOrder.bankCardNo!}" disabled />
                    </div>
                </div>
                <% }%>
            </div>
            <%if(isNotEmpty(transferDeductionItems) && transferDeductionItems.~size>0){ %>
            <div class="breadcrumb">
                转抵信息
                <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#transferInfo" aria-expanded="true" aria-controls="transferInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
            </div>
            <div class="row row-cols-4 collapse show" id="transferInfo">
                <table class="table table-bordered table-hover table-striped" id="transferTable">
                    <thead>
                    <tr>
                        <th style="font-weight:normal;" class="text-center">收款人<i class="red">*</i></th>
                        <th style="font-weight:normal; " class="text-center">收款金额<i class="red">*</i></th>
                    </tr>
                    </thead>
                    <tbody>
                    <%
                    for(item in transferDeductionItems){%>
                    <tr>
                        <td class="text-center align-middle" >${item.payee!}</td>
                        <td class="text-center align-middle" ><#centToYuan value='${item.payeeAmount!}'/></td>
                    </tr>
                    <% }%>
                    </tbody>
                </table>
            </div>
            <% }%>
            <div class="row">
                <div class="form-group col-8">
                    <label for="">退款原因</label>
                    <textarea class="form-control" id="" rows="1" maxlength="100" readonly>${refundOrder.refundReason!}</textarea>
                </div>
            </div>
            <%if(isNotEmpty(logs) && logs.~size>0){ %>
            <div class="breadcrumb">
                业务记录
                <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#recordInfo" aria-expanded="true" aria-controls="recordInfo">展开 <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
            </div>
            <div class="collapse" id="recordInfo">
                <table data-toggle="table">
                    <thead>
                      <tr>
                        <th data-align="center">时间</th>
                        <th data-align="center">操作</th>
                        <th data-align="center">详情</th>
                        <th data-align="center">补充信息</th>
                        <th data-align="center">工作员</th>
                      </tr>
                    </thead>
                    <tbody>
                    <%
                    for(log in logs){%>
                    <tr>
                        <td class="text-center align-middle" >${log.createTime!}</td>
                        <td class="text-center align-middle" >${log.operationTypeText!}</td>
                        <td class="text-center align-middle" >${log.content!}</td>
                        <td class="text-center align-middle" >${log.notes!}</td>
                        <td class="text-center align-middle" >${log.operatorName!}</td>
                    </tr>
                    <% }%>
                    </tbody>
                  </table>
            </div>
            <% }%>
        </form>
    </div>

</#bs4Body>
