<#bs4Body>

    <div class="container-fluid">
        <form id="addForm" role="form">
            <div class="breadcrumb">
                基本信息
                <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#baseInfo" aria-expanded="true" aria-controls="baseInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
            </div>
            <div id="baseInfo" class="row row-cols-3 collapse show">
                <div class="form-group col">
                    <label for="" class="">退款单编号</label>
                    <input type="text" class="form-control" value="${refundOrder.code!}" disabled />
                </div>
                <div class="form-group col">
                    <label for="" class="">对应合同号</label>
                    <span class="form-control" readonly><a href="javascript:void(0)" onclick="leaseOrderViewHandler()">${refundOrder.businessCode!}</a></span>
                </div>
                <div class="form-group col">
                    <label for="" class="">状态</label>
                    <input type="text" class="form-control" value="${@com.dili.ia.glossary.RefundOrderStateEnum.getRefundOrderStateEnum(refundOrder.state).getName()}" disabled />
                </div>
                <div class="form-group col">
                    <label for="" class="">客户名称</label>
                    <input type="text" class="form-control" value="${refundOrder.customerName!}" disabled />
                </div>
                <div class="form-group col">
                    <label for="" class="">证件号码</label>
                    <input type="text" class="form-control" value="${refundOrder.certificateNumber!}" disabled />
                </div>
                <div class="form-group col">
                    <label for="" class="">联系电话</label>
                    <input type="text" class="form-control" value="${refundOrder.customerCellphone!}" disabled />
                </div>
                <div class="form-group col">
                    <label for="" class="">退款金额</label>
                    <input type="text" class="form-control" value="<#centToYuan value='${refundOrder.totalRefundAmount!0}'/>" disabled />
                </div>
                <div class="form-group col">
                    <label for="" class="">退场时间</label>
                    <input type="text" class="form-control" value="${leaseOrderItem.exitTime!,localDateTimeFormat='yyyy-MM-dd'}" disabled />
                </div>
                <div class="form-group col-8">
                    <label for="remark">补充信息</label>
                    <textarea class="form-control" id="remark" name="remark" rows="1" maxlength="100" readonly>${refundOrder.remark!}</textarea>
                </div>
            </div>

            <div class="breadcrumb">
                退款详情
                <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#detailInfo" aria-expanded="true" aria-controls="detailInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
            </div>
            <div id="detailInfo" class="collapse show">
                <%if(isNotEmpty(refundOrder.businessItemId)){ %>
                <div class="row row-cols-3">
                    <div class="form-group col">
                        <label for="assetsName" class="">${@com.dili.ia.glossary.AssetsTypeEnum.getAssetsTypeEnum(leaseOrderItem.assetsType).getName()}编号</label>
                        <input type="text" class="form-control" id="assetsName" name="assetsName" value="${leaseOrderItem.assetsName}" disabled/>
                    </div>
                    <%if(isNotEmpty(refundFeeItems) && refundFeeItems.~size>0){
                    for(item in refundFeeItems){
                    %>
                    <div class="form-group col">
                        <label for="" class="">${item.chargeItemName!}</label>
                        <input type="text" class="form-control" value="<#centToYuan value='${item.amount!0}'/>" disabled />
                    </div>
                    <% } }%>
                </div>
                <% }%>
                <hr>
                <div class="row row-cols-3">
                    <div class="form-group col">
                        <label for="" class="">收款人</label>
                        <input type="text" class="form-control" value="${refundOrder.payee!}" disabled />
                    </div>
                    <div class="form-group col">
                        <label for="payeeCertificateNumber" class="">证件号</label>
                        <input type="text" class="form-control" id="payeeCertificateNumber" name="payeeCertificateNumber" value="${refundOrder.payeeCertificateNumber!}" readonly/>
                    </div>
                    <div class="form-group col">
                        <label for="" class="">退款方式</label>
                        <input type="text" class="form-control" value="${isEmpty(refundOrder.refundType)?'':@com.dili.settlement.enums.SettleWayEnum.getByCode(refundOrder.refundType).getName()}" disabled />
                    </div>
                </div>
            </div>
            <div class="row row-cols-3">
                <div class="form-group col">
                    <label>营业执照状态</label>
                    <input type="text" class="form-control" value="${@com.dili.ia.glossary.LicenseStateEnum.getLicenseStateEnum(refundOrder.licenseState).getName()}" disabled />
                </div>
                <div class="form-group col">
                    <label for="">退款原因</label>
                    <textarea class="form-control" id="" rows="1" maxlength="100" readonly>${refundOrder.refundReason!}</textarea>
                </div>
            </div>
            <%if(isNotEmpty(logs) && logs.~size>0){ %>
            <div class="breadcrumb">
                业务记录
                <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#recordInfo" aria-expanded="true" aria-controls="recordInfo">展开 <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
            </div>
            <div class="collapse" id="recordInfo">
                <table data-toggle="table">
                    <thead>
                      <tr>
                        <th data-align="center">时间</th>
                        <th data-align="center">操作</th>
                        <th data-align="center">详情</th>
                        <th data-align="center">补充信息</th>
                        <th data-align="center">工作员</th>
                      </tr>
                    </thead>
                    <tbody>
                    <%
                    for(log in logs){%>
                    <tr>
                        <td class="text-center align-middle" >${log.createTime!}</td>
                        <td class="text-center align-middle" >${log.operationTypeText!}</td>
                        <td class="text-center align-middle" data-toggle="tooltip" data-placement="left" title="${log.content!}">${log.content!}</td>
                        <td class="text-center align-middle" >${log.notes!}</td>
                        <td class="text-center align-middle" >${log.operatorName!}</td>
                    </tr>
                    <% }%>
                    </tbody>
                  </table>
            </div>
            <% }%>

        </form>
    </div>

</#bs4Body>

<script>
    function leaseOrderViewHandler() {
        dia = bs4pop.dialog({
            title: '租赁详情',
            content: '/leaseOrder/approvalView.action?code=${refundOrder.businessCode!}',
            isIframe : true,
            closeBtn: true,
            width: '95%',
            height : '95%',
            btns: []
        });
    }
</script>