<#bs4Body>
    <div class="container-fluid">
    <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.meterDetail'/>">
        <form id="saveForm" method="post" action="" class="pb-5">
            <div class="row row-cols-4" >
                <div class="form-group col">
                    <label for="code">单号<i class="red">*</i></label>
                    <input type="text" class="form-control" name="code" value="${meterDetail.code}" readonly />
                </div>
                <div class="form-group col">
                    <label for="state">状态</label>
                    <select id="state"  name="state" class="form-control" readonly></select>
                    <#bcomboProvider _log="状态" _id="state" _provider="meterDetailStateProvider" _value="${meterDetail.state!}"/>
                </div>
                <div class="form-group col">
                    <label for="">操作员<i class="red">*</i></label>
                    <input type="text" class="form-control" name="creator" value="${meterDetail.creator}" readonly />
                </div>
                <div class="form-group col col">
                    <label for="">创建日期</label>
                    <input type="text" class="form-control" value="${meterDetail.createTime!,localDateTimeFormat='yyyy-MM-dd'}" readonly />
                </div>
                <div class="form-group col">
                    <label for="">截止月份<i class="red">*</i></label>
                    <input type="text" class="form-control laymonth" value="${meterDetail.usageTime!,localDateTimeFormat='yyyy-MM'}" name="" readonly />
                </div>
                <div class="form-group col">
                    <label for="">表编号<i class="red">*</i></label>
                    <input type="text" class="form-control" name="" value="${meterDetail.number}" readonly />
                </div>
                <div class="form-group col">
                    <label for="assetsType">类别</label>
                    <select id="assetsType"  name="assetsType" class="form-control" readonly></select>
                    <#bcomboProvider _log="状态" _id="assetsType" _provider="assetsTypeProvider" _value="${meterDetail.assetsType!}"/>
                </div>
                <div class="form-group col">
                    <label for="">表地址</label>
                    <input type="text" class="form-control" name="" value="${meterDetail.assetsName}" readonly />
                </div>
                <div class="form-group col">
                    <label for="">部门</label>
                    <input type="text" class="form-control" name="" value="${meterDetail.departmentName}" readonly />
                </div>
                <div class="form-group col">
                    <label for="">手机号码</label>
                    <input type="text" class="form-control" name="" value="${meterDetail.customerCellphone}" readonly />
                </div>
                <div class="form-group col">
                    <label for="">客户名称</label>
                    <input type="text" class="form-control" name="" value="${meterDetail.customerName}" readonly />
                </div>
                <div class="form-group col">
                    <label for="">上期指数</label>
                    <input type="text" class="form-control" name="" value="${meterDetail.lastAmount}" readonly />
                </div>
                <div class="form-group col">
                    <label for="">本期指数<i class="red">*</i></label>
                    <input type="text" class="form-control" name="" value="${meterDetail.thisAmount}" readonly />
                </div>
                <div class="form-group col">
                    <label for="">用水量</label>
                    <input type="text" class="form-control" name="" value="${meterDetail.usageAmount}" readonly />
                </div>
                <div class="form-group col">
                    <label for="">单价<i class="red">*</i></label>
                    <input type="text" class="form-control" name="" value="<#centToYuan value='${meterDetail.price}'/>" readonly />
                </div>
                <div class="form-group col">
                    <label for="">水费</label>
                    <input type="text" class="form-control" name="" value="<#centToYuan value='${meterDetail.receivable}'/>" readonly />
                </div>

				<%
                if(meterDetail.businessChargeItems.~size>0){
                for(item in meterDetail.businessChargeItems){%>
              	 <div class="form-group col">
					<label for="amount" class="">${item.chargeItemName!}<i class="red">*</i></label> <input id="chargeItem_${item.id!}" type="number" class="form-control chargeItem"
					 name="chargeItem_${item.id!}"  value="<#centToYuan value='${item.amount!}'/>" range="0 9999999.99" required readonly />
		        </div>
                <% } } %>

                <div class="form-group col">
                    <label for="">合金金额</label>
                    <input type="text" class="form-control" name="" value="<#centToYuan value='${meterDetail.amount}'/>" readonly />
                </div>
                <div class="form-group col">
                    <label for="">抄表日期</label>
                    <input type="text" class="form-control" name="" value="${meterDetail.recordTime,localDateTimeFormat='yyyy-MM-dd'}" readonly />
                </div>
                <div class="form-group col">
                    <label for="">抄表员</label>
                    <input type="text" class="form-control" name="" value="${meterDetail.recorderName}" readonly />
                </div>
                <div class="form-group col-12">
                    <label for="notes">备注</label>
                    <textarea id="notes" class="form-control" name="" rows="2" maxlength="100" value="${meterDetail.notes}" readonly></textarea>
                </div>
            </div>

        <%if(isNotEmpty(logs) && logs.~size>0){ %>
        <div class="breadcrumb">
            业务记录
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#recordInfo" aria-expanded="true" aria-controls="recordInfo">展开 <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
        </div>
        <div class="collapse" id="recordInfo">
            <table data-toggle="table">
                <thead>
                <tr>
                    <th data-align="center">时间</th>
                    <th data-align="center">操作</th>
                    <th data-align="center">详情</th>
                    <th data-align="center">补充信息</th>
                    <th data-align="center">工作员</th>
                </tr>
                </thead>
                <tbody>
                <%
                for(log in logs){%>
                <tr>
                    <td class="text-center align-middle" >${log.createTime!}</td>
                    <td class="text-center align-middle" >${log.operationTypeText!}</td>
                    <td class="text-center align-middle" data-toggle="tooltip" data-placement="left" title="${log.content!}" >${log.content!}</td>
                    <td class="text-center align-middle" data-toggle="tooltip" data-placement="left" title="${log.notes!}" >${log.notes!}</td>
                    <td class="text-center align-middle" >${log.operatorName!}</td>
                </tr>
                <% }%>
                </tbody>
            </table>
        </div>
        <% }%>


            </div>
        </form>
    </div>

</#bs4Body>
