<form id="addForm">
    <div class="form-group row">
        <label for="code" class="col-sm-2 col-form-label">品类代码</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="code" id="code" digits="true" maxlength="6"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="addForm_name" class="col-sm-2 col-form-label">品类名称</label>
        <div class="col-sm-10">
            <input type="text" id="addForm_name" name="name" class="form-control" maxlength="20"
                   required/>
        </div>
    </div>

    <% if(has(pid)){ %>
    <input type="hidden" name="parent" value="${pid}">
    <div class="form-group row">
        <label for="addForm_name" class="col-sm-2 col-form-label">上级名称</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" value="${parentName!}" disabled/>
        </div>
    </div>
    <% } %>
    <div class="form-group row">
        <label for="addForm_pingying" class="col-sm-2 col-form-label">拼音全写</label>
        <div class="col-sm-10">
            <input type="text" id="addForm_pingying" name="pingying" class="form-control input-sm"
                   maxlength="50"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="addForm_pyInitials" class="col-sm-2 col-form-label">拼音简写</label>
        <div class="col-sm-10">
            <input type="text" id="addForm_pyInitials" name="pyInitials" class="form-control input-sm"
                   maxlength="50"/>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        $("#addForm").validate();
        var okButton = $("#saveBtn");
        okButton.unbind("click").click(function () {
            if ($("#addForm").valid()) {
                okButton.attr("disabled", "disabled");
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '/category/save.action',
                    data: $("#addForm").serialize(),
                    success: function (data) {
                        if (data.code != '200') {
                            bs4pop.alert(data.message, {type: 'error'});
                            okButton.removeAttr("disabled");
                            return;
                        }
                        loadTable();
                        addTreeNode($("#parentId").val(), data.data, true);
                        $('#addModal').modal('hide');
                        bs4pop.alert("品类信息新增成功", {type: 'success'});
                        okButton.removeAttr("disabled");
                    },
                    error: function () {
                        okButton.removeAttr("disabled");
                        bs4pop.alert("品类新增失败", {type: 'error'});
                    }
                });
            }
        });

        $("#addForm_name").on("input", function () {
            var name = $("#addForm_name").val();
            if (name != undefined && name.trim() != '') {
                $.ajax({
                    type: "post",
                    url: '/category/convert.action',
                    dataType: "json",
                    data: {
                        'name': name
                    },
                    success: function (data) {
                        $("#addForm_pingying").val(data.whole);
                        $("#addForm_pyInitials").val(data.first);
                    },
                    error: function () {

                    }
                });
            } else {
                $("#addForm_pingying").val("");
                $("#addForm_pyInitials").val("");
            }
        });
    });
</script>