<#bs4Body>
<link rel="stylesheet"
      href="http://www.jq22.com/demo/bootstrap-ztree3201708300202/css/bootstrapStyle/bootstrapStyle.css"
      type="text/css">
<div class="main-container container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">基础信息管理</a></li>
            <li class="breadcrumb-item active" aria-current="page">品类管理</li>
        </ol>
    </nav>
    <div class="row  row-cols-6">
        <div class="form-group col">
            <label for="category_status">状态</label>
            <select id="category_status" class="form-control input-sm">
                <option value="">全部</option>
                <option value="1">已启用</option>
                <option value="2">已禁用</option>
            </select>
        </div>
        <div class="form-group col">
            <label for="category_text">品类名称/品类代码</label>
            <input id="category_text" type="text" class="form-control input-sm input-control len224"
                   placeholder="品类名称/品类代码">
        </div>
        <div class="col align-self-center mt-3">
            <button type="button" onclick="queryClickHandler();return false;" class="btn btn-outline-primary mr-2"><i class="fa fa-search"></i> 查询</button>
            <button class="btn btn-outline-primary" id="addButton" onclick="addClickHandler();return false;"><i class="fa fa-plus"></i> 新增</button>
        </div>
    </div>


    <div class="row">
        <div class="col-2">
            <!-- treeView1 start -->
            <div id="treeView1" class="pull-left ztree"></div>
            <!-- treeView1 end -->
        </div>
        <div class="col">
            <!-- table-showlist start -->
            <div id="tablelist" class="table-showlist">

            </div>
            <input type="hidden" id="parentId" value="0"/>
            <!-- table-showlist end -->
        </div>
    </div>

</div>

<div class="modal" tabindex="-1" role="dialog" id="addModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增品类</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveBtn">保存</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="editModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">修改品类</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="editBtn">保存</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="${contextPath}/resources/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="${contextPath}/resources/ztree/js/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="${contextPath}/resources/ztree/js/jquery.ztree.exedit-3.5.js"></script>
<script type="text/javascript" src="${contextPath}/resources/ztree/js/jquery.ztree.exhide-3.5.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        loadTree();
    });
    //加载树
    var settings = {
        callback: {
            onClick: treeClickHandler
        },
        data: {
            simpleData: {
                enable: true,
                pIdKey: "parent",
                rootPId: 0
            }
        },
        view: {
            showIcon: false,
            txtSelectedEnable: true
        }
    };

    function loadTree() {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: '/category/getTree.action',
            success: function (data) {
                if (data.code != '200') {
                    tips("提示", data.message);
                    return;
                }
                if (data.data) {
                    data.data.push({code: "", id: 0, name: "根目录", parent: -1, path: "0", pyInitials: ""});
                }
                $.fn.zTree.init($("#treeView1"), settings, data.data);
            },
            error: function () {
                tips("提示", "加载品类树失败");
            }
        });
    }

    function addTreeNode(tid, node, isSilent) {
        var treeObj = $.fn.zTree.getZTreeObj("treeView1");
        if (treeObj) {
            var parentNode = treeObj.getNodeByParam("id", tid);
            treeObj.addNodes(parentNode, node, isSilent);
        }
    }

    function updateTreeNode(data) {
        var treeObj = $.fn.zTree.getZTreeObj("treeView1");
        if (treeObj) {
            var node = treeObj.getNodeByParam("id", data.id);
            node.name = data.name;
            treeObj.updateNode(node);
        }
    }

    function removeTreeNode(tid) {
        var treeObj = $.fn.zTree.getZTreeObj("treeView1");
        if (treeObj) {
            var parentNode = treeObj.getNodeByParam("id", tid);
            treeObj.removeNode(parentNode, false);
        }
    }

    var tableurl;
    var status;
    var text;
    var isQuery = true;

    function loadTable() {
        if (isQuery) {
            loadTree();
            if (status) {
                $("#category_status option[value=" + status + "]")[0].selected = "selected";
            }
            $("#category_text").val(text);
        }
        if (tableurl) {
            $("#tablelist").load(tableurl);
        }
    }

    //树单击事件 加载列表
    function treeClickHandler(e, treeId, treeNode) {
        var path = treeNode.path;
        var pid = treeNode.id;
        var arr = path.split(",");
        if (arr.length >= 3) {
            $("#parentId").attr("value", "");
            $("#addButton").attr("disabled", "disabled");
        } else {
            $("#parentId").val(pid);
            $("#addButton").removeAttr("disabled");
        }
        $("#category_status option[value='']")[0].selected = "selected";
        $("#category_text").val("");
        tableurl = '/category/table.html' + '?parent=' + pid;
        isQuery = false;
        loadTable();
    }

    function tips(title, msg) {
        bs4pop.alert(msg, {type: 'success'});
    }

    function queryClickHandler() {
        status = $("#category_status").val();
        text = $("#category_text").val();
        $("#parentId").attr("value", "");
        $("#addButton").attr("disabled", "disabled");
        tableurl = '/category/table.html' + '?state=' + status + '&keyword=' + text;
        isQuery = true;
        loadTable();
        loadTree();
    }

    function addClickHandler() {
        var pid = $("#parentId").val();

        $("#addModal").modal();

        $('#addModal .modal-body').load("/category/addView.html?pid=" + pid);
    }
</script>
</#bs4Body>
