<#bs4Body>
<link href="https://cdn.bootcss.com/select2/4.0.12/css/select2.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/select2/4.0.12/js/select2.min.js"></script>
<script src="https://cdn.bootcss.com/select2/4.0.12/js/i18n/zh-CN.js"></script>
<style>
    #saveForm .select2-container--default .select2-selection--single {
        border: 1px solid #DBDDE1;
        height: 33.5px;

    }
    #saveForm .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 33.5px;
    }
</style>
<div class="container-fluid">
    <form class="form" id="saveForm">
        <input type="hidden" name="parentId" value="0">
        <div class="breadcrumb">
            基本信息
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#baseInfo" aria-expanded="true" aria-controls="baseInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div id="baseInfo" class="row row-cols-4 collapse show">
            <div class="form-group col">
                <label for="">摊位类型<i class="red">*</i></label>
                <select class="form-control" id="type" name="type">

                </select>
                <#bcomboProvider _id="type" _provider="dataDictionaryValueProvider" _queryParams='{dd_code:"booth_type", required:true}'/>
                <div class="valid-feedback">error tips</div>
            </div>
            <div class="form-group col">
                <label for="">所属部门</label>
                <select id="addDepartmentId" name="departmentId" class="form-control"></select>
                <#bcomboProvider _id="addDepartmentId" _provider="authDepartmentProvider"/>
            </div>
            <div class="form-group col-6">
                <label for="">区域<i class="red">*</i></label>
                <div class="input-group">
                    <select class="form-control" id="areaOne" name="area"  required>
                        <option value="" selected="">-- 请选择 --</option>
                    </select>
                    <select class="form-control" id="areaTwo" name="secondArea" >
                        <option value="" selected="">-- 请选择 --</option>
                    </select>
                </div>
            </div>
            <div class="form-group col">
                <label for="">摊位编号<i class="red">*</i></label>
                <input type="text" id="name" name="name" class="form-control" maxlength="20"
                       required/>
            </div>
            <div class="form-group col">
                <label for="">数量<i class="red">*</i></label>
                <input type="number" id="number" name="number" class="form-control floatReserve" range="0 999999.00"
                       required/>
            </div>
            <div class="form-group col">
                <label for="">单位<i class="red">*</i></label>
                <select class="form-control" id="unit" name="unit"></select>
                <#bcomboProvider _id="unit" _provider="dataDictionaryValueProvider" _queryParams='{dd_code:"unit", required:true}'/>

            </div>

            <div class="form-group col">
                <label for="">是否转角</label>
                <select class="form-control" id="addCorner" name="corner">
                </select>
                <#bcomboProvider _id="addCorner" _provider="cornerProvider" _value="2"/>
            </div>
            <div class="form-group col-8">
                <label for="">备注</label>
                <textarea class="form-control" id="notes" name="notes" rows="1" maxlength="100"></textarea>
            </div>
        </div>

        <div class="text-right">
            <button type="button" class="btn btn-secondary px-5" onclick="$.modal.close()" >取消</button>
            <button type="submit" class="btn btn-primary px-5">提交</button>
        </div>
    </form>
</div>
</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/bui/js/base_treegrid.js"></script>
<script type="text/javascript" src="${contextPath}/resources/blockUI/jquery.blockUI.js"></script>
<script>

    $(function () {
        $.ajax({
            type: "POST",
            url: "/district/search.action",
            data: {parentId: 0},
            success: function (data) {
                if (data.code == "200") {
                    var array = $.map(data.data, function (obj) {
                        obj.text = obj.text || obj.name;
                        return obj;
                    });
                    if (array.length == 0) {
                        $('#areaOne').html("");
                        $('#areaTwo').html("");
                    } else {
                        $("#areaOne").select2({
                            data: array,
                            language:'zh-CN',
                            width: "50%",
                            minimumResultsForSearch: Infinity
                        });
                        $('#areaOne').trigger('change');
                    }
                }
            }
        });

        $("#areaOne").select2({
            data: [],
            language:'zh-CN',
            minimumResultsForSearch: Infinity
        });
        $("#areaTwo").select2({
            data: [],
            language:'zh-CN',
            width: "50%",
            minimumResultsForSearch: Infinity
        });

        $("#areaOne").change(function () {
            var id = $(this).val();
            if(id && id!==''){
                $.ajax({
                    type: "POST",
                    url: "/district/search.action",
                    data: {parentId: $(this).val()},
                    success: function (data) {
                        if (data.code == "200") {
                            var array = $.map(data.data, function (obj) {
                                obj.text = obj.text || obj.name;
                                return obj;
                            });
                            if (array.length == 0) {
                                $('#areaTwo').html("")
                            } else {
                                $('#areaTwo').html("")
                                $("#areaTwo").select2({
                                    language:'zh-CN',
                                    data: array,
                                    width: "50%",
                                    minimumResultsForSearch: Infinity
                                })
                            }
                        }
                    }
                });
            }else{
                $('#areaTwo').html("")
            }
        });
    });

    $("#saveForm").validate({
        submitHandler:function(form){
            add();
        }
    });

    function add(){
        let _formData = new FormData($('#saveForm')[0]);
        $.ajax({
            type: "POST",
            url: "/booth/save.action",
            data: _formData,
            processData: false,
            contentType: false,
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $.operate.saveSuccess(data);
            }
        });
    }


</script>


