<div class="container-fluid">
    <form class="form" id="updateForm">
        <input type="hidden" name="id" value="${obj.id!}">
        <div class="breadcrumb">
            基本信息
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#baseInfo" aria-expanded="true" aria-controls="baseInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div id="baseInfo" class="row row-cols-4 collapse show">
            <div class="form-group col">
                <label for="">摊位类型<i class="red">*</i></label>
                <select class="form-control" id="typeUpdate" name="type">
                </select>
                <#bcomboProvider _id="typeUpdate" _provider="dataDictionaryValueProvider" _value="${obj.type!}" _queryParams='{dd_code:"booth_type", required:true}'/>
                <div class="valid-feedback">error tips</div>
            </div>
            <div class="form-group col">
                <label for="editDepartmentId">所属部门</label>
                <select id="editDepartmentId" name="departmentId" class="form-control"></select>
                <#bcomboProvider _id="editDepartmentId" _provider="authDepartmentProvider" _value="${obj.departmentId!}"/>
            </div>
            <div class="form-group col-6">
                <label for="">区域<i class="red">*</i></label>
                <div class="input-group">
                    <select class="form-control" id="areaOneEdit" name="area" required>

                    </select>
                    <select class="form-control" id="areaTwoEdit" name="secondArea">

                    </select>
                </div>
            </div>
            <div class="form-group col">
                <label for="">摊位编号<i class="red">*</i></label>
                <input type="text" id="name" name="name" class="form-control" maxlength="20" value="${obj.name!}"
                       required disabled/>
            </div>
            <div class="form-group col">
                <label for="">数量<i class="red">*</i></label>
                <input type="text" id="number" name="number" class="form-control  floatReserve" range="0 999999.00" value="${obj.number!}"
                       required/>
            </div>
            <div class="form-group col">
                <label for="">单位<i class="red">*</i></label>
                <select class="form-control" id="editUnit" name="unit"></select>
                <#bcomboProvider _id="editUnit" _value="${obj.unit!}" _provider="dataDictionaryValueProvider" _queryParams='{dd_code:"unit", required:true}'/>

            </div>

            <div class="form-group col">
                <label for="">是否转角</label>
                <select class="form-control" id="corner" name="corner">

                </select>
                <#bcomboProvider _id="corner" _provider="cornerProvider" _value="${obj.corner!}" />
            </div>
            <div class="form-group col-8">
                <label for="">备注</label>
                <textarea class="form-control" id="notes" name="notes" rows="1">${obj.notes!}</textarea>
            </div>
        </div>


        <div class="breadcrumb">
            创建信息
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#createInfo" aria-expanded="true" aria-controls="createInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div class="row row-cols-4 collapse show" id="createInfo">
            <div class="form-group col">
                <label for="">创建人<i class="red">*</i></label>
                <input type="text" class="form-control" value="${obj.creatorUser!}" disabled/>
            </div>
            <div class="form-group col">
                <label for="">创建时间<i class="red">*</i></label>
                <input type="text" class="form-control" value="${obj.createTime!,'yyyy-MM-dd HH:mm:ss'}" disabled/>
            </div>
        </div>

        <div class="text-right">
            <button type="button" class="btn btn-secondary px-5" data-dismiss="modal" id="cancel">取消</button>
            <button type="button" class="btn btn-primary px-5" id="editformSubmit">提交</button>
        </div>
    </form>
</div>

<script>
    var area = "${obj.area!}";
    var se_area = "${obj.secondArea!}";
    var isInit = false;

    $(function () {
        loadArea();
    });

    function loadArea() {
        $.ajax({
            type: "POST",
            url: "/district/search.action",
            data: {parentId: 0},
            success: function (data) {
                if (data.code == "200") {
                    var array = $.map(data.data, function (obj) {
                        obj.text = obj.text || obj.name;
                        return obj;
                    });
                    if (array.length == 0) {
                        $('#areaOneEdit').html("")
                    } else {
                        $("#areaOneEdit").select2({
                            data: array,
                            language:'zh-CN',
                            width: "50%",
                            minimumResultsForSearch: Infinity
                        });
                        $('#areaOneEdit').val(area);
                        $('#areaOneEdit').trigger('change');
                    }
                }
            }
        });
    }


    // 提交保存
    $('#editformSubmit').on('click', function (e) {
        if (!$('#updateForm').valid()) {
            return false;
        } else {
            bui.loading.show('努力提交中，请稍候。。。');
            let _formData = new FormData($('#updateForm')[0]);
            $.ajax({
                type: "POST",
                url: "/booth/update.action",
                data: _formData,
                processData: false,
                contentType: false,
                async: true,
                success: function (res) {
                    bui.loading.hide();
                    if (res.code == "200") {
                        bs4pop.alert('成功', {type: 'success'}, function () {
                            /* 应该要带条件刷新 */
                            window.location.reload();
                        });
                    } else {
                        bui.loading.hide();
                        bs4pop.alert(res.result, {type: 'error'});
                    }
                },
                error: function (error) {
                    bui.loading.hide();
                    bs4pop.alert(error.result, {type: 'error'});
                }
            });
        }
    });


    $("#areaOneEdit").change(function () {
        var id = $(this).val();
        if(id && id!==''){
            $.ajax({
                type: "POST",
                url: "/district/search.action",
                data: {parentId: $(this).val()},
                success: function (data) {
                    if (data.code == "200") {
                        var array = $.map(data.data, function (obj) {
                            obj.text = obj.text || obj.name;
                            return obj;
                        });
                        if (array.length == 0) {
                            $('#areaTwoEdit').html("")
                        } else {
                            $('#areaTwoEdit').html("")
                            $("#areaTwoEdit").select2({
                                language:'zh-CN',
                                data: array,
                                width: "50%",
                                minimumResultsForSearch: Infinity
                            })
                        }
                    }
                }
            });
        }else{
            $('#areaTwoEdit').html("")
        }
    });



    function initArea() {
        if (!isInit) {
            $("#areaTwoEdit").val(se_area);
            isInit = true;
        }
    }
</script>


