<#bs4Body>
<link href="https://cdn.bootcss.com/select2/4.0.12/css/select2.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/select2/4.0.12/js/select2.min.js"></script>
<script src="https://cdn.bootcss.com/select2/4.0.12/js/i18n/zh-CN.js"></script>
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/easyui/css/themes/bootstrap/easyui.css">
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/easyui/css/themes/icon.css">
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/easyui/css/themes/color.css">
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/css/common.css">
<script type="text/javascript" src="${contextPath}/resources/easyui/js/jquery.easyui.min.js"></script>
<!-- easyui中文语言包 -->
<script type="text/javascript" src="${contextPath}/resources/easyui/js/easyui-lang-zh_CN.js"></script>
<!-- easyui扩展 -->
<script type="text/javascript" src="${contextPath}/common/easyui/js/easyui_extend.js"></script>
<style>
    table > tbody > tr.treegrid-tr-tree > td {
        height: auto
    }
    table > tbody > tr > td {
        max-width: fit-content;
    }
</style>
<div class="container-fluid">
    <#bs4nav>
    <form class="form collapse show" id="queryForm" role="form" >
        <div class="row  row-cols-6">
            <div class="form-group col">
                <label for="">摊位编号</label>
                <input type="text" class="form-control isNaturalNum" name="name" placeholder="">
            </div>
            <div class="form-group col">
                <label for="">部门</label>
                <select id="departmentId" name="departmentId" class="form-control w-200px"></select>
                <#bcomboProvider _id="departmentId" _provider="authDepartmentProvider" _queryParams='{emptyText:"-- 全部 --"}'/>
            </div>

            <div class="form-group col-4">
                <label for="">区域</label>
                <div class="input-group">
                    <select class="form-control" id="areaOneList" name="area" required>

                    </select>
                    <select class="form-control" id="areaTwoList" name="secondArea">
                        <option value="">-- 全部 --</option>
                    </select>
                </div>
            </div>
            <div class="form-group col">
                <label for="booth_status">状态</label>
                <select id="booth_status" class="form-control input-sm" name="state">
                    <option value="">-- 全部 --</option>
                    <option value="1">已启用</option>
                    <option value="2">已禁用</option>
                </select>
            </div>
            <div class="form-group col-auto">
                <label for="createdStart" class="justify-content-end mr-2 w-100px">创建时间:</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="startTime" id="createdStart" class="form-control laydate date"/>
                        <div class="input-group-append">
                            <label for="createdStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group" id="datetimepicker3">
                        <input type="text" name="endTime" id="createdEnd" class="form-control laydate date" value=""/>
                        <div class="input-group-append">
                            <label for="createdEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-auto">
                <label for="">数量</label>
                <div class="form-inline">
                    <input type="number" name="startNumber" class="form-control" range="0 999999.00">
                    &nbsp;&nbsp;至&nbsp;&nbsp;
                    <input type="number" name="endNumber" class="form-control" range="0 999999.00">
                </div>
            </div>
            <div class="col align-self-center mt-3">
                <button type="button" class="btn btn-outline-primary mr-2" onclick="refresh()"><i class="fa fa-refresh"></i> 清空</button>
                <button type="button" class="btn btn-outline-primary" onclick="$.bs_treegrid.refresh()"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>

    </form>
</#bs4nav>


<div class="">
    <div class="row">
        <div class="col-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                <#resource code="booth_view">
                <button type="button" class="btn btn-primary" onclick="$.operate.view()">
                    <i class="fa fa-eye"></i>查看
                </button>
                </#resource>
                <#resource code="booth_add">
                <button id="btn_add" type="button" class="btn btn-primary" onclick="$.operate.add()"><i class="fa fa-plus"></i> 新增
                </button>
                </#resource>
                <#resource code="booth_edit">
                <button type="button" class="btn btn-primary" onclick="$.operate.edit()">
                    <i class="fa fa-pencil-square-o"></i> 修改
                </button>
                </#resource>
                <#resource code="booth_split">
                <button type="button" id="btn_split" class="btn btn-primary" onclick="$.operate.split()">
                    <i class="fa fa-pencil-square-o"></i> 拆分摊位
                </button>
                </#resource>
                <#resource code="booth_del">
                <button type="button" class="btn btn-primary" onclick="$.operate.remove()">
                    <i class="fa fa-trash-o"></i> 删除
                </button>
                </#resource>
                <#resource code="booth_on">
                <button type="button" class="btn btn-primary" onclick="$.operate.changeStatus(1)">
                    <i class="fa fa-play"></i> 启用
                </button>
                </#resource>
                <#resource code="booth_off">
                <button type="button" class="btn btn-primary" onclick="$.operate.changeStatus(2)">
                    <i class="fa fa-stop"></i> 禁用
                </button>
                </#resource>
            </div>

            <table title="" id="grid" class="easyui-treegrid" idField="id"
                   treeField="name"
                   data-options="
                                                    method: 'get',
                                                    idField: 'id',
                                                    treeField: 'name',
                                                    singleSelect:true,
                                                    remoteSort:false,
                                                    multiSort:false,
                                                    pagination: true,
                                                    pageSize: 10,
                                                    pageList: [10,20,50],
                                                    _parentIdField: 'parentId',
                                                    loadFilter:treegridLoadFilter
                                                ">
                <thead>
                <tr>
                    <th data-options="field:'ck',checkbox:true"></th>
                    <th data-options="field:'name',sortable:true,formatter:formatterView" width="20%">摊位编号</th>
                    <th data-options="field:'number',sortable:true" width="10%">数量</th>
                    <th data-options="field:'unit',sortable:true,_provider:'dataDictionaryValueProvider'" width="10%">单位</th>
                    <th data-options="field:'area',sortable:true,_provider:'districtProvider'" width="10%">一级区域</th>
                    <th data-options="field:'secondArea',sortable:true,_provider:'districtProvider'" width="10%">二级区域</th>
                    <th data-options="field:'departmentId',sortable:true,_provider:'departmentProvider'" width="10%">部门</th>
                    <th data-options="field:'createTime',sortable:true,_provider:'datetimeProvider'" width="10%">创建时间</th>
                    <th data-options="field:'state',sortable:true,_provider:'boothStateProvider',formatter:stateFormatter" width="10%">状态</th>
                    <th data-options="field:'bb',sortable:true,_provider:'boothPathProvider'" width="10%">路径</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


</div>

</#bs4Body>

<script type="text/javascript" src="${contextPath}/resources/bui/js/base_treegrid.js"></script>
<script type="text/javascript" src="${contextPath}/resources/blockUI/jquery.blockUI.js"></script>
<script type="text/javascript">
    var hasView = false;
    <#resource code="booth_view">
    hasView = true;
    </#resource>
</script>
<script type="text/javascript">

    window.rootPath = '${contextPath}';

    var dataUrl = window.rootPath + "/booth/listPage.action";
    var removeUrl = window.rootPath + "/booth/delete.action";
    var changeStatusUrl = window.rootPath + "/booth/update.action";
    var createUrl = window.rootPath + "/booth/add.html";
    var viewUrl = window.rootPath + "/booth/view.html?id={id}";
    var updateUrl = window.rootPath + "/booth/update.html?id={id}";
    var splitUrl = window.rootPath + "/booth/split.html?id={id}";
    var exportUrl = window.rootPath + "/BoothController/export";
    var options = {
        dataUrl: dataUrl,
        createUrl: createUrl,
        updateUrl: updateUrl,
        changeStatusUrl: changeStatusUrl,
        viewUrl: viewUrl,
        splitUrl: splitUrl,
        removeUrl: removeUrl,
        exportUrl: exportUrl,
        sortName: "roleSort",
        businessType: 1, // 摊位
        modalName: "摊位管理"
    };
    $(function () {
        var oGrid = $.bs_treegrid.oGridInit(options);
        oGrid.Init();
        $.ajax({
            type: "POST",
            url: "/district/search.action",
            data: {parentId: 0},
            success: function (data) {
                if (data.code == "200") {
                    var array = [];
                    array.push({text: "-- 全部 --", id: ""});
                    var data = $.map(data.data, function (obj) {
                        obj.text = obj.text || obj.name;
                        return obj;
                    });
                    for (var x in data) {
                        array.push(data[x]);
                    }
                    if (data.length == 0) {
                        $('#areaOneList').html("");
                        $('#areaTwoList').html("");
                    } else {
                        $("#areaOneList").select2({
                            data: array,
                            language: 'zh-CN',
                            width: "50%",
                            minimumResultsForSearch: Infinity
                        });
                    }
                }
            }
        });
        $("#areaOneList").change(function () {
            if ($(this).val() != "") {
                $.ajax({
                    type: "POST",
                    url: "/district/search.action",
                    data: {parentId: $(this).val()},
                    success: function (data) {
                        if (data.code == "200") {
                            var array = [];
                            array.push({text: "-- 全部 --", id: ""});
                            var data = $.map(data.data, function (obj) {
                                obj.text = obj.text || obj.name;
                                return obj;
                            });
                            for (var x in data) {
                                array.push(data[x]);
                            }
                            $('#areaTwoList').html("")
                            $("#areaTwoList").select2({
                                language: 'zh-CN',
                                data: array,
                                width: "50%",
                                minimumResultsForSearch: Infinity
                            })
                        }
                    }
                });
            } else {
                $('#areaTwoList').html("");
                var array = [];
                array.push({text: "-- 全部 --", id: ""});
                $("#areaTwoList").select2({
                    language: 'zh-CN',
                    data: array,
                    width: "50%",
                    minimumResultsForSearch: Infinity
                })
            }

        });
    })


    function formatterView(value, row, index) {
        if (hasView) {
            return '<a class="like" href="javascript:void(0)" onclick="$.operate.view(' + row.id + ')" title="Like">' + value + '</a>'
        } else {
            return row.name;
        }
    }

    function stateFormatter(value, row, index) {
        return row.status;
    }

    function refresh() {
        $('#queryForm .form-control').val('');
        $('#areaOneList').html("");
        $.ajax({
            type: "POST",
            url: "/district/search.action",
            data: {parentId: 0},
            success: function (data) {
                if (data.code == "200") {
                    var array = [];
                    array.push({text:"-- 全部 --",id:""});
                    var data = $.map(data.data, function (obj) {
                        obj.text = obj.text || obj.name;
                        return obj;
                    });
                    for (var x in data) {
                        array.push(data[x]);
                    }
                    if (data.length == 0) {
                        $('#areaOneList').html("");
                        $('#areaTwoList').html("");
                    } else {
                        $("#areaOneList").select2({
                            data: array,
                            language:'zh-CN',
                            width: "50%",
                            minimumResultsForSearch: Infinity
                        });
                    }
                }
            }
        });

        $.ajax({
            type: "POST",
            url: "/district/search.action",
            data: {parentId: -1},
            success: function (data) {
                if (data.code == "200") {
                    var array = [];
                    array.push({text:"-- 全部 --",id:""});
                    var data = $.map(data.data, function (obj) {
                        obj.text = obj.text || obj.name;
                        return obj;
                    });
                    for (var x in data) {
                        array.push(data[x]);
                    }
                    $('#areaTwoList').html("")
                    $("#areaTwoList").select2({
                        language: 'zh-CN',
                        data: array,
                        width: "50%",
                        minimumResultsForSearch: Infinity
                    })
                }
            }
        });
    }
</script>