<#bs4Body>
<form class="form" id="saveForm">
    <div class="breadcrumb" data-toggle="collapse" data-target="#baseInfo" aria-controls="baseInfo">
        基本信息
    </div>
    <div class="row row-cols-3" id="baseInfo">
        <div class="form-group col">
            <label for="">摊位类型<i class="red">*</i></label>
            <input type="text" class="form-control" disabled/>
        </div>
        <div class="form-group col-4">
            <label for="">区域<i class="red">*</i></label>
            <input type="text" class="form-control" disabled/>
        </div>
        <div class="form-group col">
            <label for="">摊位编号<i class="red">*</i></label>
            <input type="text" class="form-control" disabled/>
        </div>
        <div class="form-group col">
            <label for="">数量<i class="red">*</i></label>
            <input type="text" class="form-control" disabled/>
        </div>
        <div class="form-group col">
            <label for="">单位<i class="red">*</i></label>
            <input type="text" class="form-control" disabled/>
        </div>
        <div class="form-group col">
            <label for="">所属部门</label>
            <input type="text" class="form-control" disabled/>
        </div>
        <div class="form-group col">
            <label for="">是否转角</label>
            <input type="text" class="form-control" disabled/>
        </div>
        <div class="form-group col-8">
            <label for="">备注</label>
            <textarea class="form-control" id="notes" name="notes" rows="1" disabled ></textarea>
        </div>
    </div>

    <div class="breadcrumb" data-toggle="collapse" data-target="#boothInfo1" aria-controls="boothInfo1">
        拆分
    </div>
    <div id="boothInfo">
        <table class="table table-bordered table-hover table-striped" id="boothTable">
            <thead>
            <tr>
                <th class="text-center align-middle" style="width: 5%"><a id="addBooth" href="javascript:;" style="padding: 8px 18px;"><i class="fa fa-plus-square fa-lg"></i></a></th>
                <th style="width: 25%;font-weight:normal; ">摊位编号</th>
                <th style="width: 23%;font-weight:normal; ">数量</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="row row-cols-3">
        <div class="form-group col-8">
            <label for="">拆分备注</label>
            <textarea class="form-control" id="notes" name="notes" rows="1" disabled ></textarea>
        </div>
    </div>

    <div class="text-right">
        <button type="button" class="btn btn-secondary" id="cancel">取消</button>
        <button type="button" class="btn btn-primary" id="form-submit" onclick="saveOrUpdateHandler()">提交</button>
    </div>
</form>

</#bs4Body>

<#booth_preSaveJs />

<script  id="boothItem"  type="text/html">
    <tr data-index="{{index}}">
        <td class="text-center align-middle"><a href="javascript:;" class="item-del" style="padding: 8px 18px;"><i class="fa fa-minus-square fa-lg"></i></a></td>
        <td style="padding: .25rem!important;">
            <#bautoCompleteProvider _escape="true" _hiddenDomainId="boothId_{{index}}" _hiddenDomainName="boothId" _displayDomainId="boothName_{{index}}"  _valueField="id" _textField="name" _placeholder="" _validatorMethod="isSelected" _option="width:'350',paramName:'name',serviceUrl:'/booth/list.action',selectFn:boothSelectHandler"/>
        </td>
        <td style="padding: .25rem!important;"><input type="text" id="number_{{index}}" name="number_{{index}}" value="{{number}}" class="form-control"></td>
    </tr>
</script>




