<#bs4Body>

<div class="container-fluid">
    <form id="saveForm" role="form" novalidate>
        <div class="breadcrumb" data-toggle="collapse" data-target="#orderInfo" aria-controls="orderInfo">
            订单信息
        </div>
        <div class="row  row-cols-4 collapse show" id="orderInfo">
            <div class="form-group col">
                <label for="" class="">业务单号</label>
                <input type="text" class="form-control" value="${earnestOrder.code!}" disabled />
            </div>
            <div class="form-group col">
                <label for="" class="">状态</label>
                <input type="text" class="form-control" value="${@com.dili.ia.glossary.EarnestOrderStateEnum.getEarnestOrderStateEnum(earnestOrder.state).getName()}" disabled />
            </div>
            <div class="form-group col">
                <label for="" class="">业务所属部门</label>
                <input type="text" class="form-control" value="${earnestOrder.departmentName!}" disabled />
            </div>
        </div>
        <div class="breadcrumb" data-toggle="collapse" data-target="#customerInfo" aria-expanded="true"
             aria-controls="customerInfo">客户信息
        </div>
        <div class="row row-cols-4" id="customerInfo">
            <div class="form-group col">
                <label for="">客户名称</label>
                <input type="text" class="form-control" value="${earnestOrder.customerName!}" disabled />

            </div>
            <div class="form-group col">
                <label for="">证件号码</label>
                <input type="text" class="form-control" value="${earnestOrder.certificateNumber!}" disabled />

            </div>
            <div class="form-group col">
                <label for="">联系电话</label>
                <input type="text" class="form-control" value="${earnestOrder.customerCellphone!}" disabled />
            </div>
        </div>
        <div class="breadcrumb" data-toggle="collapse" data-target="#boothInfo" aria-expanded="true"
             aria-controls="boothInfo">
            对应摊位
        </div>
        <div id="boothInfo">
            <table class="table table-bordered table-hover table-striped" id="boothTable">
                <thead>
                <tr>
                    <th class="text-center align-middle" style="width: 5%"><a id="addStall" href="javascript:;" style="padding: 8px 18px;"><i class="fa fa-plus-square fa-lg"></i></a></th>
                    <th style="width: 25%;font-weight:normal; ">摊位编号</th>
                </tr>
                </thead>
                <tbody>
                <%
                if(earnestOrderDetails.~size>0){
                for(item in earnestOrderDetails){%>
                <tr>
                    <td class="text-center align-middle"><a href="javascript:;" class="item-del" style="padding: 8px 18px;"><i class="fa fa-minus-square fa-lg"></i></a></td>
                    <td style="padding: .25rem!important;">
                        ${item.assetsName!}
                    </td>
                </tr>
                <% } } %>
                </tbody>
            </table>
        </div>
        <div class="breadcrumb" data-toggle="collapse" data-target="#otherInfo" aria-controls="otherInfo">
            补充信息
        </div>
        <div class="row row-cols-4 collapse show" id="otherInfo">
            <div class="form-group col col">
                <label for="">开始日期</label>
                <input type="text" class="form-control" value="${earnestOrder.startTime!,dateFormat='yyyy-MM-dd'}" disabled />
            </div>
            <div class="form-group col col">
                <label for="">结束日期</label>
                <input type="text" class="form-control" value="${earnestOrder.endTime!,dateFormat='yyyy-MM-dd'}" disabled />
            </div>
        </div>
        <div class="breadcrumb" data-toggle="collapse" data-target="#moneyInfo" aria-controls="moneyInfo">
            金额信息
        </div>
        <div class="row  row-cols-4 collapse show" id="moneyInfo">
            <div class="form-group col">
                <label for="" class="">定金金额</label>
                <input type="text" class="form-control" value="<#centToYuan value='${earnestOrder.amount!0}'/>"  disabled />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-8">
                <label for="">备注</label>
                <textarea class="form-control" name="notes" rows="1" disabled>${earnestOrder.notes!}</textarea>
            </div>
        </div>
        <%if(isNotEmpty(logs) && logs.~size>0){ %>
        <div class="breadcrumb" data-toggle="collapse" data-target="#recordInfo" aria-controls="recordInfo">
            业务记录 <a href="javascript:;" class="ml-2" >点击查看</a>
        </div>
        <div class="collapse" id="recordInfo">
            <table data-toggle="table">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>操作</th>
                    <th>详情</th>
                    <th>补充信息</th>
                    <th>工作员</th>
                </tr>
                </thead>
                <tbody>
                <%
                for(log in logs){%>
                <tr>
                    <td class="text-center align-middle" >${log.createTime,dateFormat='yyyy-MM-dd HH:mm:ss'}</td>
                    <td class="text-center align-middle" >${log.operatorName}</td>
                    <td class="text-center align-middle" >${log.content}</td>
                    <td class="text-center align-middle" >${log.notes}</td>
                    <td class="text-center align-middle" >${log.operatorId}</td>
                </tr>
                <% }%>
                </tbody>
            </table>
        </div>
        <% }%>
        <div class="text-right">
            <button type="button" class="btn btn-secondary px-5" onclick="javascript: parent.dia.hide()" >关闭</button>
        </div>

    </form>
</div>

</#bs4Body>

<!--<#earnestOrder_saveJs />-->