<#bs4Body>
<style>
    .w-100px{width: 100px!important;}

</style>
<!--
 内联元素:让元素排成一行显示出来，且高度和宽度由内容决定，不能用css控制
 块状元素:独立占一行
 内联元素与块状元素对立
 内联(inline)表单:表单排在一行显示，只有在from中指定  class="form-inline"即可让表单成内联显示
      一定要添加 label 标签
      如果你没有为每个输入控件设置 label 标签，屏幕阅读器将无法正确识别。对于这些内联表单，你可以通过为 label 设置 .sr-only 类将其隐藏。还有一些辅助技术提供label标签的替代方案，比如 aria-label、aria-labelledby 或 title 属性。如果这些都不存在，屏幕阅读器可能会采取使用 placeholder 属性，如果存在的话，使用占位符来替代其他的标记，但要注意，这种方法是不妥当的。
-->
<!--注意label中的for 与 input中的保持一致-->
<div class="container-fluid">
    <#bs4nav>
    <form id="queryForm" role="form" >
        <input type="hidden" id="assetsType" name="assetsType" value="${assetsType!}">
                <div class="row row-cols-6">
                    <div class="form-group col">
                        <label for="state">业务状态</label>
                        <select id="state" name="state" class="form-control"></select>
                        <#bcomboProvider _id="state" _provider="leaseOrderStateProvider" _value="" _queryParams='{emptyText:"-- 全部 --"}'/>
                    </div>
                    <div class="form-group col">
                        <label for="payState">交费状态</label>
                        <select id="payState" name="payState" class="form-control"></select>
                        <#bcomboProvider _id="payState" _provider="payStateProvider" _value="" _queryParams='{emptyText:"-- 全部 --"}'/>
                    </div>
                    <div class="form-group col">
                        <label for="likeCustomerName">客户名称</label>
                        <input type="text" class="form-control" name="likeCustomerName" id="likeCustomerName" maxlength="50"/>
                    </div>
                    <div class="form-group col">
                        <label for="likeCreator">创建人</label>
                        <input type="text" class="form-control" name="likeCreator" id="likeCreator" maxlength="50"/>
                    </div>
                    <div class="form-group col">
                        <label for="assetsName">摊位编号</label>
                        <input type="text" class="form-control" name="assetsName" id="assetsName" maxlength="50"/>
                    </div>
                    <div class="form-group col">
                        <label for="code">业务单号</label>
                        <input type="text" class="form-control" name="code" id="code" maxlength="50"/>
                    </div>
                    <div class="form-group col">
                        <label for="code">一级区域</label>
                        <select id="firstDistrictId" name="firstDistrictId" class="form-control"></select>
                        <#bcomboProvider _id="firstDistrictId" _provider="firstDistrictProvider" _value="" _queryParams='{emptyText:"-- 全部 --"}'/>
                    </div>
                    <div class="form-group col-auto">
                        <label for="createdStart">创建时间</label>
                        <div class="form-inline">
                            <div class="input-group">
                                <input type="text" name="createdStart" id="createdStart" class="form-control laydatetime laystart" value="${createdStart!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                                <div class="input-group-append">
                                    <label for="createdStart"  class="input-group-text fa fa-calendar"></label>
                                </div>
                            </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                            <div class="input-group" id="datetimepicker3">
                                <input type="text" name="createdEnd" id="createdEnd" class="form-control laydatetime layend" value="${createdEnd!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                                <div class="input-group-append">
                                    <label for="createdEnd"  class="input-group-text fa fa-calendar"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-auto">
                        <label for="createdStart">开始日期</label>
                        <div class="form-inline">
                            <div class="input-group">
                                <input type="text" name="startTimeStart" id="startTimeStart" class="form-control laydate laystart"/>
                                <div class="input-group-append">
                                    <label for="startTimeStart"  class="input-group-text fa fa-calendar"></label>
                                </div>
                            </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                            <div class="input-group">
                                <input type="text" name="startTimeEnd" id="startTimeEnd" class="form-control laydate layend"/>
                                <div class="input-group-append">
                                    <label for="startTimeEnd"  class="input-group-text fa fa-calendar"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center mt-3">
                        <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                        <button id="query" type="button" class="btn btn-outline-primary" onclick="queryDataHandler()"><i class="fa fa-search"></i> 查询</button>
                    </div>
                </div>

            </form>
</#bs4nav>
    <div class="row">
        <div class="col-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                <button id="btn_view" type="button" class="btn btn-primary" onclick="openViewHandler()"><i class="fa fa-eye"></i> 查看</button>
                <#resource code="addBoothLeaseOrder" checkMenu="true">
                <button id="btn_add" type="button" class="btn btn-primary" onclick="openInsertHandler()"><i class="fa fa-plus"></i> 新增</button>
                </#resource>
                <#resource code="updateBoothLeaseOrder" checkMenu="true">
                <button id="btn_edit" type="button" class="btn btn-primary" onclick="openUpdateHandler()"><i class="fa fa-pencil-square-o"></i> 修改</button>
                </#resource>
                <#resource code="cancelBoothLeaseOrder" checkMenu="true">
                <button id="btn_cancel" type="button" class="btn btn-primary" onclick="openCancelHandler()"><i class="fa fa-ban"></i> 取消</button>
                </#resource>
                <#resource code="submitBoothLeaseOrderApplication" checkMenu="true">
                <button id="btn_approval" type="button" class="btn btn-primary" onclick="submitForApproval()"><i class="fa fa-paper-plane"></i> 提交审批</button>
                </#resource>
                <button id="btn_showProgress" type="button" class="btn btn-primary" onclick="showProgress()"><i class="fa fa-paper-plane"></i>查看流程</button>
                <#resource code="submitPaymentBoothLeaseOrder" checkMenu="true">
                <button id="btn_submit" type="button" class="btn btn-primary" onclick="openSubmitPaymentHandler()"><i class="fa fa-paper-plane"></i> 提交付款</button>
                </#resource>
                <#resource code="withdrawBoothLeaseOrder" checkMenu="true">
                <button id="btn_withdraw" type="button" class="btn btn-primary" onclick="openWithdrawHandler()"><i class="fa fa-undo"></i> 撤回</button>
                </#resource>
                <#resource code="supplementBoothLeaseOrder" checkMenu="true">
                <button id="btn_supplement" type="button" class="btn btn-primary" onclick="openSupplementHandler()"><i class="fa fa-paint-brush"></i> 补录</button>
                </#resource>
                <#resource code="renewBoothLeaseOrder" checkMenu="true">
                <button id="btn_renew" type="button" class="btn btn-primary" onclick="openRenewHandler()"><i class="fa fa-plug"></i> 续租</button>
                </#resource>
                <#resource code="refundApplyBoothLeaseOrder" checkMenu="true">
                <button id="btn_refund_apply" type="button" class="btn btn-primary" onclick="openRefundApplyHandler(1)"><i class="fa fa-reply"></i> 退款申请</button>
                </#resource>
                <#resource code="invoiceBoothLeaseOrder" checkMenu="true">
                <button id="btn_invoice" type="button" class="btn btn-primary" onclick="openInvoiceHandler()"><i class="fa fa-reply"></i>开票</button>
                </#resource>
<!--
                <button id="export" type="button" class="btn btn-primary" onclick="bui.util.doExport('grid','queryForm')"><i class="fa fa-download"></i> 导出</button>
-->
            </div>
            <table id="grid" data-toggle="table" data-title="租赁单列表" class="table" data-toolbar="#toolbar" data-pagination="true" data-page-number="1" data-page-size="5"
                   data-query-params="queryParams" data-side-pagination="server" data-method="POST" data-content-type="application/x-www-form-urlencoded" data-single-select="true"
                   data-click-to-select="true"  data-checkbox-header="true" data-unique-id="id" data-sort-name="id" data-sort-order="desc"  data-icons="bui.variable.icons" data-buttons-class="primary"
                   data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true" data-detail-view="true"
            >
                <thead>
                <tr>
                    <th data-checkbox="true"></th>
                    <th data-field="code" data-sortable="true" data-align="center" data-width-unit="%" data-formatter="codeFormatter">
                        业务单号
                    </th>
                    <th data-field="departmentName" data-sortable="true" data-align="center">
                        业务所属部门
                    </th>
                    <th data-field="customerName" data-sortable="true" data-sort-name="customer_name" data-align="center">
                        客户名称
                    </th>
                    <th data-field="customerCellphone" data-sortable="true" data-align="center" >
                        联系电话
                    </th>
                    <th data-field="leaseTermName" data-sortable="true" data-sort-name="lease_term_name" data-align="center" >
                        租赁期限
                    </th>
                    <th data-field="startTime" data-sortable="true" data-align="center" data-provider="dateProvider">
                        开始日期
                    </th>
                    <th data-field="endTime" data-sortable="true" data-align="center" data-provider="dateProvider">
                        结束日期
                    </th>
                    <th data-field="state" data-sortable="true" data-align="center" data-sort-name="State" data-provider="leaseOrderStateProvider">
                        业务状态
                    </th>
                    <th data-field="approvalState" data-sortable="true" data-align="center" data-sort-name="approval_state" data-provider="approvalStateProvider">
                        审批状态
                    </th>
                    <th data-field="payState" data-sortable="true" data-align="center" data-sort-name="pay_state" data-provider="payStateProvider">
                        交费状态
                    </th>
                    <th data-field="refundState" data-sortable="true" data-align="center" data-sort-name="refund_state" data-provider="leaseRefundStateProvider">
                        退款状态
                    </th>
                    <th data-field="isInvoice" data-provider="yesOrNoProvider" data-sortable="true" data-align="center" data-sort-name="refund_state" data-provider="leaseRefundStateProvider">
                        是否开票
                    </th>
                    <th data-field="totalAmount" data-sortable="true" data-align="center" data-provider="moneyProvider">
                        合计金额
                    </th>
                    <th data-field="depositDeduction" data-sortable="true" data-align="center"  data-provider="moneyProvider">
                        保证金抵扣
                    </th>
                    <th data-field="earnestDeduction" data-sortable="true" data-align="center"  data-provider="moneyProvider">
                        定金抵扣
                    </th>
                    <th data-field="transferDeduction" data-sortable="true" data-align="center"  data-provider="moneyProvider">
                        转抵扣
                    </th>
                    <th data-field="payAmount" data-sortable="true" data-align="center" data-provider="moneyProvider">
                        实付金额
                    </th>
                    <th data-field="paidAmount" data-sortable="true" data-align="center" data-provider="moneyProvider">
                        已付金额
                    </th>
                    <th data-field="waitAmount" data-sortable="true" data-align="center" data-provider="moneyProvider">
                        待付金额
                    </th>
                    <th data-field="creator" data-sortable="true" data-align="center" >
                        创建人
                    </th>
                    <th data-field="createTime" data-sortable="true" data-align="center" data-provider="datetimeProvider" >
                        创建时间
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

</div>
</#bs4Body>
<#assetsLeaseOrder_indexJs />

<!-- 流程图模板 -->
<script id="progressTpl" type="text/html">
    <img id="processInstanceImg" src="{{processImgSrc}}"/>
</script>

<script id="subTable" type="text/html">
    <div class="px-3 pb-3">
        <div id="toolbar{{index}}" class="btn-group" role="group" aria-label="Toolbar with button groups">
            <#resource code="refundApplyBoothLeaseOrder" checkMenu="true">
            <button id="btn_refund_apply{{index}}" type="button" class="btn btn-primary" onclick="openRefundApplyHandler('{{index}}')"><i
                    class="fa fa-reply"></i> 退款申请
            </button>
            </#resource>
            <#resource code="stopRentBoothLeaseOrder" checkMenu="true">
            <button id="btn_stop_rent{{index}}" type="button" class="btn btn-primary" onclick="openStopRentHandler('{{index}}')"><i
                    class="fa fa-stop"></i> 停租
            </button>
            </#resource>
        </div>
        <table id="subGrid{{index}}" data-id="subGrid{{index}}" data-toggle="table" data-title="客户列表" class="table" data-toolbar="#toolbar{{index}}"
               data-query-params="subQueryParams" data-method="POST"
               data-content-type="application/x-www-form-urlencoded" data-single-select="true"
               data-click-to-select="true" data-checkbox-header="true" data-unique-id="id" data-sort-name="id"
               data-sort-order="desc" data-icons="bui.variable.icons"
               data-show-refresh="true" data-show-fullscreen="true"
               data-buttons-class="primary"
        >
            <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="assetsName" data-sortable="true" data-align="center">
                    资产编号
                </th>
                <th data-field="districtName" data-sortable="true" data-align="center">
                    区域
                </th>
                <th data-field="number" data-sortable="true" data-align="center">
                    数量
                </th>
                <th data-field="unitName" data-sortable="true" data-align="center">
                    单位
                </th>
                {{each businessChargeItems}}
                <th data-field="businessChargeItem.chargeItemYuan{{$value.id}}" data-sortable="true" data-align="center" data-charge-item-id="{{$value.id}}" data-formatter="chargeItemFormatter">
                    {{$value.chargeItem}}
                </th>
                {{/each}}
                <th data-field="state" data-sortable="true" data-align="center" data-provider="leaseOrderStateProvider">
                    状态
                </th>
                <th data-field="refundState" data-sortable="true" data-align="center" data-sort-name="refund_state" data-provider="leaseRefundStateProvider">
                    退款状态
                </th>
            </tr>
            </thead>
        </table>
    </div>
</script>
<!-- 合同编号补充模板 -->
<script id="supplementTpl" type="text/html">
    <form id="supplementForm">
        <div class="row">
            <div class="col-4 col-form-label text-right">
                <label for="contractNo" class="justify-content-end w-100px">合同编号:</label>
            </div>
            <div class="col-6">
                <input type="text" id="contractNo" name="contractNo" class="form-control" maxlength="50" required/>
            </div>
        </div>
    </form>
</script>
<!-- 开票模板 -->
<script id="invoiceTpl" type="text/html">
    <form id="_invoiceForm" method="post" >
        <input name="_totalAmount" id="_totalAmount" value="{{totalAmount}}" type="hidden">
        <div class="form-group row">
            <label class="col-2 col-form-label text-right" for="_type">开票类型<i class="red">*</i></label>
            <div class="col-10">
                <select id="_type" name="_type" class="form-control" required>
                    <option value="1" selected>普票</option>
                </select>
                <#bselect2 _escape="true" _id="_type"  _provider="invoiceTypeProvider" _mode="remote" _optionVariable="invoiceTypeOption" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label text-right" for="_target">开票主体<i class="red">*</i></label>
            <div class="col-10">
                <#bautoCompleteProvider _escape="true" _log="开票主体" _hiddenDomainId="_targetId" _hiddenDomainName="_targetId" _displayDomainId="_target" _displayDomainName="_target" _placeholder="" _validatorMethod="isSelected" _value="{{targetId}}" _text="{{target}}" _required="true" _optionVariable="customerNameAutoCompleteOption"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label text-right" for="_amount">开票金额<i class="red">*</i></label>
            <div class="col-10">
                <input type="text" class="form-control" id="_amount" value="{{amount}}" name="_amount" min="0" max="{{amount}}" placeholder="" required number/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label text-right" for="_invoiceDate">开票日期<i class="red">*</i></label>
            <div class="col-10">
                <div class="input-group">
                    <input type="text" name="_invoiceDate" id="_invoiceDate" value="{{invoiceDate}}" class="form-control" required/>
                    <div class="input-group-append">
                        <label for="_invoiceDate"  class="input-group-text fa fa-calendar"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label text-right" for="_notes">备注</label>
            <div class="col-10">
                <input type="text" class="form-control" id="_notes" value="{{notes}}" name="_notes" maxlength="50" />
            </div>
        </div>
    </form>
</script>
<!-- 提交付款模板 -->
<script id="submitPaymentTpl" type="text/html">
    <form id="submitPaymentForm">
        <div class="row mb-3">
            <div class="col-12"><i class="red">提交后业务单信息不可改，并可进行缴费，确认提交？</i></div>
        </div>
        <div class="row">
            <div class="col-2 col-form-label">
                <label for="amount" class="justify-content-end w-100px">本期付款金额：</label>
            </div>
            <div class="col-8 ml-2">
                <input type="number" id="amount" name="amount" class="form-control floatReserve" value="{{waitAmount}}" min="{{minAmount}}" max="{{waitAmount}}" required/>
            </div>
        </div>
    </form>
</script>
<!-- 停租模板 -->
<script id="stopRentTpl" type="text/html">
    <form id="stopRentForm">
        <input type="hidden" name="id" value="{{id}}"/>
        <input type="hidden" name="leaseOrderCode" value="{{leaseOrderCode}}"/>
        <input type="hidden" name="assetsName" value="{{assetsName}}"/>
        <div class="form-group">
            <label for="stopRentObj">停租对象</label>
            <input type="text" class="form-control" id="stopRentObj" name="stopRentObj" value="{{assetsName}}【{{districtName}}】" readonly/>
        </div>
        <div class="form-group">
            <label>停租日期</label>
            <div id="stopWay">
                <#bradioGroupProvider _escape="true" _containerId="stopWay" _name="stopWay" _provider="stopWayProvider" _value="1" _required="true"/>
            </div>
        </div>
        <div id="stopDateSelect" class="form-group row align-items-center" style="display: none">
            <div class="col-5">
                <input type="text" class="form-control" id="stopTime" name="stopTime" placeholder="请输入停租日期" >
            </div>
            <div class="col-6">
                <span><i class="red">（到期日期:{{endTime}}）</i></span>
            </div>
        </div>
        <div class="form-group">
            <label>停租原因</label>
            <textarea class="form-control" name="stopReason"  rows="3" maxlength="100"></textarea>
        </div>
    </form>
</script>