<#bs4Body>

<div class="container-fluid">
    <form id="submitPaymentForm">
        <input type="hidden" name="id" value="${leaseOrder.id!}">
        <div class="row mb-3">
            <div class="col-12"><i class="red">提交后业务单信息不可改，并可进行缴费，确认提交？</i></div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label for="amount" _log>本期付款金额：<i class="red">*</i></label>
                <input type="number" id="amount" name="amount" class="form-control floatReserve" required/>
            </div>
            <div class="form-group col-6 ${leaseOrder.paidAmount == 0?'': 'd-none'}">
                <label for="deduction" _log>抵扣：</label>
                <input type="number" id="deduction" name="deduction" class="form-control floatReserve" value="<#centToYuan value='${leaseOrder.earnestDeduction + leaseOrder.transferDeduction}'/>" readonly/>
            </div>
        </div>
        <div class="breadcrumb">
            金额分摊明细
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#assetInfo" aria-expanded="true" aria-controls="assetInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div id="assetInfo" class="collapse show">
            <table class="table table-bordered table-hover table-striped" id="assetTable" _logTable="金额分摊明细">
                <thead>
                <tr>
                    <th style="font-weight:normal;" >资产编号<i class="red">*</i></th>
                    <%if(isNotEmpty(chargeItems) && chargeItems.~size>0){
                    for(item in chargeItems){
                    %>
                    <th style="font-weight:normal; ">${item.chargeItem!}<i class="red">*</i></th>
                    <% } }%>
                    <th style="font-weight:normal; ">保证金</th>
                </tr>
                </thead>
                <tbody>
                <%if(isNotEmpty(leaseOrderItems) && leaseOrderItems.~size>0){
                for(item in leaseOrderItems){
                %>
                <tr data-index="${itemLP.index}">
                    <td>
                        <input type="hidden" id="assetsId_${itemLP.index}" name="unitCode_${itemLP.index}" value="${item.assetsId!}">
                        <span>${item.assetsName!} 【${item.districtName!}】</span>
                    </td>
                    <%if(isNotEmpty(chargeItems) && chargeItems.~size>0){
                    for(chargeItem in chargeItems){
                    %>
                    <td style="padding: .25rem!important;"><input _log="${chargeItem.chargeItem!}" isCharge data-charge-item-name="${chargeItem.chargeItem!}" type="number" id="chargeItem_${chargeItem.id!}_${itemLP.index}" name="chargeItem_${chargeItem.id!}_${itemLP.index}" value="${item.businessChargeItem['chargeItemWaitAmountYuan'+chargeItem.id]!}" data-charge-item-id="${chargeItem.id!}" oninput="" class="form-control money floatReserve" min="0.00" max="9999999.99" step="0.01" required></td>
                    <% } }%>
                    <td style="padding: .25rem!important;">
                        <input _log="保证金" type="number" id="depositAmount_${itemLP.index}" name="depositAmount_${itemLP.index}" class="form-control money floatReserve" step="0.01" required>
                    </td>
                </tr>

                <% } }%>
                </tbody>
            </table>

        </div>
    </form>
</div>

</#bs4Body>
<#leaseOrder_refundApplyJs />