<#bs4Body>

<div class="container-fluid pb-5">
    <form id="saveForm" class="pb-5">
        <input type="hidden" id="leaseOrderId" name="leaseOrderId" value="${leaseOrder.id!}">
        <input type="hidden" class="money" id="leasePayAmount" name="leasePayAmount">
        <div class="row mb-3">
            <div class="col-12"><i class="red">提交后到结算中心进行缴费，确认提交？</i></div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="payAmount" _log>本次付款金额<i class="red">*</i></label>
                <input type="number" id="payAmount" name="payAmount" class="form-control money floatReserve" min="0.01" oninput="calcWaitApportionAmount()" required/>
            </div>
            <div class="form-group col">
                <label for="payAmount" _log>待分配金额</label>
                <input type="number" id="waitApportionAmount" name="waitApportionAmount" class="form-control money floatReserve" value="0" readonly/>
            </div>
        </div>
        <div class="breadcrumb">
            金额分摊明细
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#apportionInfo" aria-expanded="true" aria-controls="apportionInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div id="apportionInfo" class="collapse show">
            <table class="table table-bordered table-hover table-striped" id="apportionTable" _logTable="金额分摊明细">
                <thead>
                <tr>
                    <th style="font-weight:normal;" >${@com.dili.ia.glossary.AssetsTypeEnum.getAssetsTypeEnum(leaseOrder.assetsType).getName()}编号</th>
                    <%if(isNotEmpty(chargeItems) && chargeItems.~size>0){
                    for(item in chargeItems){
                    %>
                    <th style="font-weight:normal; ">${item.chargeItem!}<i class="red">*</i></th>
                    <% } }%>
                    <th style="font-weight:normal; ">保证金<i class="red">*</i></th>
                </tr>
                </thead>
                <tbody>
                <%if(isNotEmpty(leaseOrderItems) && leaseOrderItems.~size>0){
                for(item in leaseOrderItems){
                %>
                <tr data-index="${itemLP.index}">
                    <td>
                        <input type="hidden" id="leaseItemId_${itemLP.index}" name="leaseItemId_${itemLP.index}" value="${item.id!}">
                        <input type="hidden" class="assets" id="assetsId_${itemLP.index}" name="assetsId_${itemLP.index}" value="${item.assetsId!}">
                        <span>${item.assetsName!} 【${isNotEmpty(item.secondDistrictName) ? item.firstDistrictName + '->' + item.secondDistrictName : item.firstDistrictName}】</span>
                    </td>
                    <%if(isNotEmpty(chargeItems) && chargeItems.~size>0){
                    for(chargeItem in chargeItems){
                    %>
                    <td style="padding: .25rem!important;">
                        <input type="hidden" id="businessChargeItemId_${chargeItem.id!}_${itemLP.index}" name="businessChargeItemId_${chargeItem.id!}_${itemLP.index}" value="${item.businessChargeItem['businessChargeItemId'+chargeItem.id]!}">
                        <input oninput="apportionedLinkageCalc()" _log="${chargeItem.chargeItem!}" isCharge data-charge-item-id="${chargeItem.id!}" data-charge-item-name="${chargeItem.chargeItem!}" data-index="${itemLP.index}" type="number" id="chargeItem_${chargeItem.id!}_${itemLP.index}" name="chargeItem_${chargeItem.id!}_${itemLP.index}" value="${item.businessChargeItem['chargeItemWaitAmountYuan'+chargeItem.id]!}" class="form-control money floatReserve" min="0" max="${item.businessChargeItem['chargeItemWaitAmountYuan'+chargeItem.id]!}" step="0.01" required>
                    </td>
                    <% } }%>
                    <td style="padding: .25rem!important;">
                        <input oninput="apportionedLinkageCalc()" _log="保证金" type="number" isDeposit id="depositAmount_${itemLP.index}" name="depositAmount_${itemLP.index}" value="0" class="form-control money floatReserve" min="0" step="0.01" readonly required>
                    </td>
                </tr>
                <% } }%>
                </tbody>
            </table>
        </div>
        <div class="modal-footer-wrap">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-5" id="cancel" onclick="javascript:parent.dia.hide()">取消</button>
                <button id="save" type="button" class="btn btn-primary px-5">保存</button>
            </div>
        </div>
    </form>
</div>
</#bs4Body>
<#assetsLeaseOrder_submitPaymentJs />