<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.ia.mapper.AssetsRentalMapper">
  <resultMap id="BaseResultMap" type="com.dili.ia.domain.AssetsRental">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="engage_code" jdbcType="VARCHAR" property="engageCode" />
    <result column="engage_name" jdbcType="VARCHAR" property="engageName" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="lease_term_code" jdbcType="VARCHAR" property="leaseTermCode" />
    <result column="lease_term_name" jdbcType="VARCHAR" property="leaseTermName" />
    <result column="lease_days" jdbcType="INTEGER" property="leaseDays" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="state" jdbcType="TINYINT" property="state" />
      <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
      <result column="creator" jdbcType="VARCHAR" property="creator" />
      <result column="market_id" jdbcType="BIGINT" property="marketId" />
      <result column="market_code" jdbcType="VARCHAR" property="marketCode" />
    <result column="version" jdbcType="TINYINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, create_time, modify_time, name, engage_code, engage_name, category_id, category_name, 
    lease_term_code, lease_term_name, lease_days, start_time, end_time, state, creator_id,
      creator, market_id, market_code, version
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from assets_rental
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.ia.domain.AssetsRental">
    <!--
      WARNING - @mbg.generated
    -->
    update assets_rental
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="engageCode != null">
        engage_code = #{engageCode,jdbcType=VARCHAR},
      </if>
      <if test="engageName != null">
        engage_name = #{engageName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="leaseTermCode != null">
        lease_term_code = #{leaseTermCode,jdbcType=VARCHAR},
      </if>
      <if test="leaseTermName != null">
        lease_term_name = #{leaseTermName,jdbcType=VARCHAR},
      </if>
      <if test="leaseDays != null">
        lease_days = #{leaseDays,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>