<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.ia.mapper.CategoryStorageCycleMapper">
  
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, code, module_label moduleLabel, cycle, notes, state, market_id marketId, market_code marketCode
  </sql>
 
 	<insert id="insertOrUpdate" parameterType="map">
 		INSERT INTO `category_storage_cycle` ( `id`, `code`, `module_label`, `cycle`, `notes`, `state`, `market_id`, `market_code` )
		VALUES
		<foreach collection="categoryStorageCycles" item="it"  separator=",">
			(#{it.id},
			#{it.code},
			#{it.moduleLabel},
			#{it.cycle},
			#{it.notes},
			#{it.state},
			#{it.marketId},
			#{it.marketCode})
		</foreach>
		ON DUPLICATE KEY UPDATE
		<if test= "cycle !=null">
		cycle = #{cycle},
		</if> 
		<if test="notes!=null">
		notes = #{notes},
		</if> 
		<if test="moduleLabel!=null">
		module_label = #{moduleLabel},
		</if> 
		state = #{state};
 	</insert>
 	


 	<select id="selectCycleByIds" resultType="com.dili.ia.domain.CategoryStorageCycle" parameterType="map">
 		select 
    	<include refid="Base_Column_List" />
 		 from `category_storage_cycle`
 		 <where>
	 		 <if test = "state!=null">
	 		 and state = ${state} 
	 		 </if>
 		 <if test="ids != null and ids.size>0">
	 		 and id in 
	 		<foreach collection="ids" item="id" open="(" close=")" separator=",">
				#{id}
			</foreach>
		</if>
 		</where>
 		
 	</select>
 	
</mapper>