<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.ia.mapper.DepositBalanceMapper">
  <resultMap id="BaseResultMap" type="com.dili.ia.domain.DepositBalance">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="certificate_number" jdbcType="VARCHAR" property="certificateNumber" />
    <result column="customer_cellphone" jdbcType="VARCHAR" property="customerCellphone" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="assets_type" jdbcType="VARCHAR" property="assetsType" />
    <result column="assets_id" jdbcType="BIGINT" property="assetsId" />
    <result column="assets_name" jdbcType="VARCHAR" property="assetsName" />
    <result column="balance" jdbcType="BIGINT" property="balance" />
    <result column="market_id" jdbcType="BIGINT" property="marketId" />
    <result column="market_code" jdbcType="VARCHAR" property="marketCode" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, create_time, modify_time, customer_id, customer_name, certificate_number, customer_cellphone, 
    type_code, type_name, assets_type, assets_id, assets_name, balance, market_id, market_code, 
    version
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from deposit_balance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.ia.domain.DepositBalance">
    <!--
      WARNING - @mbg.generated
    -->
    update deposit_balance
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="certificateNumber != null">
        certificate_number = #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="customerCellphone != null">
        customer_cellphone = #{customerCellphone,jdbcType=VARCHAR},
      </if>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="assetsType != null">
        assets_type = #{assetsType,jdbcType=VARCHAR},
      </if>
      <if test="assetsId != null">
        assets_id = #{assetsId,jdbcType=BIGINT},
      </if>
      <if test="assetsName != null">
        assets_name = #{assetsName,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=BIGINT},
      </if>
      <if test="marketId != null">
        market_id = #{marketId,jdbcType=BIGINT},
      </if>
      <if test="marketCode != null">
        market_code = #{marketCode,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="sumBalance" parameterType="DepositBalanceQuery" resultType="long">
    SELECT SUM(balance) AS balance
    FROM deposit_balance
    WHERE 1 = 1
    <if test="likeCustomerName != null and likeCustomerName != ''">
      AND customer_name LIKE concat('%', #{likeCustomerName}, '%')
    </if>
    <if test="customerCellphone != null and customerCellphone != ''">
      AND customer_cellphone=#{customerCellphone}
    </if>
    <if test="certificateNumber != null and certificateNumber != ''">
      AND certificate_number=#{certificateNumber}
    </if>
    <if test="typeCode != null and typeCode != ''">
      AND type_code=#{typeCode}
    </if>
    <if test="assetsName != null and assetsName != ''">
      AND assets_name=#{assetsName}
    </if>
    <if test="marketId != null">
      AND market_id=#{marketId}
    </if>
  </select>


  <select id="listDepositBalanceExact" parameterType="com.dili.ia.domain.DepositBalance" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from deposit_balance
    WHERE 1 = 1
    <choose>
      <when test="customerId != null">
        AND customer_id = #{customerId,jdbcType=BIGINT}
      </when>
      <otherwise>
        AND customer_id is null
      </otherwise>
    </choose>
    <choose>
      <when test="typeCode != null and typeCode != ''">
        AND type_code = #{typeCode,jdbcType=VARCHAR}
      </when>
      <otherwise>
        AND type_code is null
      </otherwise>
    </choose>
    <choose>
      <when test="assetsType != null and assetsType != ''">
        AND assets_type = #{assetsType,jdbcType=VARCHAR}
      </when>
      <otherwise>
        AND assets_type is null
      </otherwise>
    </choose>
    <choose>
      <when test="assetsId != null">
        AND assets_id = #{assetsId,jdbcType=BIGINT}
      </when>
      <otherwise>
        AND assets_id is null
      </otherwise>
    </choose>
    <choose>
      <when test="assetsName != null and assetsName != ''">
        AND assets_name = #{assetsName,jdbcType=VARCHAR}
      </when>
      <otherwise>
        AND assets_name is null
      </otherwise>
    </choose>
    <choose>
      <when test="marketId != null">
        AND market_id = #{marketId,jdbcType=BIGINT}
      </when>
      <otherwise>
        AND market_id is null
      </otherwise>
    </choose>
  </select>

</mapper>