<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.ia.mapper.EarnestTransferOrderMapper">
  <resultMap id="BaseResultMap" type="com.dili.ia.domain.EarnestTransferOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="payer_id" jdbcType="BIGINT" property="payerId" />
    <result column="payer_certificate_number" jdbcType="VARCHAR" property="payerCertificateNumber" />
    <result column="payer_name" jdbcType="VARCHAR" property="payerName" />
    <result column="payer_cellphone" jdbcType="VARCHAR" property="payerCellphone" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="transfer_reason" jdbcType="VARCHAR" property="transferReason" />
    <result column="payee_id" jdbcType="BIGINT" property="payeeId" />
    <result column="payee_name" jdbcType="VARCHAR" property="payeeName" />
    <result column="payee_certificate_number" jdbcType="VARCHAR" property="payeeCertificateNumber" />
    <result column="payee_cellphone" jdbcType="VARCHAR" property="payeeCellphone" />
    <result column="payer_transaction_details_code" jdbcType="VARCHAR" property="payerTransactionDetailsCode" />
    <result column="payee_transaction_code" jdbcType="VARCHAR" property="payeeTransactionCode" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, create_time, modify_time, state, amount, payer_id, payer_certificate_number, 
    payer_name, payer_cellphone, creator_id, creator, transfer_reason, payee_id, payee_name, 
    payee_certificate_number, payee_cellphone, payer_transaction_details_code, payee_transaction_code
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from earnest_transfer_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.ia.domain.EarnestTransferOrder">
    <!--
      WARNING - @mbg.generated
    -->
    update earnest_transfer_order
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="payerId != null">
        payer_id = #{payerId,jdbcType=BIGINT},
      </if>
      <if test="payerCertificateNumber != null">
        payer_certificate_number = #{payerCertificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="payerName != null">
        payer_name = #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="payerCellphone != null">
        payer_cellphone = #{payerCellphone,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="transferReason != null">
        transfer_reason = #{transferReason,jdbcType=VARCHAR},
      </if>
      <if test="payeeId != null">
        payee_id = #{payeeId,jdbcType=BIGINT},
      </if>
      <if test="payeeName != null">
        payee_name = #{payeeName,jdbcType=VARCHAR},
      </if>
      <if test="payeeCertificateNumber != null">
        payee_certificate_number = #{payeeCertificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="payeeCellphone != null">
        payee_cellphone = #{payeeCellphone,jdbcType=VARCHAR},
      </if>
      <if test="payerTransactionDetailsCode != null">
        payer_transaction_details_code = #{payerTransactionDetailsCode,jdbcType=VARCHAR},
      </if>
      <if test="payeeTransactionCode != null">
        payee_transaction_code = #{payeeTransactionCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>