<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.ia.mapper.EarnestOrderMapper">
  <resultMap id="BaseResultMap" type="com.dili.ia.domain.EarnestOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="customer_cellphone" jdbcType="VARCHAR" property="customerCellphone" />
    <result column="customer_certificate_number" jdbcType="VARCHAR" property="customerCertificateNumber" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="assets_type" jdbcType="INTEGER" property="assetsType" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="submitter_id" jdbcType="BIGINT" property="submitterId" />
    <result column="submitter" jdbcType="VARCHAR" property="submitter" />
    <result column="sub_date" jdbcType="TIMESTAMP" property="subDate" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="withdraw_operator_id" jdbcType="BIGINT" property="withdrawOperatorId" />
    <result column="withdraw_operator" jdbcType="VARCHAR" property="withdrawOperator" />
    <result column="canceler_id" jdbcType="BIGINT" property="cancelerId" />
    <result column="market_id" jdbcType="BIGINT" property="marketId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.dili.ia.domain.EarnestOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="canceler" jdbcType="VARBINARY" property="canceler" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, create_time, modify_time, customer_id, customer_name, customer_cellphone, customer_certificate_number, 
    start_time, end_time, department_id, department_name, state, assets_type, amount, 
    code, creator_id, creator, submitter_id, submitter, sub_date, notes, withdraw_operator_id, 
    withdraw_operator, canceler_id, market_id
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    canceler
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from earnest_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.ia.domain.EarnestOrder">
    <!--
      WARNING - @mbg.generated
    -->
    update earnest_order
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerCellphone != null">
        customer_cellphone = #{customerCellphone,jdbcType=VARCHAR},
      </if>
      <if test="customerCertificateNumber != null">
        customer_certificate_number = #{customerCertificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="departmentName != null">
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="assetsType != null">
        assets_type = #{assetsType,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="submitterId != null">
        submitter_id = #{submitterId,jdbcType=BIGINT},
      </if>
      <if test="submitter != null">
        submitter = #{submitter,jdbcType=VARCHAR},
      </if>
      <if test="subDate != null">
        sub_date = #{subDate,jdbcType=TIMESTAMP},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="withdrawOperatorId != null">
        withdraw_operator_id = #{withdrawOperatorId,jdbcType=BIGINT},
      </if>
      <if test="withdrawOperator != null">
        withdraw_operator = #{withdrawOperator,jdbcType=VARCHAR},
      </if>
      <if test="cancelerId != null">
        canceler_id = #{cancelerId,jdbcType=BIGINT},
      </if>
      <if test="marketId != null">
        market_id = #{marketId,jdbcType=BIGINT},
      </if>
      <if test="canceler != null">
        canceler = #{canceler,jdbcType=VARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>