<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.ia.mapper.RefundBillMapper">
  <resultMap id="BaseResultMap" type="com.dili.ia.domain.RefundBill">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="biz_type" jdbcType="BIT" property="bizType" />
    <result column="order_item_id" jdbcType="BIGINT" property="orderItemId" />
    <result column="order_item_code" jdbcType="VARCHAR" property="orderItemCode" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="certificate_number" jdbcType="VARCHAR" property="certificateNumber" />
    <result column="customer_cellphone" jdbcType="VARCHAR" property="customerCellphone" />
    <result column="refund_operator_id" jdbcType="BIGINT" property="refundOperatorId" />
    <result column="refund_operator_name" jdbcType="VARCHAR" property="refundOperatorName" />
    <result column="state" jdbcType="BIGINT" property="state" />
    <result column="total_refund_amount" jdbcType="BIGINT" property="totalRefundAmount" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="settlement_code" jdbcType="VARCHAR" property="settlementCode" />
    <result column="refund_type" jdbcType="BIT" property="refundType" />
    <result column="bank" jdbcType="VARCHAR" property="bank" />
    <result column="bank_card_no" jdbcType="VARCHAR" property="bankCardNo" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="submitter_id" jdbcType="BIGINT" property="submitterId" />
    <result column="submitter" jdbcType="VARCHAR" property="submitter" />
    <result column="payee_id" jdbcType="BIGINT" property="payeeId" />
    <result column="payee" jdbcType="VARCHAR" property="payee" />
    <result column="canceler_id" jdbcType="BIGINT" property="cancelerId" />
    <result column="canceler" jdbcType="VARCHAR" property="canceler" />
    <result column="refund_reason" jdbcType="VARCHAR" property="refundReason" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="license_state" jdbcType="BIT" property="licenseState" />
    <result column="market_id" jdbcType="BIGINT" property="marketId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, code, create_time, modify_time, biz_type, order_item_id, order_item_code, order_id, 
    order_code, customer_id, customer_name, certificate_number, customer_cellphone, refund_operator_id, 
    refund_operator_name, state, total_refund_amount, submit_time, settlement_code, refund_type, 
    bank, bank_card_no, creator_id, creator, submitter_id, submitter, payee_id, payee, 
    canceler_id, canceler, refund_reason, is_delete, license_state, market_id
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from refund_bill
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.ia.domain.RefundBill">
    <!--
      WARNING - @mbg.generated
    -->
    update refund_bill
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bizType != null">
        biz_type = #{bizType,jdbcType=BIT},
      </if>
      <if test="orderItemId != null">
        order_item_id = #{orderItemId,jdbcType=BIGINT},
      </if>
      <if test="orderItemCode != null">
        order_item_code = #{orderItemCode,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="certificateNumber != null">
        certificate_number = #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="customerCellphone != null">
        customer_cellphone = #{customerCellphone,jdbcType=VARCHAR},
      </if>
      <if test="refundOperatorId != null">
        refund_operator_id = #{refundOperatorId,jdbcType=BIGINT},
      </if>
      <if test="refundOperatorName != null">
        refund_operator_name = #{refundOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=BIGINT},
      </if>
      <if test="totalRefundAmount != null">
        total_refund_amount = #{totalRefundAmount,jdbcType=BIGINT},
      </if>
      <if test="submitTime != null">
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settlementCode != null">
        settlement_code = #{settlementCode,jdbcType=VARCHAR},
      </if>
      <if test="refundType != null">
        refund_type = #{refundType,jdbcType=BIT},
      </if>
      <if test="bank != null">
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="bankCardNo != null">
        bank_card_no = #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="submitterId != null">
        submitter_id = #{submitterId,jdbcType=BIGINT},
      </if>
      <if test="submitter != null">
        submitter = #{submitter,jdbcType=VARCHAR},
      </if>
      <if test="payeeId != null">
        payee_id = #{payeeId,jdbcType=BIGINT},
      </if>
      <if test="payee != null">
        payee = #{payee,jdbcType=VARCHAR},
      </if>
      <if test="cancelerId != null">
        canceler_id = #{cancelerId,jdbcType=BIGINT},
      </if>
      <if test="canceler != null">
        canceler = #{canceler,jdbcType=VARCHAR},
      </if>
      <if test="refundReason != null">
        refund_reason = #{refundReason,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="licenseState != null">
        license_state = #{licenseState,jdbcType=BIT},
      </if>
      <if test="marketId != null">
        market_id = #{marketId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>