<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.ia.mapper.RefundFeeItemMapper">
  <resultMap id="BaseResultMap" type="com.dili.ia.domain.RefundFeeItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="refund_order_id" jdbcType="BIGINT" property="refundOrderId" />
    <result column="refund_order_code" jdbcType="VARCHAR" property="refundOrderCode" />
    <result column="charge_id" jdbcType="BIGINT" property="chargeId" />
    <result column="charge_name" jdbcType="VARCHAR" property="chargeName" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, refund_order_id, refund_order_code, charge_id, charge_name, amount, create_time, 
    modify_time
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from refund_fee_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.ia.domain.RefundFeeItem">
    <!--
      WARNING - @mbg.generated
    -->
    update refund_fee_item
    <set>
      <if test="refundOrderId != null">
        refund_order_id = #{refundOrderId,jdbcType=BIGINT},
      </if>
      <if test="refundOrderCode != null">
        refund_order_code = #{refundOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="chargeId != null">
        charge_id = #{chargeId,jdbcType=BIGINT},
      </if>
      <if test="chargeName != null">
        charge_name = #{chargeName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>