<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.ia.mapper.StockInDetailMapper">

 	<!-- 详情列表查询 -->
  <sql id="Base_Column_List">
    sid.id, sid.create_time createTime, sid.modify_time modifyTime, sid.stock_in_code stockInCode, sid.code, sid.unit_weight, sid.check_operator_id, 
    check_operator, pickup_number, weightman_id, assets_id, assets_code, sid.notes, second_district_id districtId,first_district_id parentDistrictId,
    second_district_name districtName, receivable, cope, sid.category_id, sid.category_name categoryName, sid.quantity, sid.weight, sid.amount,
    sid.market_id, sid.market_code, car_plate, car_type_public_code
  </sql>
  <select id="selectByContion" parameterType="com.dili.ia.domain.dto.StockInDetailQueryDto" resultType="map">
    select 
    <include refid="Base_Column_List" />,type,customer_id,customer_name customerName,customer_cellphone customerCellphone,department_id,department_name departmentName,
    expire_date expireDate,si.state state
    from stock_in_detail as sid join stock_in as si on sid.stock_in_code = si.code
    <where>
            <if test="districtId != null">
                and sid.second_district_id = #{districtId}
            </if>
            <if test="parentDistrictId != null">
                and sid.first_district_id = #{parentDistrictId}
            </if>
            <if test="assetsId != null">
                and sid.assets_id = #{assetsId}
            </if>
            <if test="categoryId != null">
                and sid.category_id = #{categoryId}
            </if>
            <if test="customerName != null">
                and si.customer_name like concat('%',#{customerName},'%') 
            </if>
            <if test="customerCellphone != null">
                and si.customer_cellphone = #{customerCellphone}
            </if>
            <if test="stockInCode != null">
                and sid.stock_in_code = #{stockInCode}
            </if>
            <if test="stockInDetailCode != null">
                and sid.code = #{stockInDetailCode}
            </if>
            <if test="type != null">
                and si.type = #{type}
            </if>
            <if test="expireDate != null">
                and si.expire_date = #{expireDate}
            </if>
            <if test="state != null">
                and si.state = #{state}
            </if>
            <if test="isStockInDetails">
            	and si.state in (4,5,6)
            </if>
            <if test="marketId != null">
                and si.market_id = #{marketId}
            </if>
            <if test="departmentId != null">
                and si.department_id = #{departmentId}
            </if>
            <if test="startDate != null">
                and si.stock_in_date >= #{startDate}
            </if>
            <if test="endDate != null">
                and si.stock_in_date &lt; #{endDate}
            </if>
    </where>
    order by ${sort} ${order}
  </select>
 
  
</mapper>