<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.ia.mapper.StockMapper">

	<sql id="Base_Column_List">
		<!-- WARNING - @mbg.generated -->
		s.id as id, s.district_id districtId, s.district_name districtName,
		s.assets_id assetsId, s.assets_name assetsName, s.category_id
		categoryId, s.category_name categoryName,
		s.customer_id customerId, s.customer_name customerName,
		s.customer_cellphone customerCellphone,
		s.market_id marketId, s.market_code marketCode,
		s.department_name departmentName,
	</sql>
	
	<!-- 统计客户库存信息 -->
	
	<select id="countCustomerStock" parameterType="com.dili.ia.domain.dto.StockQueryDto"
		resultType="com.dili.ia.domain.dto.StockDto">
		SELECT *,(t.inQuantity-t.outQuantity-t.cancelQuantity) quantity FROM (
		SELECT
		<include refid="Base_Column_List" />
		sum( IF ( sr.type = 1, sr.quantity, 0 ) ) AS inQuantity,
		sum( IF ( sr.type = 1, sr.weight, 0 ) ) AS inWeight,
		sum( IF ( sr.type = 2, sr.quantity, 0 ) ) AS outQuantity,
		sum( IF ( sr.type = 2, sr.weight, 0 ) ) AS outWeight,
		sum( IF ( sr.type = 3, sr.quantity, 0 ) ) AS cancelQuantity,
		sum( IF ( sr.type = 3, sr.weight, 0 ) ) AS cancelWeight,
		sr.create_time stockInDay
		from stock as s
		left join stock_record as sr on sr.stock_id = s.id
		<where>
			<if test="districtId != null">
				and s.district_id = #{districtId}
			</if>
			<if test="assetsId != null">
				and s.assets_id = #{assetsId}
			</if>
			<if test="categoryId != null">
				and s.category_id = #{categoryId}
			</if>
			<if test="customerName != null">
				and s.customer_name = #{customerName}
			</if>
			<if test="customerCellphone != null">
				and s.customer_cellphone = #{customerCellphone}
			</if>
			<if test="startTime != null">
				and sr.create_time >= #{startTime}
			</if>
			<if test="endTime != null">
				and sr.create_time &lt; #{endTime}
			</if>
		</where>
		group by s.assets_id,s.category_id,s.customer_id,sr.create_time
		) as t  order by t.${sort} ${order}
	</select>

</mapper>