<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.ia.mapper.StockWeighmanRecordMapper">

  <!--
      判断是否司磅
    -->
  <select id="getNeedWeigh" parameterType="list" resultType="string">
    select 
    sid.code as code
    from stock_weighman_record as swr left join stock_in_detail as sid on swr.id = sid.weightman_id
    where swr.id in 
    <foreach collection="list" item="id" open="(" close=")" separator=",">
    	#{id}
    </foreach>
    and (gross_weight is null or tare_weight is null);
  </select>
  
 
</mapper>