<#bs4Body>
    <div class="container-fluid">
        <form id="saveForm" method="post" action="" class="pb-5">
            <input type="hidden" id="">
            <input type="hidden" id="metertype" value="1">
            <div class="row row-cols-4" >
                <div class="form-group col">
                    <label for="usageTime">月份<i class="red">*</i></label>
                    <input type="text" class="form-control laymonth" id="usageTime" name="usageTime" required />
                </div>

                <div class="form-group col">
                    <label for="number">表编号<i class="red">*</i></label>
                    <#bautoCompleteProvider _hiddenDomainId="assetsId" _hiddenDomainName="assetsId" _displayDomainId="number" _displayDomainName="number" _placeholder="" _validatorMethod="isSelected" _optionVariable="numberAutoCompleteOption" _required="true"/>
                </div>
                <div class="form-group col">
                    <label for="assetsType">类别<i class="red">*</i></label>
                    <input type="text" class="form-control" id="assetsType" name="assetsType" disabled />
                    <!--  <select id="assetsType"  name="assetsType" class="form-control" required></select>
                        <#bcomboProvider _id="assetsType" _provider="assetsTypeProvider"/>-->
                </div>
                <div class="form-group col">
                    <label for="assetsName">表地址</label>
                    <input type="text" class="form-control" id="assetsName" name="assetsName" disabled />
                </div>
                <div class="form-group col">
                    <label for="departmentId">业务所属部门<i class="red">*</i></label>
                    <select id="departmentId"  name="departmentId" class="form-control" required></select>
                    <#bcomboProvider _id="departmentId" _provider="authDepartmentProvider"/>
                </div>
                <div class="form-group col">
                    <label for="customerCellphone">手机号码</label>
                    <input type="text" class="form-control isMobile" id="customerCellphone" name="customerCellphone" required />
                </div>
                <div class="form-group col">
                    <label for="customerName">客户名称</label>
                    <input type="text" class="form-control" id="customerName" name="customerName" disabled />
                </div>
                <div class="form-group col">
                    <label for="lastAmount">上期指数</label>
                    <input type="text" class="form-control" id="lastAmount" name="lastAmount" disabled />
                </div>
                <div class="form-group col">
                    <label for="thisAmount">本期指数<i class="red">*</i></label>
                    <input type="text" class="form-control" id="thisAmount" name="thisAmount" required />
                </div>
                <div class="form-group col">
                    <label for="usageAmount">实用量</label>
                    <input type="text" class="form-control" id="usageAmount" name="usageAmount" disabled />
                </div>
                <div class="form-group col">
                    <label for="price">单价<i class="red">*</i></label>
                    <input type="text" class="form-control" id="price" name="price" disabled />
                </div>
                <div class="form-group col">
                    <label for="receivable">费用/元</label>
                    <input type="text" class="form-control" id="receivable" name="receivable" disabled />
                </div>
                <div class="form-group col">
                    <label for="sharedAmount">公摊费/元</label>
                    <input type="text" class="form-control" id="sharedAmount" name="sharedAmount"  />
                </div>
                <div class="form-group col">
                    <label for="cope">实收金额</label>
                    <input type="text" class="form-control" id="cope" name="cope" disabled />
                </div>
                <div class="form-group col">
                    <label for="recordTime">抄表日期</label>
                    <input type="text" class="form-control" id="recordTime" name="recordTime" />
                </div>
                <div class="form-group col">
                    <label for="recorderName">抄表员</label>
                    <input type="text" class="form-control" id="recorderName" name="recorderName" />
                </div>
                <div class="form-group col-12">
                    <label for="notes">备注</label>
                    <textarea id="notes" class="form-control" name="notes" rows="2" maxlength="100"></textarea>
                </div>
            </div>
        </form>
    </div>

</#bs4Body>

<#js_customerAutocompleteJs/>

<#meterDetail_preSaveJs />
