<#bs4Body>
    <div class="container-fluid">
        <form id="saveForm" method="post" action="" class="pb-5">
            <div class="row row-cols-2" >
                <div class="form-group col">
                    <label for="">单号<i class="red">*</i></label>
                    <input type="text" class="form-control" id="" name="" disabled />
                </div>
                <div class="form-group col">
                    <label for="">操作员<i class="red">*</i></label>
                    <input type="text" class="form-control" id="" name="" disabled />
                </div>
                <div class="form-group col">
                    <label for="">月份<i class="red">*</i></label>
                    <input type="text" class="form-control laymonth" id="" name="" disabled />
                </div>
                <div class="form-group col">
                    <label for="">表编号<i class="red">*</i></label>
                    <input type="text" class="form-control" id="" name="" required />
                </div>
                <div class="form-group col">
                    <label for="">类别<i class="red">*</i></label>
                    <input type="text" class="form-control" id="" name="" disabled />
                </div>
                <div class="form-group col">
                    <label for="">表地址</label>
                    <input type="text" class="form-control" id="" name="" disabled />
                </div>
                <div class="form-group col">
                    <label for="">部门</label>
                    <input type="text" class="form-control" id="" name="" disabled />
                </div>
                <div class="form-group col">
                    <label for="">手机号码</label>
                    <input type="text" class="form-control" id="" name="" required />
                </div>
                <div class="form-group col">
                    <label for="">客户名称</label>
                    <input type="text" class="form-control" id="" name="" disabled />
                </div>
                <div class="form-group col">
                    <label for="">上期指数</label>
                    <input type="text" class="form-control" id="" name="" disabled />
                </div>
                <div class="form-group col">
                    <label for="">本期指数<i class="red">*</i></label>
                    <input type="text" class="form-control" id="" name="" required />
                </div>
                <div class="form-group col">
                    <label for="">实用量</label>
                    <input type="text" class="form-control" id="" name="" disabled />
                </div>
                <div class="form-group col">
                    <label for="">单价<i class="red">*</i></label>
                    <input type="text" class="form-control" id="" name="" disabled />
                </div>
                <div class="form-group col">
                    <label for="">费用/元</label>
                    <input type="text" class="form-control" id="" name="" disabled />
                </div>
                <div class="form-group col">
                    <label for="">公摊费/元</label>
                    <input type="text" class="form-control" id="" name=""  />
                </div>
                <div class="form-group col">
                    <label for="">实收金额</label>
                    <input type="text" class="form-control" id="" name="" disabled />
                </div>
                <div class="form-group col">
                    <label for="">抄表日期</label>
                    <input type="text" class="form-control" id="" name="" />
                </div>
                <div class="form-group col">
                    <label for="">抄表员</label>
                    <input type="text" class="form-control" id="" name="" />
                </div>
                <div class="form-group col-12">
                    <label for="notes">备注</label>
                    <textarea id="notes" class="form-control" name="" rows="2" maxlength="100"></textarea>
                </div>
            </div>
        </form>
    </div>

</#bs4Body>
<#meterDetail_preSaveJs />
