<#bs4Body>

<div class="container-fluid">
    <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.passport'/>">
    <form id="saveForm" role="form" novalidate>
        <input type="hidden" name="id" value="${passport.id!}">
        <input type="hidden" name="version" value="${passport.version!}">


        <div class="breadcrumb" >
            客户信息 <a href="javascript:;" class="ml-2" id="getCustomer">刷身份证</a>
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#customerInfo" aria-expanded="true"
               aria-controls="customerInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div class="row row-cols-4 collapse show" id="customerInfo">
            <div class="form-group col">
                <label for="customerName">客户名称<i class="red">*</i></label>
                <#bautoCompleteProvider _hiddenDomainId="customerId" _hiddenDomainName="customerId" _displayDomainId="customerName" _displayDomainName="customerName" _placeholder="" _validatorMethod="isSelected" _optionVariable="customerNameAutoCompleteOption" _value="${passport.customerId!}" _text="${passport.customerName!}" _required="true"/>
            </div>
            <div class="form-group col">
                <label for="certificateNumber">证件号码<i class="red">*</i></label>
                <input type="text" class="form-control" id="certificateNumber" name="certificateNumber"  value="${passport.certificateNumber}" required />
            </div>
            <div class="form-group col">
                <label for="">联系电话<i class="red">*</i></label>
                <input type="text" class="form-control isMobile" id="customerCellphone" name="customerCellphone"  value="${passport.customerCellphone}" required />
            </div>
            <div class="form-group col">
                <label for="gender">性别</label>
                <select id="gender"  name="gender" class="form-control" disabled></select>
                <#bcomboProvider _id="gender" _provider="customerSexProvider" _value="${passport.gender!}"/>
            </div>
        </div>

        <div class="breadcrumb">
            业务信息
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#otherInfo" aria-expanded="true" aria-controls="otherInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div class="row row-cols-4 collapse show" id="otherInfo">
            <div class="form-group col">
                <label for="departmentId">业务所属部门<i class="red">*</i></label>
                <select id="departmentId"  name="departmentId" class="form-control" required></select>
                <#bcomboProvider _id="departmentId" _provider="authDepartmentProvider" _value="${passport.departmentId!}"/>
            </div>
            <div class="form-group col">
                <label for="licenseCode">证件类型<i class="red">*</i></label>
                <select id="licenseCode"  name="licenseCode" class="form-control" required>
                    <option value="">--请选择--</option>
                </select>
                <#bcomboProvider _id="licenseCode" _value="${passport.licenseCode!}"
                _provider="dataDictionaryValueProvider"
                _queryParams='{dd_code:"passport_license_code", required:true}' />
            </div>

            <div class="form-group col">
                <label for="carType">运营车型<i class="red">*</i></label>
                <select id="carType"  name="carType" class="form-control" required></select>
                <#bcomboProvider _id="carType" _value="${passport.carType!}"
                _provider="dataDictionaryValueProvider"
                _queryParams='{dd_code:"passport_car_type", required:true}' />
            </div>

            <div class="form-group col">
                <label for="carNumber">车号<i class="red">*</i></label>
                <input type="text" id="carNumber" name="carNumber" class="form-control" value="${passport.carNumber!}" required>
            </div>
            <div class="form-group col">
                <label for="validPeriod">有效期<i class="red">*</i></label>
                <select id="validPeriod"  name="validPeriod" class="form-control" required></select>
                <#bcomboProvider _id="validPeriod" _value="${passport.validPeriod!}"
                _provider="dataDictionaryValueProvider"
                _queryParams='{dd_code:"labor_interval", required:true}' />
            </div>
            <div class="form-group col">
                <label for="startTime">开始日期<i class="red">*</i></label>
                <input type="text" id="startTime" name="startTime" class="form-control laydate laystart" value="${passport.startTime!,localDateTimeFormat='yyyy-MM-dd'}" required>
            </div>
            <div class="form-group col">
                <label for="endTime">结束日期<i class="red">*</i></label>
                <input type="text" id="endTime" name="endTime" class="form-control laydate layend" value="${passport.endTime!,localDateTimeFormat='yyyy-MM-dd'}" required>
            </div>
            <div class="form-group col">
                <label for="tollAmount" class="">通行费<i class="red">*</i></label>
                <input id="tollAmount" type="number" class="form-control floatReserve money" name="tollAmount" range="0 9999999.99" value="<#centToYuan value='${passport.tollAmount}'/>" required />
            </div>

        </div>

        <div class="breadcrumb">
            金额信息
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#moneyInfo" aria-expanded="true" aria-controls="moneyInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div class="row  row-cols-4 collapse show" id="moneyInfo">
            <div class="form-group col">
                <label for="amount" class="">合计金额<i class="red">*</i></label>
                <input id="amount" type="number" class="form-control floatReserve money"name="amount" range="0 9999999.99" value="<#centToYuan value='${passport.amount}'/>" readonly />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-8">
                <label for="notes">备注</label>
                <input id="notes" class="form-control" name="notes" rows="1" maxlength="100" value="${passport.notes!}"/>
            </div>
        </div>

        <div class="text-right btn-r-b">
            <button type="button" class="btn btn-secondary px-5" onclick="javascript: parent.dia.hide()">取消</button>
            <button type="button" class="btn btn-primary px-5" id="save">保存</button>
        </div>
    </form>
</div>

</#bs4Body>

<#js_customerAutocompleteJs/>

<#passport_preSaveJs />